/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.14 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2019, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
body{min-width:0;}
html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: hidden;
}

.featherlight {
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647; /* z-index needs to be >= elements on the site. */

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
	/*background: rgba(0, 0, 0, 0.8);*/
	background: #fff;
}

.featherlight:before {
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: left;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	padding: 25px 25px 0;
	border-bottom: 25px solid transparent;

	/* dimensions: handling large content */
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;

	/* styling */
	background: #fff;
	cursor: auto;

	/* reset white-space wrapping */
	white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
	/* make sure its visible */
	display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
	display: none;
}

.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    right: 10px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: none;
    color: #fff;
    border: none;
    font-size: 2em;
    padding: 0;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.featherlight .featherlight-image {
	/* styling */
	width: 100%;
}


.featherlight-iframe .featherlight-content{
	/* dimensions: 1140px prevents iframe from spanning the full width of the browser */
	width: 100%;
	max-width: 1140px;

	/* spacing */
	margin: 0;
	padding: 0;
}

.featherlight-iframe .featherlight-inner{
	/* positioning */
	display: block;
	float: left;
	position: relative;

	/* dimensions */
	width: 100%;
}

.featherlight .featherlight-inner:after{
	/* dimensions */
	content: "";
	float: left;
	width: 100%;
	padding-top: 57%;
	display: block;
	position: relative;
}

.featherlight iframe {
	/* position */
	position: absolute;

	/* dimensions */
	width: 100%;
	height: 100vh;

	/* styling */
	border: none;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ModalTopArea{
	width:100%;
	text-align:center;
	height:40px;
	background:rgba(0, 0, 0, 0.7);
}

.ModalTopText{
	color:#FFF;
	font-size:1.5em;
	font-weight:600;
	line-height:40px;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: 100%;

		padding: 0px 0px 0;
		border-bottom: 0px solid transparent;
	}
}

/* hide non featherlight items when printing */
@media print {
	html.with-featherlight > * > :not(.featherlight) {
		display: none;
	}
	.featherlight-iframe .featherlight-content{
		margin: 0;
	}
}

