/*배너 이미지 확인 팝업*/

.pop-layer .pop-container {
    padding: 10px 10px;
}

.pop-layer .btn-r {
    background: #2f409f;
    padding: 10px;
    width: 100%;
    padding-top: 10px;
    text-align: right;
}

.pop-layer .btn-r .btn-layerClose {
    padding: 10px;
}

.pop-layer .btn-r .btn-layerClose .fa {
    font-size: 25px;
    color: #fff;
}

.pop-layer {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    width: auto;
    min-width: 700px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;
    border: 5px solid #3f51b5;
    z-index: 10;
}

.dim-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 125%;
    height: 125%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
    display: block;
}

