<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>오더스테이션 2020 2월 News Letter</title>
<style type="text/css">
    body {
        margin: 0px;
    }
</style>


<div align="center">
    <table width="900" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td><img src="https://www.orderstation.co.kr/newsletter/202002/img/1.jpg" width="1200" height=""></td>
        </tr>
        <tr>
            <td>
                <a href="https://www.orderstation.co.kr/shop/event.php?ev_id=1580195861" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202002/img/2.jpg" width="1200" height=""></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.orderstation.co.kr/shop/" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202002/img/3.jpg" width="1200" height=""></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


