@charset "utf-8";

/* 오늘 본 상품 */
#stv{position:relative;}
#stv h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#stv_ul{padding:10px 0}
#stv_ul:after {display:block;visibility:hidden;clear:both;content:""}
#stv_ul li{float:left;width:33.333%}
#stv_ul li img{width:100%;height:auto}
#stv_pg {display:block;text-align:center;margin: 0;line-height:20px}
.stv_item {display:none;padding: 3px;word-break:break-all}
#stv_btn{position:relative}
#up{position:absolute;top:0px;left:5px;background:url(img/btn_prev.gif) no-repeat 50% 50%;width:30px;height:20px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}
#down{position:absolute;top:0px;right:5px;background:url(img/btn_next.gif) no-repeat 50% 50%;width:30px;height:20px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}
#stv .li_empty{text-align:center;padding:50px 0;color:#666;}

/*메인배너*/
#main_bn{position:relative;}
#main_bn img{width:100%;height:auto}
#main_bn .bx-prev{position:absolute;z-index:10;top:50%;left:0;margin-top:-20px;background:url(img/btn_prev.png) no-repeat 50% 50%;width:40px;height:40px;background-size:50%;text-indent:-999px;overflow:hidden;opacity:0.6}
#main_bn .bx-next{position:absolute;z-index:10;top:50%;right:0;margin-top:-20px;background:url(img/btn_next.png) no-repeat 50% 50%;width:40px;height:40px;background-size:50%;text-indent:-999px;overflow:hidden;opacity:0.6}
#main_bn .swiper-pagination-bullet{display:inline-block;margin:2px;opacity:1;width:10px;height:10px;background:#fff;border-radius:5px;text-indent:-999px;overflow:hidden;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
#main_bn .swiper-pagination-bullet-active{background:#555;width:18px}

/*사이드배너*/
#sbn_side{margin: 5px}
#sbn_side h2  {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sbn_side ul:after {display:block;visibility:hidden;clear:both;content:""}
#sbn_side img{width:100%;height:auto}
#sbn_side li{float:left;width:50%;padding:5px}

/* 쇼핑몰 이벤트 */
#sev {text-align:center;margin:10px}
#sev .bx-wrapper{;position:relative}
#sev h2 {text-align:center;font-size:1.25em;display:inline-block;padding-bottom:5px;margin: 0 0 10px;border-bottom:2px solid #000;}
#sev li img{width:100%}
.sev_admin{margin:10px;text-align:right}
#sev  .bx-pager-item{display:inline-block;margin:2px}
#sev .bx-pager-link{display:inline-block;width:10px;height:10px;background:#fff;border-radius:5px;text-indent:-999px;overflow:hidden;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
#sev .active{background:#555;width:18px}
#sev_list{margin:10px}
#sev_list #sct_sort{background:#fff}

/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:10px 10px 30px;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {text-align:center;font-size:1.25em;margin:40px 0 0 }
.sct_wrap h2 a {display:inline-block;padding-bottom:5px;border-bottom:2px solid #000;text-decoration:none;}

.sct {margin: 10px 0 ;padding:0;list-style:none;zoom:1;clear:both;}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative;text-align:center}
.sct_noitem {padding:50px 0;text-align:center}
.sct_icon img {margin:0 1px 0 0}
.sct_sns a {display:inline-block;margin:0 2px;width:28px;height:28px;line-height:28px;border-radius:3px;font-size:0;text-align:center}
.share-facebook{background:#415b92}
.share-twitter{background:#35b3dc}
.share-googleplus{background:#d5503a}
.share-kakaotalk{background:#ffeb00}
.sct_sns img{width:20px;height:auto;vertical-align:middle;}
.sct_sns button {margin:0 4px 0 0;padding:0;border:0}
.sct_icon .shop_icon{display: inline-block;color: #fff;background: #a8aab1;line-height: 20px;padding: 0 5px;font-size: 0.92em;margin: 1px;}
.sct_icon .shop_icon_soldout {display: inline-block;color: #ff0000;font-style: italic;font-weight: bold;margin: 2px;}

.mli_btn button{background:url(img/mainlist_btn.gif) no-repeat; width:30px; height:30px;border:none;text-indent:-9999px}
.mli_btn button.mli_pre{position:absolute;top:0;left:10px}
.mli_btn button.mli_next{background-position: -33px 0;position:absolute;top:0;right:10px}



/* 상품 목록 스킨 10 */
.sct_10{margin:10px -5px}
.sct_10 .sct_li {;float:left;text-align:center;padding:5px ;margin-bottom:10px;}
.sct_10 .sct_li .li_wr{position:relative;background:#fff;padding-bottom:5px}
.sct_10 .sct_img{margin-bottom:10px;border-bottom:1px solid #ddd;font-size:0}
.sct_10 .sct_img img{width:100%;height:auto;}
.sct_10 .sct_clear{clear:both}
.sct_10 .sct_id{margin:5px  10px;font-size:0.92em;color:#666 }
.sct_10 .sct_txt{word-wrap: break-word;height:50px;margin: 0 0 8px;display: block;font-size: 14px;line-height: 19px;font-weight: 400;letter-spacing: -0.35px;}
.sct_10 .sct_cost{margin-top:10px;min-height: 26px;}
.sct_10 .sct_sns{margin:10px  5px}
.sct_10 .sct_icon {margin:5px 10px }
.sct_10 .sct_icon .shop_icon_4{padding: 0 5px;line-height:20px;position: absolute;top: 0;left: 0;background: #fb5861;color: #fff;font-size: 12px;border:0}
.li_more{text-align:center}

#item_load_msg{display:none}
#btn_more_item{height: 43px;font-weight: 400;width:100%;border:1px solid #c8c8c8;border-bottom-color:#aaa;font-size:1.167em;color: #282828;line-height: 43px;background:none}

/* 상품 목록 스킨 20 */
.sct_20 .sct_li{background:#fff;border-bottom:1px solid #e6e6e6;width:100%;padding:10px;text-align:left}
.sct_20 .sct_img {font-size:12px;position:absolute;top:0;left:0}
.sct_20 .li_wr{position:relative}
.sct_20 .sct_id{margin:0px 10px 5px;font-size:0.92em;color:#666 }
.sct_20 .sct_barnd_name{font-weight:bold;font-size:1.083em;line-height:1.5em}
.sct_20 .sct_txt{font-weight:bold;font-size:1.083em;margin-bottom:10px;line-height:1.5em}
.sct_20 .sct_cost{ font-size: 16px;letter-spacing: -0.16px;font-weight: bold;line-height: 1;}
.sct_20 .sct_sns{margin:10px 10px}
.sct_20 .li_wr.is_view_type_list{padding-left:130px;height:130px}
.sct_20 .li_wr.is_view_type_list .sct_img{width:130px}
.sct_20 .li_wr.is_view_type_list .sct_img a{display:block}
.sct_20 .li_wr.is_view_type_list .sct_img img{width:100%;height:auto}
.promotion {padding-left:10px;}

/* 상품 목록 스킨 30 */
.sct_30 .sct_li{;width:100%;margin:5px 0; text-align:left;width:100%;float:left}
.sct_30 .sct_img img{width:100%;height:auto} 
.sct_30 .sct_img{border-bottom:1px solid #e6e6e6;font-size:0}
.sct_30 .sct_txt_wr{padding:10px;border-bottom:1px solid #ddd;background:#fff}
.sct_30 .sct_id{margin:5px 0;font-size:0.92em;color:#666 }
.sct_30 .sct_txt{font-weight:bold;font-size:1.083em;margin:5px 0;line-height:1.5em}
.sct_30 .sct_cost{margin:5px 0}

@media (max-width:639px){
    .sct_30 .sct_clear{clear:both}
}
@media (min-width: 640px)and (max-width:969px){
    .sct_30 .sct_li{width:50%;padding:0 5px}
    .sct_30 .sct_li:nth-child(2n+1){clear:both}
}
@media (min-width: 970px){
    .sct_30 .sct_li{width:25%;padding:0 5px}
    .sct_30 .sct_li:nth-child(4n+1){clear:both}

}


/* 관련상품 목록 스킨 10 */
#sit_rel{background:#fff}
#sit_rel h2{text-align:left;padding:10px 15px;font-size:1.167em;background:#f5f5f5;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;}
#sit_rel .sct_wrap{margin:0}
.srl_10{padding:10px }
.srl_10:after {display:block;visibility:hidden;clear:both;content:""}
.srl_10 li{float:left;width:33.333%;padding:5px;text-align:left}
.srl_10 li img{width:100%;height:auto;}
.srl_10 .sct_clear{clear:both}
.srl_10 .sct_txt{display:block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height:60px;}

/* 베스트상품 스킨 10 */
#best_item{margin:20px 0 ;overflow:hidden;position:relative}
#best_item h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#best_item #sbest_list{width:100%;overflow:hidden;}
#best_item .slide-wrap{margin:0px;overflow:hidden;position:relative;top:0;left:0;float:left;}
#best_item .slide-wrap:after {display:block;visibility:hidden;clear:both;content:""}
#best_item .sct_best{width:100%;position:relative;padding:0;float:left;}
#best_item .best_on{}
.sct_best .sct_li {position:relative;float:left}
.sct_best .sct_last {margin:0 0 15px !important}
.sct_best .sct_clear {clear:both;margin-left:0}
.sct_best .sct_a {display:block;position:relative;text-decoration:none;font-weight:bold; text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}
.sct_best .sct_txt .sct_a {margin:0 0 5px;}
.sct_best .sct_a img{width:100%;height:auto}
.sct_best .sct_id {display:block;margin:0 0 5px}
.sct_best .sct_basic {margin:0 0 10px}
.sct_best .sct_cost {display:block;margin:0 0 10px;font-size:0.917em}
.sct_best .sct_icon {margin:0 0 10px}
.sct_best .sct_sns {margin:15px 0 0}
.sct_best .sct_img{position:relative;margin:0 5px 5px ;}
.sct_best .best_icon{padding:5px;position:absolute;top:0;left:0;background:#ff8800;color:#fff;font-size: 12px;}
.bst_silde_btn{text-align:center;clear:both;margin:10px 0 }
.bst_silde_btn button{border:0;display:inline-block;width:10px;height:10px;background:#fff;border-radius:5px;text-indent:-999px;overflow:hidden;margin:3px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
.bst_silde_btn button.bst_sl{background: #d5503a;width: 18px;}

/* 개인결제 목록 */
#sct_pv{margin:10px 5px}
.sct_pv {margin:10px 0}
.sct_pv .sct_li {position:relative;float:left;position:relative;float:left;margin-bottom:10px;}
.sct_pv .sct_img{padding:0 5px}
.sct_pv .sct_img a{}
.sct_pv .sct_img img{width:100%;}
.sct_pv .sct_last {margin:0 0 15px !important}
.sct_pv .sct_clear {clear:both}
.sct_pv .sct_a {display:block;position:relative;margin:0 0 5px;text-decoration:none;  font-weight: bold;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;  line-height: 20px;}
.sct_pv .sct_id {display:block;margin:0 0 5px}
.sct_pv .sct_basic {margin:0 0 10px}
.sct_pv .sct_cost {display:block;margin:0 0 10px;}
.sct_pv .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_pv .sct_icon {margin:0 0 10px}
/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {margin:10px}
.sct_admin {margin:0 0 10px;text-align:right}
#sit_hhtml img{max-width:100%;height:auto}

/* 상품 목록 현재 위치 */
#sct_location {border:1px solid #e9e9e9;background:#f2f5f9;letter-spacing:-4px}
#sct_location a {display:inline-block;padding:5px 10px;text-decoration:none;letter-spacing:0 !important}
.sct_here {font-weight:bold}
.sct_bg {padding-right:13px !important;background:url('img/sct_bg_toright.gif') right 8px no-repeat}

/* 상품 목록 카테고리 목록 */
.sct_ct {text-align:center;width:100%;margin:10px 0}
.sct_ct h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sct_ct ul {list-style:none;}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct ul li {border-right:1px solid #ddd;border-bottom:1px solid #ddd; background:#fff;float:left;width:50%;text-align:left;}
.sct_ct a {text-decoration:none;display:block;color:#656565;padding:10px;position:relative;padding-right:25px;position:relative;line-height:20px}
.sct_ct .prd_cnt{position:absolute;top:10px;right:10px;display:inline-block;line-height:20px;padding:0 5px;background:#eee;border-radius:10px;color:#777}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

/* 상품 정렬 */
#sct_sortlst{position:relative;background:#fff;border-bottom:1px solid #ddd;}

#sct_sort1 {clear:both}
#sct_sort1:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort1 h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sct_sort1 button{height:40px;line-height:40px;border:0;padding:0 10px;background:#fff}
#sct_sort1 ul:before{content: "";position: absolute;top: -8px;left: 30px;width: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #bbb transparent;}
#sct_sort1 ul:after{content: "";position: absolute;top: -7px;left: 30px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}
#sct_sort1 ul {display:none;position:absolute;border:1px solid #bbb;z-index:99}
#sct_sort1 li {border-top:1px solid #eee}
#sct_sort1 li a{display:block;text-align:center;color:#333;background:#fff;border-color:#e9e9e9;font-size:0.917em;padding:5px 10px;line-height:20px}

#sct_sort2 {clear:both;}
#sct_sort2:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort2 h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sct_sort2 button{height:40px;line-height:40px;border:0;padding:0 10px;background:#fff}
#sct_sort2 ul:before{content: "";position: absolute;top: -8px;left: 30px;width: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #bbb transparent;}
#sct_sort2 ul:after{content: "";position: absolute;top: -7px;left: 30px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}
#sct_sort2 ul {display:none;position:absolute;border:1px solid #bbb;z-index:99}
#sct_sort2 li {border-top:1px solid #eee}
#sct_sort2 li a{display:block;text-align:center;color:#333;background:#fff;border-color:#e9e9e9;font-size:0.917em;padding:5px 10px;line-height:20px}

/* 상품 리스트 스타일 선택 */
#sct_lst {position:absolute;top:0;right:0;padding:0;list-style:none}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;}
#sct_lst button {position:relative;padding:0;width:40px;height:40px;border:0;border-left:1px solid #ddd;background:#fff;font-size:15px}

/* 상품 상세보기 */
#sit {margin: 0;border-top:1px solid #e9e9e9}
.sit_admin {margin:10px 10px 0;text-align:right}
.sit_empty {padding:30px 0;text-align:center}

/* 상품상세 */
#info_content {padding:0 10px 30px;zoom:1}
#info_content:after {display:block;visibility:hidden;clear:both;content:""}
#info_content h3 {margin:0 0 10px}
.if_tit{text-align:center;margin-top:10px;padding:10px;background:#f5f5f5;border:1px solid #e9e9e9;}
.win_desc_if{border:1px solid #e9e9e9;padding:10px;border-top:none;}
.win_desc{margin-top:10px}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:0 0 20px;}
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi {position:relative;margin:0 10px ;border-bottom:1px solid #e9e9e9;background:#fff;text-align:center}
#sit_pvi_prev {position:absolute;top:50%;left:0;margin-top:-20px;background:url(img/btn_prev.png) no-repeat 50% 50%;width:40px;height:40px;background-size:50%;text-indent:-999px;overflow:hidden;opacity:0.8}
#sit_pvi_next {position:absolute;top:50%;right:0;margin-top:-20px;background:url(img/btn_next.png) no-repeat 50% 50%;width:40px;height:40px;background-size:50%;text-indent:-999px;overflow:hidden;opacity:0.8}
.sit_pvi_btn {display:none;z-index:10;width:20px;border:0;background:#f2f5f9}
#sit_pvi_slide {position:relative;margin:0 auto;overflow:hidden;list-style:none;}
#sit_pvi_slide li {display:none;position:absolute;left:0;top:0}
#sit_pvi_nw h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 20px;padding:0 10px;list-style:none;zoom:1}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {float:left;margin:0 0 1px 1px}
#sit_pvi_nw li img {width:60px;height:60px}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {background:#fff;margin:0 10px ;border-bottom:1px solid #e9e9e9;text-align:center;position:relative}
#sit_siblings:after {display:block;visibility:hidden;clear:both;content:""}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;padding:0 12px;line-height:45px}
#sit_siblings a#siblings_prev {position:absolute;top:0;left:0}
#sit_siblings a#siblings_next {position:absolute;top:0;right:0}
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 - sns */
#sit_star_sns {position:relative;margin:0 10px 10px;background:#fff;border-top:0;height:45px;padding:10px;line-height:25px;border-bottom:1px solid #ccc }
#sit_star_sns span {display:inline-block;margin:0 5px 0 0;color:#666;letter-spacing:0}
#sit_star_sns .sit_star {position:relative;margin:0 5px 0 0;vertical-align:top}

#sit_star_sns a {display:inline-block;vertical-align:middle}
#sit_star_sns .btn_sns_share{position:absolute;top:0;right:0;width:45px;height:45px;background:none;border:0;border-left:1px solid #e5e5e5}
#sit_star_sns .sns_area{display:none;position:absolute;top:45px;right:0;background:#fff;border:1px solid #333;padding:10px;z-index:10}
#sit_star_sns .sns_area:before{content: "";position: absolute;top: -8px;right: 13px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #000 transparent;}
#sit_star_sns .sns_area:after{content: "";position: absolute;top: -7px;right: 13px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}
#sit_star_sns .sns_area a{display:inline-block;width:35px;height:35px;line-height:35px;background:#eee;text-align:center;}
#sit_star_sns .sns_area a img{width:24px;height:auto;vertical-align:top}
#sit_star_sns .sns_area #sit_btn_rec {font-size:15px}
#sit_star_sns .sns_area .share-googleplus{background:#d5503a;padding:5px 0}
#sit_star_sns .sns_area .share-facebook{background:#415b92;padding:5px 0}
#sit_star_sns .sns_area .share-twitter{background:#35b3dc;padding:5px 0}
#sit_star_sns .sns_area .share-kakaotalk{background:#ffeb00;padding:5px 0}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;height:auto !important;}
#sit_ov h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_ov h3 {margin:0 0 10px;color:#5772d5}
#sit_ov .sit_ov_wr{margin:10px;background:#fff;border-bottom:1px solid #ccc}

.sct_price_title {margin-top: 15px;font-size: 12px;font-weight: 400;}
.sct_price {font-size: 16px;letter-spacing: -0.16px;font-weight: bold;line-height: 1;}
.sct_original_price{font-size: 13px;letter-spacing: -0.13px;line-height: 1;display: block;margin-left: 5px;color: rgb(157, 157, 157);font-weight: 400;}
.sct_price_red {color: #ff3918;font-size: 13px;font-weight: 900;}
.sct_price_discount {color: #aaa}
/* .sct_price_font {font-family: "Malgun Gothic";} */

.sit_option{background:#fff;padding:15px;margin:10px}
.sit_option label{display:block;margin: 0 0 5px}
.sit_option select{width:100%;height:30px;border:1px solid #d9d9d9;margin:0 0 5px}

#sit_title {display:block;padding: 15px;font-size:1.5em;line-height:1.3em}
#sit_desc {padding:0 15px 10px;color:#666;line-height:1.25em}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_icon {display:block;margin: 0 0;}
.sit_icon img {margin:0 1px 0 0;vertical-align:top;margin:0 1px}

#sit_star {color:#b8afa2;font-size:0.95em;padding:0 10px;line-height:2.2em}
#sit_star span {display:inline-block;margin:0 5px 0 0;color:#666;letter-spacing:0}
#sit_star .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_star a {display:inline-block;vertical-align:middle}
#sit_star button {margin:0;padding:0;border:0}

.sit_ov_tbl {border-top:1px solid #e6e6e6;padding:10px 0;color:#777}
.sit_ov_tbl table{border-collapse:collapse;width:100%;border:0;}
.sit_ov_tbl th {font-weight:normal;text-align:left;padding:5px 15px;}
.sit_ov_tbl td {padding:5px 15px}
.sit_ov_tbl tr:first-child td,.sit_ov_tbl tr:first-child th{border:none}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {height:1.8em;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
.sit_ov_tbl button {margin:0}

.sit_op_sl{width:100%;border-collapse:collapse;border:1px solid #e9e9e9;}
.sit_op_sl th{font-weight:normal;text-align:left;padding:0 0 0 10px;}
.sit_op_sl td{text-align:left;padding:9px 10px 9px 0}

.sit_sel_btn {position:relative;top:-15px;right:-2px} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {width:100%}

#sit_ov_soldout {margin:0 0 20px;color:#ff3061;font-weight:bold;text-align:center}
#sit_ov_btn {margin:0;padding:0 10px;text-align:center;}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_btn_cart{float:left;width:39%;margin-right:1%;height:50px;background:#ff8800;font-weight:bold;border:0;color:#fff;font-weight:bold}
#sit_btn_buy{float:left;width:39%;margin-right:1%;height:50px;border:1px solid #ff8800;color:#ff8800;font-weight:bold;background:#fff;font-weight:bold}
#sit_btn_wish{float:left;width:20%;display:inline-block;height:50px;line-height:48px;text-align: center;font-size: 1.25em;border: 1px solid #b3b3b3;font-weight: bold;background:#fff}
#sit_sel_option,#sit_tot_price{margin: 10px}
#sit_tot_price{text-align:right;font-size:1.167em}
#sit_tot_price span{float:left}
#sit_tot_price strong{font-size:1.25em;color:#ff0000}

#sit_tab{margin:20px 0}
#sit_tab .tab_tit:after {display:block;visibility:hidden;clear:both;content:""}
#sit_tab .tab_tit li {float:left;width:25%;text-align:center;}
#sit_tab .tab_tit li button{display: block;width:100%;position: relative;height: 40px;background: #f7f7f7;border: 1px solid #cdcdcd;border-left:0;border-bottom: 1px solid #666;color: #666;line-height: 38px;text-align: center;z-index: 1;}
#sit_tab .tab_tit li .selected{border: 1px solid #666;background: #fff;z-index: 2;border-bottom-color: #fff;color: #000;font-weight: bold;}
#sit_tab .tab_con{background:#fff;border-bottom:1px solid #ccc;padding:15px}


/* 상품 상세보기 - 상품정보 */
#sit_inf_basic {margin:0 0 20px}
#sit_inf_explan {margin:0 0 10px;line-height:1.5em}
/*#sit_inf_explan img {max-width:100%;height:auto}*/
#sit_inf_explan img:not(.over_img) {width:100%;height:auto}
#sit_inf_open {margin:0;padding:0;list-style:none}
#sit_inf_open li {margin:0 0 1px;padding:8px 0;background:#fff;border:1px solid #f2f2f2;border-top:none;color:#727272}
#sit_inf_open li:after {display:block;visibility:hidden;clear:both;content:""}
#sit_inf_open strong {clear:both;float:left;padding:0 1%;width:28%;letter-spacing:-0.1em}
#sit_inf_open span {float:left;margin:0;padding:0 1%;width:68%}
#sit_inf h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_inf h3 {position:absolute;font-size:0;line-height:0;content:""}

#sit_inf_open {width:100%;border:0;border-top:1px solid #777;border-collapse:collapse;margin:10px 0 0}
#sit_inf_open th {padding: 10px;border-bottom:1px solid #e5e5e5;background:#f3f3f3;vertical-align:top;text-align:left;width:30%}
#sit_inf_open td {padding: 10px;border-bottom:1px solid #e5e5e5;background:#fff;vertical-align:top}

@media (max-width: 640px){
    #sit_inf_open th,#sit_inf_open td{display:block;width:100%}
}

/* 상품 상세보기 - 사용후기 */
.tit_no{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_use h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_use_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_use_li {position:relative;padding:0 0 10px;border-bottom:1px solid #e9e9e9;}
.sit_use_li_title {display:block;margin:0;padding:10px 10px 5px;width:100%;border:0;background:transparent;text-align:left;font-weight:bold;font-size:1.167em;line-height:1.35em}
.sit_use_dl {margin:0;padding:0 10px;position:relative;line-height:1.25em}
.sit_use_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl dt {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_use_dl dd {float:left;margin:0 10px 0 0;color:#888;font-size:0.917em}
.sit_use_star {margin:0 !important;position:absolute;bottom:0;right:10px}
.sit_use_star img{width:80px}
.sit_use_con {display:none;padding:10px 0 0;}
.sit_use_p {padding:10px;background:#f2f2f2}
.sit_use_cmd {text-align:right}
.sit_use_cmd a.btn01{padding: 5px;}
#sit_use_wbtn {margin:10px 0}
#sit_use_wbtn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_use_wbtn .btn01{height:40px;line-height:38px;width:49%;float:right;text-align:center;}
#sit_use_wbtn .qa_wr {height:40px;line-height:40px;width:49%;float:left;text-align:center;background:#ff8800;color:#fff;}
#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px;}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}
#sit_use_write_star:after {display:block;visibility:hidden;clear:both;content:""}
#sit_use_write_star li{float:left;width:50%}
#sit_use_write_star li img{vertical-align:middle}
.sit_use_reply{position:relative;border-top:1px dotted #bbb;margin:10px 0 0 ;padding:10px 0 0 40px}
.use_reply_icon{position:absolute;top:10px;left:5px;background:url('./img/use_reply.png') no-repeat 0 0; width:28px;height:17px;text-indent:-999px;overflow:hidden;}
.use_reply_tit{font-weight:bold;line-height:1.5em}
.use_reply_name{font-size:0.92em;color:#777;margin:5px 0}
.use_reply_p{padding:10px;background:#f2f2f2;line-height:1.5em}


/* 상품 상세보기 - 상품문의 */
#sit_qa {}
#sit_qa h2{position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_qa_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_qa_li {position:relative;padding:0 0 10px;border-bottom:1px solid #e9e9e9;}
.sit_qa_li_title  {display:block;margin:0;padding:10px 10px 5px;width:100%;border:0;background:transparent;text-align:left;font-weight:bold;font-size:1.167em;line-height:1.35em}
.sit_qa_dl {margin:0;padding:0 10px;position:relative}
.sit_qa_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl dt {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_dl dd {float:left;margin:0 10px 0 0;color:#888;font-size:0.917em}
.sit_qa_dl dd.sit_qaa_yet,.sit_qa_dl dd.sit_qaa_done{position:absolute;bottom:0;right:0;background:#eee;padding:5px 8px;color:#888;border-radius:15px}
.sit_qa_dl dd.sit_qaa_done{background:#ff3e5e;color:#fff}
.sit_qa_con {display:none;padding:10px 0 0}
.sit_qa_p {margin:0 0 10px;border:1px solid #e9e9e9;background:#fff;padding:0 10px;background:#f2f2f2;}
.sit_qa_p strong {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.sit_qa_p span.sit_alp{position:absolute;top:10px;left:0;color:#bbb;font-size:1.5em;font-weight:bold;width:25px;height:25px;line-height:25px;display:inline-block;border-radius:15px;text-align:center;}
.sit_qa_qaq,.sit_qa_qaa {padding:15px 0 10px 30px;position:relative;min-height:70px}
.sit_qa_qaa {border-top:1px dotted #ddd}
.sit_qa_qaa  span.sit_alp{}
.sit_qa_con textarea {display:none}
.sit_qa_cmd {text-align:right}
.sit_qa_cmd a.btn01{padding:5px;}
.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}

#sit_qa_wbtn {margin:10px 0}
#sit_qa_wbtn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_qa_wbtn .btn01{height:40px;line-height:38px;width:49%;float:right;text-align:center;}
#sit_qa_wbtn .qa_wr {height:40px;line-height:40px;width:49%;float:left;text-align:center;background:#ff8800;color:#fff;}

/* 사용후기 모음 */
#sps_sch {margin:10px 10px}
#sps_sch a {display:block;padding:0 8px;height:40px;line-height:40px;vertical-align:top;border-radius:3px;color:#3059c7;font-weight:bold;border:1px solid #3059c7;text-decoration:none;text-align:center;margin: 5px 0}
#sps_sch .sch_wr{background:#fff;border:1px solid #bdc2d8;position:relative;border-radius:3px}
#sps_sch .sch_wr:after {display:block;visibility:hidden;clear:both;content:""}
#sps_sch select{border:0;background:#fff;margin:9px 0;height:20px;border-right:1px solid #ddd;float:left;width:40%}
#sps_sch .sch_input{height:38px;border:0;padding:0;background-color:transparent;float:left;width:60%;padding:0 40px 0 10px}
#sps_sch .sch_btn{height:38px;position:absolute;top:0;right:0;border:0;width:40px;background:none;font-size:15px}

#sps {zoom:1}
#sps ol {margin:10px;padding:0;border-top:1px solid #e9e9e9;list-style:none;}
#sps li {position:relative;padding:10px;border-bottom:1px solid #ccc;background:#fff;margin: 0 0 5px}
#sps li:after {display:block;visibility:hidden;clear:both;content:""}

.sps_img{position:absolute;top:10px;left:10px;}
.sps_img img{border-radius:50%;}
.sps_img span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sps dl {margin:5px 0 ; color: #888;  font-size: 0.917em;overflow:hidden}
#sps dt {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sps dd {float:left;margin:0 10px 0 0 ;line-height:18px;height:18px }
#sps dd img {position:relative;top:-2px}

.sps_section {margin-left:80px;display:block;}
.sps_section .is_use_reply{background:url('../mobile/shop/img/use_reply.png') no-repeat;text-indent:30px;line-height:1.5em}
.sps_section p {padding:0;width:100%}
.sps_con_full {padding:0;height:auto !important}
.sps_con_btn {margin:5px 0 0;}
.sps_con_btn button {border: 1px solid #ddd;padding: 5px 8px;color: #666;font-size: 0.92em;margin: 5px 0;background: #fff;}

.sps_reply{margin-top:10px;padding-top:10px;border-top:1px dotted #bbb;position:relative}
.sps_reply .sps_img {;width:50px;text-align:center}
.sps_reply .sps_section h2{background:url('./img/use_reply.png') no-repeat 0 0;text-indent:30px;line-height:1.5em;}
.sps_reply .sps_section{margin-left:70px;min-height:50px}
#sps_empty{text-align:center;color:#777;padding:50px 0}

/* 상품문의 모음 */
#sqa_sch {margin:10px 10px}
#sqa_sch a {display:block;padding:0 8px;height:40px;line-height:40px;vertical-align:top;border-radius:3px;color:#3059c7;font-weight:bold;border:1px solid #3059c7;text-decoration:none;text-align:center;margin: 5px 0}
#sqa_sch .sch_wr{background:#fff;border:1px solid #bdc2d8;position:relative;border-radius:3px}
#sqa_sch .sch_wr:after {display:block;visibility:hidden;clear:both;content:""}
#sqa_sch select{border:0;background:#fff;margin:9px 0;height:20px;border-right:1px solid #ddd;float:left;width:40%}
#sqa_sch .sch_input{height:38px;border:0;padding:0;background-color:transparent;float:left;width:60%;padding:0 40px 0 10px}
#sqa_sch .sch_btn{height:38px;position:absolute;top:0;right:0;border:0;width:40px;background:none;font-size:15px}

#sqa {zoom:1;}
#sqa ol {margin:10px;padding:0;border-top:1px solid #e9e9e9;list-style:none;}
#sqa li {position:relative;padding:10px;border-bottom:1px solid #ccc;background:#fff;margin: 0 0 5px}
#sqa li:after {display:block;visibility:hidden;clear:both;content:""}

.sqa_img {position:absolute;top:10px;left:10px;}
.sqa_img img{border-radius:50%;}
.sqa_img span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sqa dl {margin:5px 0 10px; color: #888;  font-size: 0.917em;overflow:hidden;}
#sqa dt {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sqa dd {float:left;margin:0 10px 0 0;}
#sqa dd img {position:relative;top:-2px}

.sqa_section {margin-left:80px;display:block}
.sqa_section h2{font-size:1.167em;font-weight:bold;margin:5px 0}
.sqa_section .sqa_con {background:#f3f3f3;line-height:1.7em}
.sqa_section p {padding:0;width:100%}
.sqa_con_full {padding:0;height:auto !important}
.sqa_con_btn {margin:5px 0 0}
.sqa_con_btn button {border: 1px solid #ddd;padding: 5px 8px;color: #666;font-size: 0.92em;margin: 5px 0;background: #fff;}

#sqa .sit_qa_qaq,#sqa .sit_qa_qaa {padding:10px 5px 10px 40px;position:relative}
.sqa_con .qa_alp{position:absolute;top:10px;left:15px;font-size:1.75em;color:#bbb}

#sqa_empty{text-align:center;color:#777;padding:50px 0}

/* 상품검색 */
#ssch{margin:10px}
#ssch_frm {border-bottom:1px solid #ccc;background:#fff;margin:10px 0}
#ssch_frm h2 {border-bottom:1px solid #ddd;padding:10px 15px;color:#666}
#ssch_frm h2 span{font-size:1.25em;color:#000}
#ssch_frm h2 strong{color:#ff8800}
#ssch_frm div{padding:10px 15px;line-height:30px;}
#ssch_frm p{padding:15px; background:#f5f5f5;color:#737373}
#ssch_frm .ssch_input{height:30px;border:1px solid #bbb;padding:0 10px;margin:3px 0}
#ssch_frm .btn_submit{height:30px;padding:0 10px;font-weight:bold}
#ssch_q{margin:0}

#ssch_cate {}
#ssch_cate ul {margin:10px 0;border-bottom:1px solid #e9e9e9;list-style:none}
#ssch_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#ssch_cate li {border-right:1px solid #ddd;border-bottom:1px solid #ddd; background:#fff;float:left;width:50%;text-align:left;}
#ssch_cate li a {text-decoration:none;display:block;color:#656565;padding:10px;position:relative;padding-right:25px;position:relative;line-height:20px}
#ssch_cate a span {position:absolute;top:10px;right:10px;display:inline-block;line-height:20px;padding:0 5px;background:#eee;border-radius:10px;color:#777}

#ssch_sort {background:#fff;border-bottom:1px solid #ccc}
#ssch_sort button{height:40px;line-height:40px;border:0;padding:0 10px;background:#fff}
#ssch_sort ul:before{content: "";position: absolute;top: -8px;left: 30px;width: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #bbb transparent;}
#ssch_sort ul:after{content: "";position: absolute;top: -7px;left: 30px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}
#ssch_sort ul {display:none;position:absolute;border:1px solid #bbb;z-index:99}
#ssch_sort li {border-top:1px solid #eee}
#ssch_sort li a{display:block;text-align:center;color:#333;background:#fff;border-color:#e9e9e9;font-size:0.917em;padding:5px 10px;line-height:20px}

/*배송교환정보*/
#sit_dvex h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_dvex h3 {font-size:1.167em;text-align:center;padding:10px 0;background:#f3f3f3;margin:0 0 10px}

/* 로딩안내 레이어 */
#loading_message {z-index:10000;position:absolute;top:0;left:0;background:#fff;opacity:0.7}
#loading_message img {position:relative;opacity:1.0}

/* 알림 box */
#fancyalert {display:block;z-index:10000;position:absolute;top:0;left:0}
#fancyalert_inner {display:table;z-index:2;position:relative}
#fancyalert_inner div {display:table-cell;vertical-align:middle;text-align:center}
#fancyalert_inner span {display:block;margin:0 auto;padding:30px;width:200px;background:#1f1f1f;color:#f0f1f2}
#fancyalert_inner button {margin:15px 0 0;padding:10px 30px;border:0;background:#000;color:#fff}
#fancyalert_bg {z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;vertical-align:middle;background:#000;text-align:center;opacity: 0.7}

#sit_sms_new .tbl_frm01 th {width:100px}

/*쿠폰존 리스트*/
.couponzone_list{margin:10px 10px ;background:#fff;border-bottom:1px solid #ccc;padding:20px}
.couponzone_list h2{margin:0 0 5px;font-size:1.25em;}
.couponzone_list p{margin:0 0 10px;}
.couponzone_list ul{padding:0;margin:0;list-style:none;background:#fff}
.couponzone_list ul:after {display:block;visibility:hidden;clear:both;content:""}
.couponzone_list ul li{padding:10px 0 ;line-height:1.2em;margin:5px 0}

.couponzone_list ul li .coupon_img{}
.couponzone_list ul li img{width:100%;height:auto}

.couponzone_list ul li img{width:100%;height:auto}
.couponzone_list ul li .coupon_img{}
.couponzone_list ul li .coupon_tit{margin:10px 0 5px;font-size:1.083em;line-height:1.4em;font-weight:bold;}
.couponzone_list ul li .coupon_date{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target a{color:#777;text-decoration:underline}
.couponzone_list ul li .coupon_point{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_btn{margin:10px 0 0;text-align:center}
.couponzone_list ul li .coupon_btn .btn02{width:100%;height:35px;padding:0;font-weight:bold;background:#8183c3;border:0}
.couponzone_list ul li .coupon_btn .btn02:hover{background:#5255cc;color:#fff}
.couponzone_list ul li .coupon_btn .disabled {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list ul li .coupon_btn .disabled:hover {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list .no_coupon{padding: 100px 0;text-align:center;color:#999}
#point_coupon li{height:250px;}


@media (min-width: 640px)and (max-width:969px){
    .couponzone_list ul li{width:50%;float:left;padding:10px}
    .couponzone_list ul li:nth-child(2n+1){clear:both;}

}
@media (min-width: 970px){
    .couponzone_list ul li{width:25%;float:left;padding:10px}
    .couponzone_list ul li:nth-child(4n+1){clear:both;}

}

/*폰트 SIZE*/
.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs16 {font-size: 16px;}
.fs18 {font-size: 18px;}
.fs20 {font-size: 20px;}
.fs22 {font-size: 22px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs26 {font-size: 26px;}
