/****************** 버튼 스타일 정의 ***********************/
.btn{border:1px solid #d9d9d9;  min-width:90px;border-radius:3px; font-size:12px; padding:6px 10px; line-height:18px; height:18px; text-align:center; display:inline-block;cursor:pointer;  transition: background .15s; text-decoration:none;letter-spacing:1px;}
.btn:hover{text-decoration:none; background-color:#b9b9b9; color:#fff; border:1px solid #bbb;}

.btn-small{padding:2px 10px; min-width:40px; line-height:17px; height:17px;}
.btn-big{min-width:100px; padding:10px 12px; font-size:12px; line-height:19px; height:19px;}

.btn-black{background-color:#222; color:#fff; border:1px solid #111;}
.btn-black:hover{background-color:#fff; color:#111; border:1px solid #111; }
.btn-white{background-color:#fff; color:#111; border:1px solid #ccc; }
.btn-white:hover{background-color:#f9f9f9; color:#111; border:1px solid #bbb; }
.btn-gray{background-color:#aaa; color:#fff; border:1px solid #9d9d9d; }
.btn-gray:hover{background-color:#777; color:#fff; border:1px solid #999; }
.btn-red{background:#ef4248; color:#fff; border:1px solid #ed2c31; }
.btn-red:hover{background:#ed2c31; border:1px solid #ed272d; }



/* reset */
li { list-style:none; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
h1, h3 { margin:0; }

/* common */
.ec-base-layer { position:absolute; z-index:100; border:1px solid #757575; background:#fff; }
.ec-base-layer .header { padding:7px 35px 7px 19px; color:#fff; background:#444444; }
.ec-base-layer .header > h1,
.ec-base-layer .header > h3 { font-size:14px; line-height:1.5; }
.ec-base-layer .content { padding:20px; font-size:12px; }
.ec-base-layer div.ec-base-help { margin-top:0; }
.ec-base-layer .ec-base-button { padding:9px; border-top:1px solid #d7d5d5; text-align:center; background:#fbfafa; }
.ec-base-layer .close { position:absolute; right:0; top:0; padding:11px 20px; cursor:pointer; }

/* popup */
#popup .ec-base-layer { position:relative; border:0; }
#popup .ec-base-layer .header { padding:12px 35px 12px 19px; }
#popup .ec-base-layer .close { top:5px; }

/* ec-base-table */
.ec-base-layer .content > .ec-base-table table:first-child { margin-top:0; }
.ec-base-layer .ec-base-table table { line-height:1.4; }
.ec-base-layer .ec-base-table thead th { padding:9px 0 8px; }
.ec-base-layer .ec-base-table tbody th { padding:9px 0 8px 10px; }
.ec-base-layer .ec-base-table td { padding:9px 10px 8px; }
  /* 가로형 - 쓰기타입 */
    .ec-base-layer .ec-base-table.typeWrite td { padding:5px 10px 4px; }
  /* 세로형 - 목록타입 */
    .ec-base-layer .ec-base-table.typeList tfoot td { padding:10px 10px 12px; }
  /* 테두리 타입 */
    .ec-base-layer .ec-base-table.typeBorder tfoot td { padding:10px 10px 12px; }


#popup { width:450px; }
.content { min-height:250px; }
.xans-link-bookmark .info { padding:153px 0 20px 0; text-align:center; font-size:12px; line-height:1.8em; background:url("http://img.echosting.cafe24.com/skin/base/link/bg_bookmark.gif") center 33px no-repeat; }
.xans-link-shortcut .info { padding:153px 0 20px 0; text-align:center; font-size:12px; line-height:1.8em; background:url("http://img.echosting.cafe24.com/skin/base/link/bg_shortcut.gif") center 33px no-repeat; }