<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>오더스테이션 2020 8월 News Letter</title>
<style type="text/css">
    body {
        margin: 0px;
    }
</style>


<div align="center">
    <table width="900" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td><img src="https://www.orderstation.co.kr/newsletter/202008/img/1.jpg" width="" height=""></td>
        </tr>
        <tr>
            <td>
                <a href="https://www.orderstation.co.kr/shop/event.php?ev_id=1593666385&utm_source=msg&utm_medium=2008msg&utm_campaign=2008_newsletter" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202008/img/2.jpg" width="" height=""></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://mb2.taejeongroup.com/mobile_app.html" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202008/img/3.jpg" width="" height=""></a>
            </td>
        </tr>
        <tr>
            <td><img src="https://www.orderstation.co.kr/newsletter/202008/img/4.jpg" width="" height=""></td>
        </tr>
        </tbody>
    </table>
</div>


