	.test_1 td strong {
		font-size: 1.25em;
		font-weight: bold;
	}

	.test_1 td .tct_test1 {
		color: #ff8818;
		font-size: 1.3em;
		font-weight: bold;
	}

	.test_1 th {
		color: #8b8b8b;
	}

	.test_1_2 td {
		padding: 8px 0px !important;
		border-top: none !important;
		border-left: none !important;
	}

	.test_1_2 td div {
		border-left: 1px solid #dbdbdb;
		padding: 3px 5px;
	}

	.tbl_head03 td {
		padding: 30px 5px;
		border-top: 1px solid #e7e7e7;
		border-left: 1px solid #e7e7e7;
		line-height: 1.5em;
		word-break: break-all
	}

	.tbl_head03_test1 tbody th {
		padding: 10px 5px;
		border-top: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
	}

	.bt_coltst {
		border: 1px solid #dadada !important;
		color: #757575 !important;
	}

	.a_test1s {
		text-align: right;
		display: block;
		float: right;
		color: #cacaca;
	}

	.a_test1s span {
		border: 2px solid #cacaca;
		color: #cacaca;
		margin-right: 5px;
		text-align: center;
		width: 20px;
		height: 20px;
		line-height: 15px;
		font-weight: 600;
		display: block;
		border-radius: 20px;
		text-decoration: none;
		float: left;
	}

	.crt_ts_nb {
		margin-bottom: 30px;
		border: 1px solid #dbdbdb;
		width: 100%;
		padding: 30px 0px;
	}

	.crt_ts_nb ul {
		overflow: hidden;
	}

	.crt_ts_nb ul li {
		border-right: 1px solid #dbdbdb;
		float: left;
		text-align: center;
	}

	.crt_ts_nb ul li:nth-child(1) {
		padding-right: 30px;

	}

	.crt_ts_nb ul li:nth-child(1) div {
		overflow: hidden;
		text-align: center;
		float: right;
	}

	.crt_ts_nb ul li:nth-child(1) a {
		float: left;
		padding: 0 30px;
		color: #8b8b8b;
	}

	.crt_ts_nb ul li:nth-child(1) a span {
		font-weight: 600;
	}

	.crt_ts_nb ul li:nth-child(1) a strong {
		font-weight: 600;
		font-size: 2em;
		color: #000;
		padding-top: 5px;
		display: block;
	}

	.crt_ts_nb ul li:nth-child(1) p {
		float: left;
		font-size: 2em;
		line-height: 30px;
		font-style: none !important;
		color: #8b8b8b;
		margin-top: 10px;
	}

	.col {
		width: 30px;
		height: 30px;
		background: #e2e2e2;
		border-radius: 30px;
		text-align: center;
	}

	.crt_ts_nb ul li:nth-child(2) {
		padding-left: 60px;
		margin-top: 10px;
	}

	.crt_ts_nb ul li:nth-child(2) a {
		font-weight: 600;
		font-size: 2em;
	}

	.crt_ts_nb ul li:nth-child(2) span {
		font-weight: 600;
		font-size: 2.2em;
		padding-left: 5px;
		color: #ff8818;

	}

	.crt_ts_nb ul li:last-child {
		border: 0px;
	}

	/* The container_w */

	.container_w {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		padding-left: 10px;
		margin-bottom: 12px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */

	.container_w input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */

	.checkmark_w {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		border-radius: 3px;
		width: 20px;
		border: 2px solid #a3a3a3;
		background-color: #fff;
	}

	/* On mouse-over, add a grey background color */

	.container_w:hover input~.checkmark_w {
		background-color: #fff;
	}

	/* When the checkbox is checked, add a blue background */

	.container_w input:checked~.checkmark_w {
		border: 2px solid #ff8818;
		background-color: #ff8818;
		border-radius: 3px;
	}

	/* Create the checkmark_w/indicator (hidden when not checked) */

	.checkmark_w:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark_w when checked */

	.container_w input:checked~.checkmark_w:after {
		display: block;
	}

	/* Style the checkmark_w/indicator */

	.container_w .checkmark_w:after {
		left: 6px;
		top: 1.5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.notof {
		/* font-family: 'Noto Sans KR', sans-serif; */
	}
