	.tit_tb {
		border-bottom: 1px solid #dbdbdb;
	}

	.tit_tb tr td {
		padding: 15px 5px;
	}

	.tit_tb tr td:first-child {
		width: 42px;
		padding: 0 15px;
		text-align: center;
	}

	.tit_tb tr td:nth-child(2) {
		font-size: 2em;
		font-weight: 600;
	}


	/* The container */

	.container {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		margin-top: 8px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */

	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 23px;
		border-radius: 3px;
		width: 23px;
		border: 2px solid #a3a3a3;
		background-color: #fff;
	}

	/* On mouse-over, add a grey background color */

	.container:hover input~.checkmark {
		background-color: #fff;
	}

	/* When the checkbox is checked, add a blue background */

	.container input:checked~.checkmark {
		border: 2px solid #ff8818;
		background-color: #ff8818;
		border-radius: 3px;
	}

	/* Create the checkmark/indicator (hidden when not checked) */

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */

	.container input:checked~.checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */

	.container .checkmark:after {
		left: 8px;
		top: 4px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.crt_con1 {
		padding: 30px 15px;
		border-bottom: 1px solid #efefef;
	}

	/*2*/

	/* The container_2 */

	.container_2 {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		padding-left: 30px;
		margin-top: 6px;
		margin-bottom: 12px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */

	.container_2 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */

	.checkmark_2 {
		position: absolute;
		top: 0;
		left: 0;
		height: 23px;
		border-radius: 3px;
		width: 23px;
		border: 2px solid #a3a3a3;
		background-color: #fff;
	}

	/* On mouse-over, add a grey background color */

	.container_2:hover input~.checkmark_2 {
		background-color: #fff;
	}

	/* When the checkbox is checked, add a blue background */

	.container_2 input:checked~.checkmark_2 {
		border: 2px solid #ff8818;
		background-color: #fff;
		border-radius: 3px;
	}

	/* Create the checkmark_2/indicator (hidden when not checked) */

	.checkmark_2:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark_2 when checked */

	.container_2 input:checked~.checkmark_2:after {
		display: block;
	}

	/* Style the checkmark_2/indicator */

	.container_2 .checkmark_2:after {
		left: 8px;
		top: 4px;
		width: 5px;
		height: 10px;
		border: solid #ff8818;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.cont_tit1 {
		overflow: hidden;
		position: relative;
	}

	.cont_tit1 li {
		float: left;
	}

	.cont_tit1 li:nth-child(2) a {
		display: block;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 1.2em;
		color: #323232;
		padding-bottom: 8px;
	}

	.cont_tit1 li:nth-child(2) span {
		color: #8b8b8b;
	}

	.cont_tit1 li:nth-child(2) button {
		color: #8b8b8b;
		border: none;
		margin-top: -8px;
		background: none;
		font-size: 3.3em;
		position: absolute;
		top: 0;
		right: 0;
	}

	.notof {
		letter-spacing: -1px;
		color: #323232;
		/* font-family: 'Noto Sans KR', sans-serif; */
	}

	.nncartwr1 {
		position: relative;
		min-height: 80px;
	}

	.ncart_pli1 {
		background: ;
		width: 100%;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.ncart_pli1 div .pli {
		text-decoration: line-through;
		font-size: 1.3em;
		color: #8b8a8a;
		text-align: right
	}
	.ncart_pli1 div .pli_clone {
		text-align: right
	}

	.ncart_pli1 div a {
		padding-bottom: 10px;
		padding-left: 3px;
		display: block;
		text-align: right;
	}

	.ncart_pli1 div .smRLa1 {
		background: #dedede;
		color: #fff;
		margin-left: 10px;
		margin-top: -5px;
		text-align: center;
		width: 20px;
		height: 20px;
		line-height: 19px;
		font-weight: 600;
		display: block;
		border-radius: 20px;
		text-decoration: none;

		float: right;
	}

	.ncart_pli1 div .smRLa1_clone {
		margin-left: 10px;
		text-align: center;
		width: 20px;
		height: 20px;
		display: block;
		float: right;
	}

	.ncart_pli1 p {
		display: block;
		letter-spacing: -1px;
		font-weight: 600;
		width: 100%;
		font-size: 1.8em;
		color: #323232;
	}

	.ncart_pli1 div {
		float: left;
		z-index: 9;
		position: relative;
	}

	.ncart_pli1 button {
		float: right;
		margin-top: 5px;
		height: 30px;
		padding: 0 10px;
		border: 1px solid #e2e2e2;
		border-bottom: 1px solid #c4c4c4;
		background: #fff;
		color: #666;
	}

	.crtonbox {
		width: 185px;
		height: 150px;
		background: #fff;
		padding: 25px 0;
		text-align: center;
		box-shadow: 0px 0px 20px 5px #666;
		border-radius: 3px;
		position: absolute !important;
		top: -80px;
		right: -195px;
	}

	.crtonbox a {
		color: #adadad;
		text-align: center !important;
		font-size: 1.2em;
	}

	.crtonbox span {
		color: #323232;
		letter-spacing: -1px;
		font-weight: 600;
		display: block;
		font-size: 1.8em;
	}

	.crt_con1:last-child {
		border-bottom: none;
	}

	.chdgkq {
		background: #fff0e2;
		width: 100%;
		text-align: center;
		padding: 20px 0;
		font-size: 1.4em;
		color: #515151;
		font-weight: 500;
	}

	.padtet {
		padding: 0 15px;
	}

	.wnansgkrl {
		margin-top: 30px;
		border-top: 15px solid #eaeaea;
		padding: 30px;
	}

	.crte_titw {
		font-size: 2em;
		min-height: 40px;
		overflow: hidden;
		background: ;
	}

	.crte_titw h2 {
		float: left;
		line-height: 40px;
	}

	.crte_titw a {
		float: right;
		line-height: 40px;
		font-weight: 600;
		letter-spacing: -1px;
		color: #ff8818;
	}

	.wnansgkrl>ul {
		margin-top: 15px;
	}

	.wnansgkrl>ul>li {
		background: #f6f6f6;
		padding: 20px;
	}

	.wnansgkrl>ul>li.first_c {
		overflow: hidden;
		border-bottom: 2px dashed #c0c0c0;
	}

	.wnansgkrl>ul>li.first_c a {
		font-size: 1.8em;
		font-weight: 500;
	}

	.wnansgkrl>ul>li.first_c span {
		float: right;
		font-size: 1.8em;
		font-weight: 600;
	}

	.wnansgkrl>ul>li div.pdbt10 {
		padding-bottom: 10px;
	}

	.wnansgkrl>ul>li:nth-child(2) div:last-child {
		padding: 0px;
	}

	.wnansgkrl>ul>li div a {
		font-size: 1.3em;
	}

	.wnansgkrl>ul>li div p {
		font-size: 1.3em;
		float: right;
		font-weight: 500;
	}

	.wnansgkrl>ul>li.last_1 div {
		padding-bottom: 10px;
	}

	.wnansgkrl>ul>li.last_1 div:last-child {
		padding: 0px;
	}

	.wnansgkrl>ul>li.last_1 div a {
		font-size: 1.3em;
		/*font-weight: 500;*/
	}

	.wnansgkrl>ul>li.last_1 div p {
		font-size: 1.3em;
		float: right;
		font-weight: 500;
	}

	.wnansgkrl>ul>li:last-child {
		margin-top: 8px;
	}

	.smRLa2 {
		background: #e2e2e2;
		color: #8a8a8a;
		margin-right: 8px;
		margin-top: -3px;
		text-align: center;
		width: 20px;
		height: 20px;
		line-height: 18px;
		font-weight: ;
		display: block;
		font-weight: 500;
		border-radius: 20px;
		text-decoration: none;
		font-size: 1.3em;
		float: left;
	}

	.bt_c1 {
		display: block;
		text-align: center;
	}

	.bt_c1 button:last-child {
		margin-left: 5px;
		min-width: 200px;
		border: 1px solid #ff8818;
	}

	.bt_c1 button {
		padding: 15px 30px !important;
		border-radius: 2px;
		font-weight: bold;
		font-size: 1.25em;
	}


	@media screen and (max-width: 450px) {
		.wnansgkrl {
			padding: 15px;
		}
		.crtonbox {
			top: 25px;
			right: 0;
		}
		.bt_c1 button:last-child {
			min-width: auto;
		}
		.cont_tit1 li {
			max-width: 230px;
		}
	}


	@media screen and (max-width: 360px) {
		.ncart_pli1 button {
			margin-top: 10px;
			float: left;
			width: 100%;
		}
		.bt_c1 button {
			padding: 10px 10px !important;
			border-radius: 2px;
			font-weight: bold;
			font-size: 1.25em;
		}
		.cont_tit1 li {
			max-width: 180px;
		}
		.ncart_pli1 {
			position: initial;
		}
	}