/* spoqa Han Sans */

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Bold.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    src: local('Spoqa Han Sans Medium'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Medium.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face { 
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Regular.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Light.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Light.ttf') format('truetype');
}


.displaynone {
	display:none !important;
}
#wrapper {
    z-index: 4;
    margin: 0 auto;
    /*width: 1200px;*/
    position: relative;
    zoom: 1;
}
body.eMobilePopup {
	overflow:hidden;
	position:fixed;
}
.ec-base-label {
	display:inline-block;
	margin-right:5px;
}
.ec-base-label img {
	vertical-align:middle;
}
.ec-solution-box {
	padding:20px;
	border:5px solid #e8e8e8;
	color:#404040;
}
.ec-solution-box.gHalf {
	position:relative;
	padding:20px 0;
}
.ec-solution-box.gHalf:before {
	position:absolute;
	top:0;
	left:50%;
	display:block;
	content:"";
	width:1px;
	height:100%;
	background-color:#e6e6e6;
}
.ec-solution-box.typeBg {
	background-color:#fbfafa;
}
.ec-solution-box.typeThin {
	border-width:1px;
	border-color:#d7d5d5;
}
.ec-solution-box.typeThinBg {
	border-width:1px;
	border-color:#d7d5d5;
	background-color:#fbfafa;
}
.ec-solution-box.typeThinBg>.agree {
	padding:20px;
	border:1px solid #e6e6e6;
	background:#fff;
}
.ec-solution-box.typeThinBg>.agree p {
	padding:0 0 17px;
}
.ec-solution-box.typeMember {
	padding:0;
}
.ec-solution-box.typeMember .information {
	display:table;
	table-layout:fixed;
	padding:10px 0;
	width:100%;
	box-sizing:border-box;
}
.ec-solution-box.typeMember .information>.title,.ec-solution-box.typeMember .information>.thumbnail {
	display:table-cell;
	padding:0 15px;
	width:70px;
	text-align:center;
	vertical-align:middle;
}
.ec-solution-box.typeMember .information>.title {
	vertical-align:middle;
}
.ec-solution-box.typeMember .information>.thumbnail img {
	max-width:70px;
}
.ec-solution-box.typeMember .information .description {
	display:table-cell;
	padding:0 10px;
	width:auto;
	line-height:1.5em;
	border-left:1px solid #e8e8e8;
	vertical-align:middle;
}
.ec-solution-box.typeMember.gMessage {
	border-width:1px;
	border-color:#d7d5d5;
}

.ec-solution-box.typeProduct {
	display:table;
	table-layout:fixed;
	padding:15px 0;
	width:100%;
	box-sizing:border-box;
}
.ec-solution-box.typeProduct .thumbnail,.ec-solution-box.typeProduct .information {
	display:table-cell;
	padding:0 20px;
	vertical-align:middle;
}
.ec-solution-box.typeProduct .thumbnail {
	width:100px;
}
.ec-solution-box.typeProduct .thumbnail img {
	max-width:90px;
	border:1px solid #d7d5d5;
}
.ec-solution-box.typeProduct .information {
	padding-left:0;
}
.ec-solution-button {
	padding:10px 0;
	text-align:center;
}
.ec-solution-button.justify {
	position:relative;
}
.ec-solution-button:after {
	display:block;
	content:"";
	clear:both;
}
.ec-solution-button .gLeft {
	float:left;
	text-align:left;
}
.ec-solution-button .gRight {
	float:right;
	text-align:right;
}
.ec-solution-button.justify .gLeft {
	position:absolute;
	left:0;
}
.ec-solution-button.justify .gRight {
	position:absolute;
	right:0;
}
.ec-solution-button .text {
	margin:0 6px 0 10px;
	color:#353535;
	line-height:24px;
}
.ec-solution-button.typeBorder {
	margin-top:-1px;
	padding:10px 20px;
	border:1px solid #d7d5d5;
}
.ec-solution-button.typeBG {
	padding:10px 20px;
	border:1px solid #d7d5d5;
	background:#fbfafa;
}
.ec-solution-layer li {
	list-style:none;
}
.ec-solution-layer table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}
.ec-solution-layer caption {
	display:none;
}
.ec-solution-layer h1,.ec-solution-layer h3 {
	margin:0;
}
.ec-solution-layer {
	position:absolute;
	z-index:100;
	border:1px solid #757575;
	background:#fff;
}
.ec-solution-layer .header {
	padding:7px 35px 7px 19px;
	color:#fff;
	background:#495164;
}
.ec-solution-layer .header>h1,.ec-solution-layer .header>h3 {
	font-size:14px;
	line-height:1.5;
}
.ec-solution-layer .content {
	padding:20px;
	font-size:12px;
}
.ec-solution-layer div.ec-solution-help {
	margin-top:0;
}
.ec-solution-layer .ec-solution-button {
	padding:9px;
	border-top:1px solid #d7d5d5;
	text-align:center;
	background:#fbfafa;
}
.ec-solution-layer .close {
	position:absolute;
	right:0;
	top:0;
	padding:11px 20px;
	cursor:pointer;
}
#popup .ec-solution-layer {
	position:relative;
	border:0;
}
#popup .ec-solution-layer .header {
	padding:12px 35px 12px 19px;
}
#popup .ec-solution-layer .close {
	top:5px;
}
.ec-solution-layer .content>.ec-solution-table table:first-child {
	margin-top:0;
}
.ec-solution-layer .ec-solution-table table {
	line-height:1.4;
}
.ec-solution-layer .ec-solution-table thead th {
	padding:9px 0 8px;
}
.ec-solution-layer .ec-solution-table tbody th {
	padding:9px 0 8px 10px;
}
.ec-solution-layer .ec-solution-table td {
	padding:9px 10px 8px;
}
.ec-solution-layer .ec-solution-table.typeWrite td {
	padding:5px 10px 4px;
}
.ec-solution-layer .ec-solution-table.typeList tfoot td {
	padding:10px 10px 12px;
}
.ec-solution-layer .ec-solution-table.typeBorder tfoot td {
	padding:10px 10px 12px;
}
.ec-solution-table table {
	position:relative;
	margin:10px 0 0;
	border:1px solid #d7d5d5;
	border-top-color:#fff;
	color:#fff;
	line-height:1.5;
}
.ec-solution-table.gLayoutFixed table {
	table-layout:fixed;
}
.ec-solution-table.gLayoutFixed .gLayoutAuto table {
	table-layout:auto;
}
.ec-solution-table table:before {
	position:absolute;
	top:1px;
	left:0;
	display:block;
	content:"";
	width:100%;
	height:1px;
	background:#d7d5d5;
}
.ec-solution-table thead th {
	padding:11px 0 10px;
	border-left:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
	font-weight:normal;
	background:#fbfafa;
}
.ec-solution-table tbody th {
	padding:11px 0 10px 18px;
	border:1px solid #dfdfdf;
	border-bottom-width:0;
	color:#353535;
	text-align:left;
	font-weight:normal;
	background-color:#fbfafa;
}
.ec-solution-table th:first-child {
	border-left:0;
}
.ec-solution-table td {
	padding:11px 10px 10px;
	border-top:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
}
.ec-solution-table td.clear {
	padding:0 !important;
	border:0 !important;
}
.ec-solution-table.typeWrite td {
	padding:8px 10px 7px;
}
.ec-solution-table.typeList table {
	border-top-color:#d7d5d5;
}
.ec-solution-table.typeList table:before {
	display:none;
}
.ec-solution-table.typeList td {
	padding:8px 10px 7px;
}
.ec-solution-table.typeList tfoot td {
	padding:15px 10px 17px;
	background:#fbfafa;
}
.ec-solution-table .message {
	border:1px solid #d7d5d5;
	padding:50px 0;
	text-align:center;
	color:#757575;
	font-weight:bold;
}
.ec-solution-table table+.message {
	margin:-1px 0 0;
}
.ec-solution-table table td.message {
	padding:50px 0;
}
.ec-solution-table .scroll .message {
	border:0;
}
.ec-solution-table.typeList .head td {
	padding:11px 0 10px;
	border-left:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
	text-align:center;
	background:#fbfafa;
}
.ec-solution-table.typeList .head td:first-child {
	border-left:0;
}
.ec-solution-table.typeList .scroll {
	position:relative;
	overflow-x:hidden;
	overflow-y:scroll;
	max-height:185px;
	min-height:100px;
	border:1px solid #d7d5d5;
	border-top-width:0;
	margin-top:-1px;
}
.ec-solution-table.typeList .scroll table {
	border:0;
	margin:0;
}
.ec-solution-table.typeList .scroll table:before {
	display:none;
}
.ec-solution-table.typeList .scroll .message {
	border:0;
}
.ec-solution-table thead.blind,.ec-solution-table thead.blind th {
	display:none;
}
.ec-solution-table thead.blind+tbody tr:first-child th,.ec-solution-table thead.blind+tbody tr:first-child td {
	border-top-width:0;
}
.ec-solution-table.typeList.gLine table {
	border-width:0;
	border-bottom-width:1px;
}
.ec-solution-table.typeClear table:before {
	display:none;
}
.ec-solution-table.typeClear table,.ec-solution-table.typeClear th,.ec-solution-table.typeClear td {
	border:0 none;
	background:none;
}
.ec-solution-table.typeClear th {
	font-weight:bold;
}
.ec-solution-table.gBorder td {
	border-left:1px solid #dfdfdf;
}
.ec-solution-table.gBorder td:first-child {
	border-left:0;
}
.ec-solution-table .left {
	text-align:left;
}
.ec-solution-table .center {
	text-align:center;
}
.ec-solution-table .right {
	text-align:right;
}
.ec-solution-table.typeList .center td,.ec-solution-table.typeList td.center {
	padding-left:0;
	padding-right:0;
}
.ec-solution-table.typeList .center td.left {
	padding-left:10px;
}
.ec-solution-table.typeList .center td.right {
	padding-right:10px;
}
.ec-solution-table .top th,.ec-solution-table th.top,.ec-solution-table .top td,.ec-solution-table td.top {
	vertical-align:top;
}
.ec-solution-table .middle th,.ec-solution-table th.middle,.ec-solution-table .middle td,.ec-solution-table td.middle {
	vertical-align:middle;
}
.ec-solution-table img {
	vertical-align:middle;
}
@media print {
	.ec-solution-table table:before {
		display:none;
	}
}
#main-category.cate {
	/*top:-1px;*/
	z-index:20;
	overflow:hidden;
	/*
	height:481px;
	min-height:481px;
	*/
	height:480px;
	min-height:480px;
}
#main-category.cate.hover {
	height:auto !important;
}
#main-category.cate:hover {
	overflow:visible !important;
}
#main-category.cate .down_btn {
	padding:0 !important;
	height:15px !important;
	opacity:0.7;
	transition:opacity .3s ease;
	position:absolute !important;
	bottom:0;
	left:0;
	background:#555 url(../img/btn-more-128.png) no-repeat center;
	text-indent:-9999px;
	background-size:14px;
	right:0;
	z-index:10;
}
#main-category.cate.hover .down_btn {
	opacity:0;
	z-index:-1;
}
.grid1 #bxslider1-pager li {
	width:100%;
}
.grid2 #bxslider1-pager li {
	width:50%;
}
.grid3 #bxslider1-pager li {
	width:33.33%;
}
.grid4 #bxslider1-pager li {
	width:25%;
}
.grid5 #bxslider1-pager li {
	width:20%;
}
.grid6 #bxslider1-pager li {
	width:16.66%;
}
.bxslider-wrap {
	position:relative;
	height:480px;
	text-align:center;
	border-bottom:1px solid #ddd;
}
.bxslider-wrap ul#bxslider1 {
	position:relative;
	z-index:1;
}
.bxslider-wrap ul#bxslider1>li {
	position:absolute !important;
	width:5000px !important;
	margin-left:-2500px !important;
	left:50% !important;
}
.bxslider-wrap ul#bxslider1>li:first-child {
	z-index:1;
}
.bxslider-wrap #bxslider1 img {
	display:inline !important;
}
.bxslider-wrap #bxslider1-pager {
	position:absolute;
	/*width:1012px;*/
	bottom:1px;
	text-align:center;
	left:50%;
	/*margin-left:-411px;*/
	z-index:10;
}
.bxslider-wrap #bxslider1-pager li {
	width:10px;
	height:10px;
	margin:4px;
	float:left;
}
.bxslider-wrap #bxslider1-pager li:first-child a {
	margin:0
}
.bxslider-wrap #bxslider1-pager li a {
	display:block;
	font-size:14px;
	text-decoration:none;
	height:100%;
	background:#999;
	background:#999 \0/IE8;
	color:#6c6c6c;
	/*line-height:45px;*/
	border-radius: 100%;
	/*border:1px solid #ddd;*/
	/*margin:0 0 0 -1px;*/
	text-align:center;
	padding:0 5px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.bxslider-wrap #bxslider1-pager li a:hover,.bxslider-wrap #bxslider1-pager li a.active {
	background:#fff;
	background:#fff \0/IE8;
	color:#fff;
}
.prod-slide {
	overflow:hidden;
}
.prod-slide .discount_rate {
	top:9px;
	right:20px;
}
.prod-slide .title {
	text-align:left !important
}
.prod-slide .title span span {
	font-size:13px;
	color:#7d7d7d;
}
.prod-slide .ec-base-product {
	visibility:hidden;
	position:relative;
	margin:60px 0 0px !important;
	height:0;
	background-color:#fff;
	z-index:2;
}
.prod-slide .ec-base-product .bx-wrapper .bx-prev,.prod-slide .ec-base-product .bx-wrapper .bx-next {
	margin-top:-50px;
	width:50px;
	height:50px;
	border:1px solid #ddd;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center center;
	z-index:10;
}
.prod-slide .ec-base-product .bx-wrapper .bx-prev {
	left:-1px;
	background-image:url(../img/main_prod2_prev.png);
}
.prod-slide .ec-base-product .bx-wrapper .bx-next {
	right:-1px;
	background-image:url(../img/main_prod2_next.png);
}
.prod-slide .ec-base-product .bx-wrapper {
	border:1px solid #ddd;
	padding:0 10px;
}
.prod-slide .ec-base-product .prdList>li {
	background:#fff;
	padding:20px 0;
}
.prod-slide .ec-base-product .prdList>li .name {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.prod-slide .ec-base-product li .price {
	font-size:13px;
	padding:0 3px;
	font-weight:bold;
}
.dp-block2 {
	position:relative;
	height:230px;
	margin:-30px 0 80px;
	z-index:1;
	overflow:hidden;
}
.dp-block2 ul {
	position:absolute;
	width:1920px;
	left:50%;
	top:0;
	margin-left:-960px;
}
#bxslider3 {
	z-index:1;
}
.dp-block3 {
	overflow:hidden;
	margin:30px 0 80px;
}
.dp-block3 .site-wrap {
	overflow:hidden;
	border-left:1px solid #e9e9e9;
}
.dp-block3 .block {
	border:1px solid #e9e9e9;
	border-left:0;
	float:left;
}
.dp-block3 .block_center li {
	float:left;
}
.dp-block3 .block_center li:first-child {
	border-right:1px solid #e9e9e9;
}
.dp-block3 .block_center .top {
	border-bottom:1px solid #e9e9e9;
	overflow:hidden;
}
.dp-block3 .block_right {
	width:290px;
	height:401px;
}
.dp-block3 .bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
	top:0;
	height:0px;
}
.dp-block3 a:hover {
	opacity:0.8;
}
.product-b {
	background:#eaeced;
	margin:30px 0;
	padding:30px 0 20px;
	overflow:hidden;
}
.product-b .title {
	text-align:left !important
}
.product-b .title span span {
	font-size:13px;
	color:#7d7d7d;
}
.product-b .cell .prdList {
	margin:0;
}
.product-b .cell .prdList li {
	margin:0 !important;
}
.product-b .cell .prdList li .discount_rate {
	top:9px;
}
.product-b .cell .prdList li .thumbnail,.product-b .cell .prdList li .description {
	margin:10px;
}
.product-b .cell .prdList li .thumbnail a>img {
	border:0;
}
.product-b .cell .prdList li .description {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	left:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0.65);
	background:#ffffff \0/IE8;
	padding:10px 20px;
	box-sizing:border-box;
	text-align:right;
	transition:opacity .15s ease;
	-webkit-transition:opacity .15s ease;
}
.product-b .cell .prdList li:hover .description {
	display:block;
	opacity:1;
	filter:alpha(opacity=80) \0/IE8;
}
.product-b .cell .prdList li .description .block {
	width:100%;
}
.product-b .cell .prdList li .description .block .block_in {
	cursor:pointer;
	text-align:center;
}
.desc_content {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 3px;
}
.product-b .cell .prdList li .description .desc {
	margin-top:9px;
}
.product-b .cell .prdList li .description .name {
	border-bottom:0;
	margin-bottom:0;
	padding-top:5px;
	/*text-align:left;*/
}
.product-b .cell .prdList li .description .name * {
	font-size:14px !important;
	font-weight:bold !important;
	color:#1b1b1b !important;
}
.product-b .cell .prdList li .description .price {
	font-size:13px;
	color:#333;
	font-weight:bold;
	text-align:left;
}
.dp-tab-wrap {
	margin:80px 0 80px;
}
.dp-tab-wrap .site-wrap {
	position:relative;
	height:452px;
}
.dp-tab-wrap .dp-tab {
	position:absolute;
	top:0;
	right:0;
	width:860px;
	overflow:hidden;
}
.dp-tab-wrap .dp-tab li {
	height:100px;
	border:1px solid #ddd;
	margin-left:-2px;
	background:#f2f2f2;
	float:left;
	width:33.33%;
	text-align:center;
	cursor:pointer;
	transition:all .2s ease;
}
.dp-tab-wrap .dp-tab li:hover,.dp-tab-wrap .dp-tab li.tab_on {
	background:#fff;
	border-bottom-color:#fff;
}
.dp-tab-wrap .dp-tab li:first-child {
	border-left:0;
}
.dp-tab-wrap .ec-base-product .banner {
	position:absolute;
	top:0;
	left:0;
	border:1px solid #ddd;
}
.dp-tab-wrap .ec-base-product .prdList {
	border:1px solid #ddd;
	border-top:0;
	border-left:0;
	position:absolute;
	bottom:0;
	right:2px;
	width:860px;
	height:351px;
	margin:0 !important;
}
.dp-tab-wrap .ec-base-product .prdList .discount_rate {
	right:29px;
}
.dp-tab-wrap .ec-base-product .prdList .thumbnail {
	margin: 0 32px 10px;
}
.dp-tab-wrap .ec-base-product .prdList .description {
	display: table;
	margin:0 auto;
}
.dp-tab-wrap .ec-base-product .prdList .description .name {
	/*overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;*/
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	border-bottom:0 !important;
	padding:0 !important
}
.dp-tab-wrap .ec-base-product .prdList .description ul {
	display: table-row;
}
.dp-tab-wrap .ec-base-product .prdList .description li {
	/*display:inline;*/
}
.dp-tab-wrap .ec-base-product .prdList .description .price {
	color:#333;
	font-size:13px;
	padding:0 3px;
}
#bxslider5 li {
	margin-left:-2500px;
	left:50%;
	width:5000px !important;
	text-align:center;
}
.dp-block4 .bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
	bottom:30px;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img {
	margin:0;
	padding:0;
}
html {
	width:100%;
	height:100%;
}
body,code {
	font:12px 'spoqa Han Sans', 'Nanum Gothic','malgun gothic','Dotum',Verdana,AppleGothic,sans-serif;
	/* font:12px 'Lato', 'Nanum Gothic','malgun gothic','Dotum',Verdana,AppleGothic,sans-serif; */
	color:#353535;
	background:#fff;
}
body {
	min-width:1280px;
}
body#popup {
	min-width:0;
}
li {
	list-style:none;
}
img,fieldset {
	border:none;
	vertical-align:middle;
}
table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}
caption {
	display:none;
}
th,td {
	border:0;
	/*vertical-align:top;*/
}
input,select,textarea,button {
	font-size:11px;
}
input,select,textarea {
	font-size:100%;
	/* font-family:'malgun gothic',"돋움",Dotum; */
	font-family:'spoqa Han Sans','Malgun Gothic',"돋움",Dotum;
	color:#353535;
	vertical-align:middle;
}
input[type=radio],input[type=checkbox] {
	width:13px;
	height:13px;
	border:0;
}
/*input[type=text],input[type=password] {
	height:18px;
	line-height:20px;
	padding:2px 4px;
	border:1px solid #d5d5d5;
	color:#353535;
	font-size:12px;
}
*/
input[type=radio]+label,input[type=checkbox]+label {
	margin:0 4px 0 2px;
}
select {
	/*height:24px;*/
	border:1px solid #d5d5d5;
}
textarea {
	padding:5px 6px;
	border:1px solid #d5d5d5;
	line-height:1.5;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color:#c1c1c1;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color:#c1c1c1;
}
input::-moz-placeholder,textarea::-moz-placeholder {
	color:#c1c1c1;
	opacity:1;
}
legend {
	visibility:hidden;
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:0;
	height:0;
	line-height:0;
}
button {
	overflow:visible;
	padding:0;
	margin:0;
	border:0;
	cursor:pointer;
}
hr.layout {
	display:none;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {
	text-decoration:underline;
}
a:active {
	text-decoration:none;
}
.objHidden {
	visibility:hidden;
	position:absolute;
	left:-1000px;
	top:-1000px;
	height:0;
	width:0;
}
table tr.radioType input,span.noBorder input {
	border:none !important;
	width:auto !important;
	height:auto !important;
	margin:0 3px 0 0 !important;
	vertical-align:middle !important;
	background:none !important;
}
#content_CONTAINER table,#bi_inquire_content_CONTAINER table {
	border:0;
	margin:0 0 -1px;
}
#content_CONTAINER table:before,#bi_inquire_content_CONTAINER table:before {
	display:none;
}
#content_CONTAINER td,#bi_inquire_content_CONTAINER td {
	width:auto !important;
	padding:0;
}
table.nneditor-table {
	width:auto !important;
}
.gLabel {
	display:inline-block;
}
.gLabel label {
	margin-right:20px;
	line-height:22px;
}
.fWidthFull input[type=text] {
	width:100%;
	height:24px;
	-webkit-box-sizing:border-box;
	-moz-webkit-box:border-box;
	box-sizing:border-box;
}
.fWidthFull textarea {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-webkit-box:border-box;
	box-sizing:border-box;
}
#progressPaybarBackground {
	position:absolute;
	z-index:99;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
#progressPaybarView {
	position:absolute;
	z-index:100;
	top:160px;
	left:20px;
	width:471px;
	font-size:12px;
}
#progressPaybarView .box {
	height:180px;
	background:url(//img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif) 0 0 no-repeat;
}
#progressPaybarView .box .graph {
	padding:15px 0 0 0;
	text-align:center;
}
#progressPaybarView .box .graph span {
	display:block;
	text-align:center;
	margin:20px 0;
}
#progressPaybarView .box .txt {
	text-align:center;
	padding:15px 0 0;
	color:#555555;
}
div.layerProgress {
	filter:alpha(opacity=40);
	opacity:0.4;
	-moz-opacity:0.4;
	background-color:#999;
}
#skipNavigation {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:0;
}
#skipNavigation p,#skipNavigation ul,#skipNavigation ul li {
	height:0;
}
#skipNavigation p a {
	position:absolute;
	left:0;
	top:0;
	display:block;
	overflow:hidden;
	width:1px;
	height:1px;
	margin-left:-1px;
	margin-bottom:-1px;
	text-align:center;
	color:#000;
	white-space:nowrap;
}
#skipNavigation p a:focus,#skipNavigation p a:hover,#skipNavigation p a:active {
	width:100%;
	height:auto;
	padding:10px 0;
	background:#c4122f;
	color:#fff;
	z-index:100;
}
.displaynone {
	display:none;
}
.dimmed {
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	height:100%;
	background:#fff;
	opacity:0.8;
	filter:alpha(opacity=80);
}
.btn {
	border:1px solid #d9d9d9;
	min-width:90px;
	border-radius:3px;
	font-size:12px;
	padding:6px 10px;
	line-height:18px;
	height:18px;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	transition:background .15s;
	text-decoration:none;
	letter-spacing:1px;
}
.btn:hover {
	text-decoration:none;
	background-color:#b9b9b9;
	color:#fff;
	border:1px solid #bbb;
}
.btn-small {
	padding:2px 10px;
	min-width:40px;
	line-height:17px;
	height:17px;
}
.btn-big {
	min-width:100px;
	padding:10px 12px;
	font-size:12px;
	line-height:19px;
	height:19px;
}
.btn-black {
	background-color:#222;
	color:#fff;
	border:1px solid #111;
}
.btn-black:hover {
	background-color:#fff;
	color:#111;
	border:1px solid #111;
}
.btn-white {
	background-color:#fff;
	color:#111;
	border:1px solid #ccc;
}
.btn-white:hover {
	background-color:#f9f9f9;
	color:#111;
	border:1px solid #bbb;
}
.btn-gray {
	background-color:#aaa;
	color:#fff;
	border:1px solid #9d9d9d;
}
.btn-gray:hover {
	background-color:#777;
	color:#fff;
	border:1px solid #999;
}
.btn-red {
	background:#ff8800;
	color:#fff;
	/*border:1px solid #ed2c31;*/
}
.btn-red:hover {
	background:#ed2c31;
	border:1px solid #ed272d;
}
/* ==================== 폰트 ==================== */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('./font/nanumgothic/nanum-gothic-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('./font/nanumgothic/nanum-gothic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/nanumgothic/nanum-gothic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/nanumgothic/nanum-gothic-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/nanumgothic/nanum-gothic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/nanumgothic/nanum-gothic-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('./font/nanumgothic/nanum-gothic-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('./font/nanumgothic/nanum-gothic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/nanumgothic/nanum-gothic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/nanumgothic/nanum-gothic-700.woff') format('woff'), /* Modern Browsers */
       url('./font/nanumgothic/nanum-gothic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/nanumgothic/nanum-gothic-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}


/*#header {
	background:url("//img.echosting.cafe24.com/skin/base/layout/bg_body.gif") repeat-x 0 0;
}*/
#header .inner {
	position:relative;
	width:1218px;
	margin:0 auto;
	*zoom:1;
}
#header .inner:after {
	content:"";
	display:block;
	clear:both;
}
#header .topArea {
	height:112px;
	padding:83px 0 0;
	text-align:center;
	*zoom:1;
}
#header .topArea:after {
	content:"";
	display:block;
	clear:both;
}
#header .special {
	float:left;
	border-left:1px solid #d8d8d8;
}
#header .special li {
	float:left;
}
#header .special a {
	display:block;
	height:20px;
	padding:16px 15px 9px;
	border-right:1px solid #d8d8d8;
	color:#353535;
	text-decoration:none;
}
#header .special a:hover {
	color:#1b1b1b;
	padding-bottom:7px;
	border-bottom:2px solid #1b1b1b;
}
#header .link {
	position:absolute;
	left:0;
	top:0;
	height:35px;
	line-height:35px;
}
#header .link>a,#header .link>span {
	float:left;
}
#header .link>a {
	margin:0 9px 0 0;
	padding:0 10px 0 0;
	color:#666;
	text-decoration:none;
	background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 100% 12px;
}
#header .link>span img {
	vertical-align:middle;
}
#header .link .xans-layout-bookmark span {
	padding-left:17px;
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_bookmark.png") no-repeat 0 1px;
}
#wrap {
	position:relative;
	margin:27px auto 0;
}
#container {
	margin:0 auto;
	*zoom:1;
}
#container:after {
	content:"";
	display:block;
	clear:both;
}
#sidebar {
	float:left;
	width:180px;
}
#sidebar .banner {
	padding:0 0 20px;
	border-bottom:1px solid #e8e8e8;
}
#sidebar .banner p a {
	display:block;
}
#contents {
	float:right;
	width:1000px;
}
#banner {
	position:absolute;
	top:0;
	left:0;
	width:90px;
}
#footer {
	background:url("//img.echosting.cafe24.com/skin/base/layout/bg_footer.gif") repeat-x 0 100%;
}
#footer .inner {
	overflow:hidden;
	position:relative;
	width:1218px;
	margin:40px auto 0;
	*zoom:1;
}
#boardArea {
	overflow:hidden;
	margin:50px 0 0;
	border-top:1px solid #d8d8d8;
}
#bannerArea {
	margin:22px 0 0;
}
#bannerArea h2 {
	margin:0 0 16px;
	font-weight:normal;
	font-size:20px;
	color:#2e2e2e;
	text-align:center;
}
.path {
	overflow:hidden;
	height:30px;
	line-height:30px;
	*zoom:1;
	/*margin:20px 0 10px;*/
}
.path span {
	overflow:hidden;
	position:absolute;
	width:0;
	height:0;
	white-space:nowrap;
	text-indent:100%;
}
.path ol {
	float:right;
}
.path li {
	float:left;
	padding:0 0 0 12px;
	margin:0 0 0 8px;
	color:#757575;
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_path.gif") no-repeat 0 10px;
}
.path li:first-child {
	background:none;
}
.path li a {
	color:#757575;
}
.path li strong,.path li strong a {
	color:#2e2e2e;
}
.titleArea {
	min-height:30px;
	margin:10px 0 10px;
}
.titleArea h2 {
	display:inline-block;
	color:#2e2e2e;
	font-size:16px;
	*display:inline;
	*zoom:1;
}
.titleArea p {
	display:inline-block;
	margin:0 0 0 6px;
	padding:0 0 0 10px;
	color:#939393;
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_bar.gif") no-repeat 0 0;
	*display:inline;
	*zoom:1;
}
.titleArea ul {
	padding:5px 0;
	color:#939393;
	line-height:18px;
}
.titleArea ul li {
	padding:0 0 0 9px;
	background:url("//img.echosting.cafe24.com/skin/base/common/ico_square2.gif") no-repeat 4px 7px;
}
#modalBackpanel {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:10000;
	width:100%;
	height:100%;
	background:#000;
}
#modalContainer {
	display:none;
	position:absolute;
	top:100px;
	left:100px;
	z-index:10001;
	width:975px;
	height:720px;
	border:1px solid #333;
	background:#fff;
}
#modalContainer #modalContent {
	width:100%;
	height:100%;
}
.txtInfo {
	color:#707070;
}
.txtWarn {
	color:#f76560;
}
.txtEm {
	color:#1b1b1b;
}
.txtDel,.strike,.discount {
	text-decoration:line-through;
	font-weight:normal;
}
.strike strong,.discount strong {
	font-weight:normal;
}
.txtNormal {
	font-weight:normal;
	font-style:normal;
}
.txtNum {
	font-size:11px;
	color:#939393;
}
.txt11 {
	font-size:11px;
}
.txt12 {
	font-size:12px;
}
.txt14 {
	font-size:14px;
}
.txt16 {
	font-size:16px;
}
.txt18 {
	font-size:18px;
	letter-spacing:-1px;
}
.txtIcon {
	font-size:12px;
	font-style:normal;
}
.txtBreak {
	word-break:break-all;
	word-wrap:break-word;
}
html:lang(ja) .txt11,html:lang(zh) .txt11,html:lang(zh-tw) .txt11 {
	font-size:12px;
}
.gBlank5 {
	display:block;
	margin-top:5px;
}
.gBlank10 {
	display:block;
	margin-top:10px;
}
.gBlank20 {
	display:block;
	margin-top:20px;
}
.gBlank30 {
	display:block;
	margin-top:30px;
}
.gIndent10 {
	margin-left:10px;
}
.gIndent20 {
	margin-left:20px;
}
.gSpace10 {
	margin-right:10px;
}
.gSpace20 {
	margin-right:20px;
}
.gMerge {
	position:relative;
	z-index:1;
	margin-top:-1px;
}
.ec-base-qty {
	position:relative;
	display:inline-block;
	width:50px;
	margin:0 1px 0 0;
	text-align:left;
}
.ec-base-qty input[type="text"] {
	width:22px;
	height:23px;
	padding:0 0 0 5px;
	line-height:25px;
	border:1px solid #d4d8d9;
	border-radius:3px 0 0 3px;
}
.ec-base-qty .up {
	position:absolute;
	left:27px;
	top:0;
}
.ec-base-qty .down {
	position:absolute;
	left:27px;
	bottom:0;
}
.ec-base-tooltip {
	display:none;
	z-index:2;
	position:absolute;
	top:24px;
	padding:15px;
	border:1px solid #565960;
	background:#fff;
	-webkit-box-shadow:3px 3px 3px 0px rgba(0,0,0,0.15);
	-moz-box-shadow:3px 3px 3px 0px rgba(0,0,0,0.15);
	box-shadow:3px 3px 3px 0px rgba(0,0,0,0.15);
}
.ec-base-tooltip h3 {
	margin:0 0 8px;
	padding:0 10px;
	font-size:12px;
	border-bottom:0;
	background:url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%;
}
.ec-base-tooltip h3+p {
	margin:0 5px 10px;
}
.ec-base-tooltip h4 {
	margin:15px 10px 8px 5px;
	font-size:12px;
}
.ec-base-tooltip h4:before {
	display:inline-block;
	content:"";
	margin:0 5px 0 0;
	width:3px;
	height:3px;
	background:#666;
	vertical-align:middle;
}
.ec-base-tooltip .btnClose {
	position:absolute;
	right:14px;
	top:14px;
}
.ec-base-tooltip .edge {
	z-index:20;
	position:absolute;
	left:50%;
	top:-6px;
	display:block;
	margin:0 0 0 -5px;
	width:10px;
	height:6px;
}
.ec-base-tooltip .edge:before,.ec-base-tooltip .edge:after {
	display:inline-block;
	content:"";
	position:absolute;
	top:0;
	width:0;
	height:0;
	border:solid transparent;
}
.ec-base-tooltip .edge:before {
	margin:1px 0 0;
	border-bottom-color:#565960;
	border-width:0 5px 5px 5px;
}
.ec-base-tooltip .edge:after {
	left:1px;
	margin:2px 0 0;
	border-bottom-color:#fff;
	border-width:0 4px 4px 4px;
}
.ec-base-tooltip table th,.ec-base-tooltip table td {
	padding:8px 10px 7px 10px;
	border:1px solid #e8e8e8;
	line-height:1.5em;
}
.ec-base-tooltip table th {
	padding-right:0;
	background:#fbf9fa;
}
.ec-base-tooltip table thead th {
	text-align:center;
}
.ec-base-tooltip table tbody th {
	text-align:left;
}
.ec-base-tooltip table .left {
	text-align:left;
}
.ec-base-tooltip table .center {
	text-align:center;
}
.ec-base-tooltip table .right {
	text-align:right;
}
.ec-base-tooltip table .info {
	padding:0;
	color:#757575;
}
.ec-base-tooltip table p.info:before,.ec-base-tooltip table ul.info li:before {
	display:inline-block;
	content:"";
	margin:0 3px 0 0;
	width:4px;
	height:1px;
	background:#757575;
	vertical-align:middle;
}
.ec-base-tooltip .info {
	padding:10px 10px 0;
	margin:5px 0 0;
}
.ec-base-tooltip p.bullet,.ec-base-tooltip ul.bullet {
	margin:8px 10px;
}
.ec-base-tooltip p.bullet:before,.ec-base-tooltip ul.bullet li:before {
	display:inline-block;
	content:"";
	margin:-3px 3px 0 0;
	width:0;
	height:0;
	border:solid transparent;
	border-left-color:#333;
	border-width:2px 0 2px 2px;
	vertical-align:middle;
}
.ec-base-tooltip ul.bullet li {
	line-height:1.5em;
}
.ec-base-tooltip .txtEm {
	color:#1b1b1b;
}
.ec-base-tooltip .txtWarn {
	color:#f65b54;
}
.ec-base-tooltip.typeUpper {
	top:auto;
	bottom:34px;
}
.ec-base-tooltip.typeUpper .edge {
	top:auto;
	bottom:-6px;
}
.ec-base-tooltip.typeUpper .edge:before {
	margin:0 0 -5px;
	border-top-color:#565960;
	border-width:5px 5px 0 5px;
}
.ec-base-tooltip.typeUpper .edge:after {
	left:1px;
	margin:0 0 -4px;
	border-top-color:#fff;
	border-width:4px 4px 0 4px;
}
span.ec-base-help,p.ec-base-help,ul.ec-base-help li {
	margin:2px 9px;
	padding:1px 0 1px 20px;
	line-height:1.4;
	background:url('//img.echosting.cafe24.com/skin/base/common/ico_info.gif') no-repeat 0 2px;
}
div.ec-base-help {
	margin:20px 0;
	border:1px solid #d6d4d4;
	line-height:18px;
}
div.ec-base-help>h2,div.ec-base-help>h3 {
	padding:9px 0 6px 10px;
	border-bottom:1px solid #e8e7e7;
	color:#101010;
	font-size:12px;
	background:#fbfbfb;
}
div.ec-base-help .inner {
	padding:0 9px 12px;
}
div.ec-base-help h4 {
	margin:22px 0 -4px;
	color:#404040;
	font-size:12px;
	font-weight:normal;
}
div.ec-base-help h4:first-child {
	margin-top:13px;
}
div.ec-base-help p {
	margin:15px 0 0 10px;
	color:#707070;
}
div.ec-base-help ul,div.ec-base-help ol {
	margin:15px 0 0 11px;
}
div.ec-base-help li {
	color:#707070;
}
div.ec-base-help ol li {
	padding:0 0 0 25px;
	background:url('//img.echosting.cafe24.com/skin/base/common/ico_number.png') no-repeat;
}
div.ec-base-help ol .item1 {
	background-position:-484px 0;
}
div.ec-base-help ol .item2 {
	background-position:-434px -100px;
}
div.ec-base-help ol .item3 {
	background-position:-384px -200px;
}
div.ec-base-help ol .item4 {
	background-position:-334px -300px;
}
div.ec-base-help ol .item5 {
	background-position:-284px -400px;
}
div.ec-base-help ol .item6 {
	background-position:-234px -500px;
}
div.ec-base-help ol .item7 {
	background-position:-184px -600px;
}
div.ec-base-help ol .item8 {
	background-position:-134px -700px;
}
div.ec-base-help ol .item9 {
	background-position:-84px -800px;
}
div.ec-base-help ol .item10 {
	background-position:-34px -900px;
}
div.ec-base-help ul li {
	padding:0 0 0 11px;
	background:url('//img.echosting.cafe24.com/skin/base/common/ico_dash.gif') no-repeat 0 7px;
}
.ec-base-product {
	margin:40px 0 0;
}
.ec-base-product .title {
	margin:0 0 20px;
}
.ec-base-product .title h2 {
	font-size:16px;
	color:#2e2e2e;
}
.ec-base-product .title h3 {
	font-size:15px;
	color:#2e2e2e;
}
.ec-base-product .title span span {
	font-size:13px;
	color:#7d7d7d;
}
.ec-base-product img {
	vertical-align:middle;
}
.ec-base-product .prdList {
	display:table;
	width:100%;
	min-width:756px;
	margin:-20px 0 0;
	font-size:0;
	line-height:0;
	text-align:left;
}
.ec-base-product .prdList>li {
	display:inline-block;
	margin:20px 0;
	color:#757575;
	vertical-align:top;
	text-align:left;
	position:relative;
}
.ec-base-product .prdList .chk {
	display:block;
	margin:0 0 10px;
	text-align:center;
	position:absolute;
	top:6px;
	left:50%;
	z-index:10;
}
.ec-base-product .prdList .thumbnail {
	position:relative;
	margin:0 7px 10px;
	text-align:center;
}
.ec-base-product .prdList .thumbnail>a img {
	width:100%;
	box-sizing:border-box;
}
.ec-base-product .prdList .thumbnail .img_medium {
	position:absolute;
	top:0;
	left:0;
}
.ec-base-product .prdList .thumbnail .wish {
	position:absolute;
	right:3px;
	bottom:4px;
	z-index:1;
	cursor:pointer;
}
.ec-base-product .prdList .thumbnail .prdIcon {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
}
.ec-base-product .prdList .description {
	margin:0 auto;
	padding:0 7px;
	font-size:12px;
	line-height:18px;
	text-align:center;
}
.ec-base-product .prdList .description .name {
	display:block;
	border-bottom:1px solid #eeeeee;
	margin-bottom:10px;
	padding-bottom:10px;
	text-align:center;
}
.ec-base-product .prdList .description .name a {
	color:#2e2e2e;
	word-break:break-all;
	display:block;
}
.ec-base-product .prdList .description .icon {
	margin:15px 15px 0;
	vertical-align:middle;
}
.ec-base-product .prdList .description .icon:after {
	content:"";
	display:block;
	clear:both;
}
.ec-base-product .prdList .description .promotion {
	margin:0 0 4px;
}
.ec-base-product .prdList .description .button {
	float:right;
	margin:0 0 4px;
}
.ec-base-product .prdList .description .button img {
	cursor:pointer;
}
.ec-base-product .prdList .description .button .option {
	display:inline;
	position:relative;
}
.ec-base-product .prdList .description .mileage {
	display:block;
}
.ec-base-product .prdList .description span.grid {
	display:block;
}
.ec-base-product ul.prdList .likeButton {
	position:absolute;
	left:5px;
	bottom:10px;
	padding:3px 8px;
	background:#fff;
	opacity:0;
	z-index:10;
	transition:opacity .3s ease,left .2s ease;
}
.ec-base-product ul.prdList li:hover .likeButton {
	opacity:0.9;
	animation-name:likeButton;
	animation-duration:0.2s;
	opacity:0.9;
}
.ec-base-product ul.prdList li:hover .likeButton,.ec-base-product ul.prdList .likeButton.selected {
	left:10px;
}
.ec-base-product ul.prdList .likeButton button {
	font-size:12px;
	color:#9a9a9a;
	letter-spacing:-1px;
	background:none;
}
.ec-base-product ul.prdList .likeButton button img {
	margin-bottom:0;
	vertical-align:middle;
	max-width:14px;
	display:inline-block !important
}
.ec-base-product ul.prdList .likeButton button strong {
	margin-left:2px;
	height:16px;
	vertical-align:middle;
}
.ec-base-product ul.prdList .likeButton.selected {
	opacity:1;
}
.ec-base-product ul.grid2>li {
	width:47.5%;
	background:#fff;
	margin-left:1%;
	margin-right:1%;
	border:1px solid #eee;
}
.ec-base-product ul.grid2 .thumbnail {
	margin:0;
	width:50%;
	float:left;
	text-align:left;
}
.ec-base-product ul.grid2 .thumbnail>a img {
	width:100%;
}
.ec-base-product ul.grid2 .description {
	width:48%;
	text-align:left;
	float:right;
	padding:0;
	margin-top:40px;
}
.ec-base-product ul.grid2 .description .name {
	text-align:left;
	margin:15px 15px 0 0;
}
.ec-base-product ul.grid2 .description .spec {
	text-align:left;
	margin:15px 15px 0;
}
.ec-base-product ul.grid3>li {
	width:33.33%;
}
.ec-base-product ul.grid4>li {
	width:25%;
}
.ec-base-product ul.grid5>li {
	width:20%;
}
.ec-base-product ul.grid6>li {
	width:16.66%;
}
.ec-base-product ul.grid3>li .color {
	max-width:230px;
}
.ec-base-product ul.grid4>li .color {
	max-width:190px;
}
.ec-base-product ul.grid5>li .color {
	max-width:130px;
}
.ec-base-product ul.grid6>li .color {
	max-width:100px;
}
.ec-base-product .spec {
	margin:0;
}
.ec-base-product .spec li {
	margin-bottom:5px;
}
.ec-base-product .spec li .title {
	font-weight:normal;
	vertical-align:top;
}
.ec-base-product .spec li .title span {
	vertical-align:top;
}
.ec-base-product .spec li .color {
	overflow:hidden;
	display:inline-block;
	margin:6px 0;
}
.ec-base-product .spec li .chips {
	float:left;
	width:12px;
	height:6px;
	margin:0 2px 2px 0;
	border:1px solid #e3e3e3;
	font-size:0;
	line-height:0;
}
.ec-base-product .discountPeriod {
	display:inline-block;
	z-index:10;
	position:relative;
	width:55px;
	height:19px;
	vertical-align:middle;
}
.ec-base-product .layerDiscountPeriod {
	left:50%;
	top:26px;
	width:247px;
	margin:0 0 0 -124px;
}
.ec-base-product .layerDiscountPeriod strong.title {
	display:block;
	margin:0 0 12px;
	padding:0 35px 0 0;
	font-weight:bold;
	color:#2e2e2e;
}
.ec-base-product .layerDiscountPeriod .content p {
	margin:2px 0 0;
	font-size:11px;
	color:#000;
	line-height:16px;
	color:#757575;
	letter-spacing:-1px;
}
.ec-base-product .layerDiscountPeriod .content p strong {
	font-weight:normal;
	font-size:12px;
	color:#2e2e2e;
}
.ec-base-product .layerDiscountPeriod .content p strong span {
	font-size:11px;
}
.ec-product-bgLT {
	background-position:left top;
}
.ec-product-bgLC {
	background-position:left center;
}
.ec-product-bgLB {
	background-position:left bottom;
}
.ec-product-bgRT {
	background-position:right top;
}
.ec-product-bgRC {
	background-position:right center;
}
.ec-product-bgRB {
	background-position:right bottom;
}
.ec-product-bgCT {
	background-position:center top;
}
.ec-product-bgCC {
	background-position:center center;
}
.ec-product-bgCB {
	background-position:center bottom;
}
.discount_rate {
	font-size:13px;
	width:45px;
	height:45px;
	line-height:45px;
	display:none;
	z-index:10;
	position:absolute;
	top:9px;
	right:15px;
	background:#ed2e35;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
ul.prdList>li:hover .iconarea {
	opacity:0.9;
	z-index:2;
	right:10px;
}
ul.prdList .iconarea {
	opacity:0;
	position:absolute;
	bottom:8px;
	right:5px;
	transition:opacity .3s ease,right .2s ease;
	cursor:pointer;
	z-index:1;
}
ul.prdList .iconarea img {
	background:#fff;
	display:block;
	margin:1px 0;
}
.xans-product-listrecommend {
	margin:0 0 37px;
	border-bottom:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
	background:#f9f9f9;
	padding:10px;
}
.xans-product-listrecommend .best_label {
	width:50px;
	height:20px;
	text-align:center;
	color:#fff;
	position:absolute;
	top:10px;
	font-size:11px;
	line-height:20px;
	left:17px;
	background:#0e0e0e;
	z-index:10;
	font-weight:bold;
}
.xans-product-listnew {
	margin:0;
	border-bottom:1px solid #eee;
}
.xans-product-listnew .new_label {
	width:50px;
	height:20px;
	text-align:center;
	color:#fff;
	background:#94b705;
	position:absolute;
	top:10px;
	font-size:11px;
	line-height:20px;
	left:17px;
	z-index:10;
	font-weight:bold;
}
.ec-base-paginate {
	margin:30px 0;
	text-align:center;
	font-size:0;
	line-height:0;
}
.ec-base-paginate ol {
	display:inline-block;
	font-size:0;
	line-height:0;
	vertical-align:top;
	*display:inline;
	*zoom:1;
	*margin:0;
}
.ec-base-paginate li {
	display:inline-block;
	margin:0 0 0 -1px;
	font-size:12px;
	color:#757575;
	vertical-align:top;
	*display:inline;
	*zoom:1;
}
.ec-base-paginate li:first-child {
	margin-left:0;
}
.ec-base-paginate img {
	vertical-align:top;
}
.ec-base-paginate li a {
	display:block;
	width:25px;
	padding:5px 0;
	font-weight:bold;
	color:#939393;
	line-height:14px;
	background:#fff;
}
.ec-base-paginate li a:hover {
	text-decoration:none;
	background:#f0f2f2;
}
.ec-base-paginate li a.this {
	color:#444444;
}
.ec-base-paginate a.nolink {
	cursor:default;
}
.ec-base-paginate.typeSub ol {
	margin:0 6px;
	vertical-align:middle;
}
.ec-base-paginate.typeSub li {
	font-size:11px;
	border:0;
}
.ec-base-paginate.typeSub img {
	vertical-align:middle;
}
.ec-base-paginate.typeSub li a {
	width:auto;
	margin:0 5px 0;
	padding:2px;
	color:#353535;
	background:none;
}
.ec-base-paginate.typeSub li a.this {
	color:#111111;
	text-decoration:underline;
	border:0;
}
.ec-base-paginate.typeSub .first {
	margin-right:3px;
}
.ec-base-paginate.typeSub .last {
	margin-left:3px;
}
.ec-base-tab {
	position:relative;
}
.ec-base-tab .menu {
	margin:0 0 20px;
	border:1px solid #cbcdce;
	border-bottom-color:#202020;
	border-left:0;
	border-top:0;
	border-right:0;
	background:#fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.ec-base-tab .menu:after {
	content:"";
	display:block;
	clear:both;
}
.ec-base-tab .menu li {
	display:inline-block;
	margin-left:-5px;
	border-left:1px solid #cbcdce;
	background:#f5f5f5;
}
.ec-base-tab .menu li a {
	display:block;
	min-width:187px;
	margin:0 0 0 -1px;
	padding:12px 5px 11px;
	border-right:1px solid #cbcdce;
	border-top:1px solid #cbcdce;
	color:#707070;
	text-decoration:none;
	outline:0;
	text-align:center;
}
.ec-base-tab .menu li:first-child a {
	margin-left:0;
	border-left:0
}
.ec-base-tab .menu li.selected a {
	position:relative;
	top:0;
	left:-1px;
	border:1px solid #202020;
	border-bottom:0;
	color:#fff;
	font-weight:bold;
	background:#444444;
}
.ec-base-tab .right {
	position:absolute;
	top:8px;
	right:10px;
	line-height:24px;
	color:#909090;
}
.ec-base-tab .menu li.selected a {
	margin:0 0 -2px;
	border-bottom:1px solid #fff;
	color:#404040;
	background:#fff;
}
.ec-base-tab.grid2 .menu li {
	width:49.9%;
}
.ec-base-tab.grid3 .menu li {
	width:33.33%
}
.ec-base-tab.grid4 .menu li {
	width:24.9%;
}
.ec-base-tab.grid5 .menu li {
	width:19.9%;
}
.ec-base-tab.grid6 .menu li {
	width:15.9%;
}
.ec-base-tab.grid6 .menu li a {
	min-width:50px;
}
.ec-base-tab.grid7 .menu li {
	width:14.18%;
	/* width:15% \0/; */
}
.ec-base-tab.grid7 .menu li:first-child {
	/* width:13% \0/; */
}
.ec-base-tab.grid7 .menu li a {
	min-width:50px;
}
.ec-base-button {
	padding:10px 0;
	text-align:center;
}
.ec-base-button.justify {
	position:relative;
}
.ec-base-button:after {
	display:block;
	content:"";
	clear:both;
}
.ec-base-button .gLeft {
	float:left;
	text-align:left;
}
.ec-base-button .gRight {
	float:right;
	text-align:right;
}
.ec-base-button.justify .gLeft {
	position:absolute;
	left:0;
}
.ec-base-button.justify .gRight {
	position:absolute;
	right:0;
}
.ec-base-button .text {
	margin:0 6px 0 10px;
	color:#353535;
	line-height:24px;
}
.ec-base-button.typeBorder {
	margin-top:-1px;
	padding:10px 0px;
}
.ec-base-button.typeBG {
	padding:10px 0px;
}
.ec-base-box {
	padding:20px;
	border:1px solid #e8e8e8;
	color:#404040;
}
.ec-base-box.gHalf {
	position:relative;
	padding:20px 0;
}
.ec-base-box.gHalf:before {
	position:absolute;
	top:0;
	left:50%;
	display:block;
	content:"";
	width:1px;
	height:100%;
	background-color:#e6e6e6;
}
.ec-base-box.typeBg {
	background-color:#fbfafa;
}
.ec-base-box.typeThin {
	border-width:1px;
	border-color:#d7d5d5;
}
.ec-base-box.typeThinBg {
	border-width:1px;
	border-color:#d7d5d5;
	background-color:#fbfafa;
}
.ec-base-box.typeThinBg>.agree {
	padding:20px;
	border:1px solid #e6e6e6;
	background:#fff;
}
.ec-base-box.typeThinBg>.agree p {
	padding:0 0 17px;
}
.ec-base-box.typeMember {
	padding:0;
}
.ec-base-box.typeMember .information {
	display:table;
	table-layout:fixed;
	padding:10px 0;
	width:100%;
	box-sizing:border-box;
}
.ec-base-box.typeMember .information>.title,.ec-base-box.typeMember .information>.thumbnail {
	display:table-cell;
	padding:0 15px;
	width:70px;
	text-align:center;
	vertical-align:middle;
}
.ec-base-box.typeMember .information>.title {
	vertical-align:middle;
}
.ec-base-box.typeMember .information>.thumbnail img {
	max-width:70px;
}
.ec-base-box.typeMember .information .description {
	display:table-cell;
	padding:0 10px;
	width:auto;
	line-height:1.5em;
	border-left:1px solid #e8e8e8;
	vertical-align:middle;
}
.ec-base-box.typeMember.gMessage {
	border-width:1px;
	border-color:#d7d5d5;
}
.ec-base-box .message {
	display:block;
	padding:10px 0 10px 35px;
	border-bottom:1px solid #e8e7e7;
	background:#fbfbfb url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 10px center;
}
.ec-base-box.typeProduct {
	display:table;
	table-layout:fixed;
	padding:15px 0;
	width:100%;
	box-sizing:border-box;
}
.ec-base-box.typeProduct .thumbnail,.ec-base-box.typeProduct .information {
	display:table-cell;
	padding:0 20px;
	vertical-align:middle;
}
.ec-base-box.typeProduct .thumbnail {
	width:100px;
}
.ec-base-box.typeProduct .thumbnail img {
	max-width:90px;
	border:1px solid #d7d5d5;
}
.ec-base-box.typeProduct .information {
	padding-left:0;
}
.ec-base-table table {
	position:relative;
	margin:10px 0 0;
	border:1px solid #d7d5d5;
	border-left:0;
	border-right:0;
	border-top-color:#fff;
	color:#fff;
	line-height:1.5;
}
.ec-base-table.gLayoutFixed table {
	table-layout:fixed;
}
.ec-base-table.gLayoutFixed .gLayoutAuto table {
	table-layout:auto;
}
.ec-base-table table:before {
	position:absolute;
	top:1px;
	left:0;
	display:block;
	content:"";
	width:100%;
	height:1px;
	background:#d7d5d5;
}
.ec-base-table thead th {
	padding:11px 0 10px;
	border-bottom:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
	font-weight:normal;
}
.ec-base-table tbody th {
	padding:11px 0 10px 18px;
	border:1px solid #dfdfdf;
	border-bottom-width:0;
	color:#353535;
	text-align:left;
	font-weight:normal;
}
.ec-base-table th:first-child {
	border-left:0;
	border-right:0;
}
.ec-base-table td {
	padding:11px 10px 10px;
	border-top:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
}
.ec-base-table td.clear {
	padding:0 !important;
	border:0 !important;
}
.ec-base-table.typeWrite td {
	padding:8px 10px 7px;
}
.ec-base-table.typeList table {
	border-top-color:#d7d5d5;
}
.ec-base-table.typeList table:before {
	display:none;
}
.ec-base-table.typeList td {
	padding:11px 10px 11px;
}
.ec-base-table.typeList tfoot td {
	padding:15px 10px 17px;
}
.ec-base-table .message {
	border:1px solid #d7d5d5;
	border-left:0;
	border-right:0;
	padding:50px 0;
	text-align:center;
	color:#757575;
	font-weight:bold;
}
.ec-base-table table+.message {
	margin:-1px 0 0;
}
.ec-base-table table td.message {
	padding:50px 0;
}
.ec-base-table .scroll .message {
	border:0;
}
.ec-base-table.typeList .head td {
	padding:11px 0 10px;
	border-bottom:1px solid #dfdfdf;
	color:#353535;
	vertical-align:middle;
	text-align:center;
}
.ec-base-table.typeList .head td:first-child {
	border-left:0;
}
.ec-base-table.typeList .scroll {
	position:relative;
	overflow-x:hidden;
	overflow-y:scroll;
	max-height:185px;
	min-height:100px;
	border:1px solid #d7d5d5;
	border-top-width:0;
	margin-top:-1px;
}
.ec-base-table.typeList .scroll table {
	border:0;
	margin:0;
}
.ec-base-table.typeList .scroll table:before {
	display:none;
}
.ec-base-table.typeList .scroll .message {
	border:0;
}
.ec-base-table thead.blind,.ec-base-table thead.blind th {
	display:none;
}
.ec-base-table thead.blind+tbody tr:first-child th,.ec-base-table thead.blind+tbody tr:first-child td {
	border-top-width:0;
}
.ec-base-table.typeList.gLine table {
	border-width:0;
	border-bottom-width:1px;
}
.ec-base-table.typeClear table:before {
	display:none;
}
.ec-base-table.typeClear table,.ec-base-table.typeClear th,.ec-base-table.typeClear td {
	border:0 none;
	background:none;
}
.ec-base-table.typeClear th {
	font-weight:bold;
}
.ec-base-table.gBorder td {
}
.ec-base-table.gBorder td:first-child {
	border-left:0;
}
.ec-base-table .left {
	text-align:left;
}
.ec-base-table .center {
	text-align:center;
}
.ec-base-table .right {
	text-align:right;
}
.ec-base-table.typeList .center td,.ec-base-table.typeList td.center {
	padding-left:0;
	padding-right:0;
}
.ec-base-table.typeList .center td.left {
	padding-left:10px;
}
.ec-base-table.typeList .center td.right {
	padding-right:10px;
}
.ec-base-table .top th,.ec-base-table th.top,.ec-base-table .top td,.ec-base-table td.top {
	vertical-align:top;
}
.ec-base-table .middle th,.ec-base-table th.middle,.ec-base-table .middle td,.ec-base-table td.middle {
	vertical-align:middle;
}
.ec-base-table img {
	vertical-align:middle;
}
@media print {
	.ec-base-table table:before {
		display:none;
	}
}
.ec-base-desc {
	overflow:hidden;
	text-align:left;
}
.ec-base-desc:after {
	content:"";
	display:block;
	claer:both;
}
.ec-base-desc dt,.ec-base-desc .term {
	float:left;
	width:100px;
	margin:0 0 2px;
	padding:0 4px 0 0;
	line-height:22px;
	-webkit-box-sizing:border-box;
	-moz-webkit-box:border-box;
	box-sizing:border-box;
	font-weight:normal;
}
.ec-base-desc dd,.ec-base-desc .desc {
	display:block;
	margin:0 0 2px;
	padding:0 5px 0 100px;
	min-height:22px;
	line-height:22px;
	word-wrap:break-word;
}
.ec-base-desc dd:after,.ec-base-desc .desc:after {
	content:"";
	display:block;
	clear:left;
}
.ec-base-desc.gSmall dt,.ec-base-desc.gSmall .term {
	width:30%;
}
.ec-base-desc.gSmall dd,.ec-base-desc.gSmall .desc {
	padding-left:30%;
}
.ec-base-desc.gMedium dt,.ec-base-desc.gMedium .term {
	width:40%;
}
.ec-base-desc.gMedium dd,.ec-base-desc.gMedium .desc {
	padding-left:40%;
}
.ec-base-desc.gLarge dt,.ec-base-desc.gLarge .term {
	width:50%;
}
.ec-base-desc.gLarge dd,.ec-base-desc.gLarge .desc {
	padding:0 0 0 50%;
}
.ec-base-desc.centerDT dt,.ec-base-desc.centerDD dd,.ec-base-desc.centerDT .term,.ec-base-desc.centerDD .desc,.ec-base-desc.center,.ec-base-desc .center {
	text-align:center;
}
.ec-base-desc.rightDT dt,.ec-base-desc.rightDD dd,.ec-base-desc.rightDT .term,.ec-base-desc.rightDD .desc,.ec-base-desc.right,.ec-base-desc .right {
	text-align:right;
}
.ec-base-desc.rightDD dd,.ec-base-desc.rightDD .desc {
	padding-right:0;
}
.ec-base-desc.typeBullet dt,.ec-base-desc.typeBullet .term {
	padding:0 4px 0 10px;
	background:url("//img.echosting.cafe24.com/skin/base/common/ico_arrow.png") no-repeat 0 7px;
}
.ec-base-desc.typeDot dt,.ec-base-desc.typeDot .term {
	padding:0 4px 0 6px;
	background:url("//img.echosting.cafe24.com/skin/base/common/ico_square3.gif") no-repeat left 10px;
}
.clear {
	clear:both;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
#main-wrap {
	position:relative;
}
.site-wrap {
	position:relative;
	width:1200px;
	margin:0 auto;
}
.dp_sample {
	display:block;
}
.dp_sample.naverpay {
	text-align:right
}
#tbanner {
	position:relative;
	overflow:hidden;
	height:0;
	z-index:99;
	transition:height .4s;
}
#tbanner:hover .page .prev,#tbanner:hover .page .next {
	opacity:1;
}
#tbanner .page .prev,#tbanner .page .next {
	position:absolute;
	top:50%;
	margin-top:-19px;
	z-index:98;
	display:block;
	cursor:pointer;
	background-position:0 0;
	background-repeat:no-repeat;
	width:32px;
	height:32px;
	opacity:0;
	transition:opacity .25s ease;
	-webkit-transition:opacity .25s ease;
}
#tbanner .page .prev:hover,#tbanner .page .next:hover {
	filter:alpha(opacity=60);
	opacity:0.6;
	-moz-opacity:0.6;
}
#tbanner .page .prev {
	left:50%;
	margin-left:-600px;
	background-image:url(../img/top_btn_prev.png);
}
#tbanner .page .next {
	right:50%;
	margin-right:-600px;
	background-image:url(../img/top_btn_next.png);
}
#tbanner .close {
	position:absolute;
	right:50%;
	bottom:7px;
	margin-right:-595px;
	z-index:98;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	border-radius:20px;
	cursor:pointer;
	color:#555;
	font-size:12px;
}
#tbanner .close img {
	width:100%;
}
#tbanner .oneday {
	position:absolute;
	bottom:10px;
	right:50%;
	margin-right:-574px;
	z-index:97;
	display:none;
}
#tbanner .oneday label {
	color:#777;
}
#tbanner .image_list {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-2500px;
	width:5000px;
}
#tbanner .image_list li {
	text-align:center;
}
.top-menu-wrap {
	border-bottom:1px solid #dddddd;
	height:30px;
}
.top-menu-wrap .inner {
	height:100%
}
.top-menu-wrap .inner .site-wrap {
	height:100%;
}
.top-menu-wrap.fixed .inner {
	position:fixed;
	top:0;
	width:100%;
	height:30px;
	background:#fff;
	border-bottom:1px solid #ddd;
	z-index:98;
}
.top-menu-wrap.fixed li,.top-menu-wrap.fixed li a {
	color:#555 !important;
}
.top-menu-wrap .xans-layout-multishoplist.list {
	float:left;
	position:relative;
	z-index:98;
}
.top-menu-wrap .xans-layout-multishoplist.list .toggle {
	background:#fff;
	line-height:30px;
	height:30px;
	display:block;
	color:#757575;
}
.top-menu-wrap .xans-layout-multishoplist.list .toggle span {
	font-size:11px;
	padding:0 20px 0 0;
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_multishop1.png") no-repeat 100% 50%;
}
.top-menu-wrap .xans-layout-multishoplist.list .toggle span>img {
	vertical-align:middle
}
.top-menu-wrap .xans-layout-multishoplist.list>ul {
	display:none;
	position:absolute;
	left:0;
	top:30px;
	overflow:auto;
	width:168px;
	height:125px;
	border:1px solid #d5d5d5;
	background:#fff;
	padding:0 10px;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li {
	position:relative;
	height:30px;
	margin:-1px 0 0;
	line-height:30px;
	width:100%;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li a {
	width:100%;
	display:block;
	overflow:hidden;
	color:#353535;
	font-size:11px;
	white-space:nowrap;
	text-decoration:none;
	text-overflow:ellipsis;
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_multishop2.png") no-repeat 100% -30px;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li.selected a {
	background:url("//img.echosting.cafe24.com/skin/base/layout/ico_multishop2.png") no-repeat 100% 10px;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li a img {
	width:20px;
	vertical-align:middle;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li a .name strong {
	font-weight:normal;
}
.top-menu-wrap .xans-layout-multishoplist.list>ul li a .unit {
	position:absolute;
	right:38px;
	top:0;
	color:#757575;
}
.top-menu-wrap .xans-layout-multishoplist.list.show>ul {
	display:block;
}
.top-menu-wrap .bookmark {
	float:left;
}
.top-menu-wrap .bookmark li {
	float:left;
	height:30px;
	line-height:30px;
}
.top-menu-wrap .bookmark li:before {
	content:' | ';
	color:#ddd;
}
.top-menu-wrap .bookmark li:first-child:before {
	content:none;
}
.top-menu-wrap .bookmark,.top-menu-wrap .bookmark a {
	color:#777;
	text-decoration:none;
	font-size:11px;
	transition:opacity .25s ease;
	-webkit-transition:opacity .25s ease;
}
.top-menu-wrap .bookmark a {
	padding:0 5px;
}
.top-menu-wrap .bookmark a:hover {
	opacity:0.7;
}
.top-menu-wrap.fixed .bookmark {
	position:relative;
	z-index:2;
}
.top-menu-wrap .float-right>ul {
	position:relative;
	display:table;
}
.top-menu-wrap .float-right>ul>li {
	position:relative;
	display:table-cell;
	height:30px;
	vertical-align:top;
	z-index:99;
}
.top-menu-wrap .float-right>ul>li,.top-menu-wrap .float-right>ul>li>a {
	color:#7d7d7d;
	text-decoration:none;
	font-size:11px;
	letter-spacing:-0.5px;
}
.top-menu-wrap .float-right>ul>li>a {
	padding:0 5px;
	height:30px;
	line-height:30px;
	display:block;
	transition:color .25s ease;
	-webkit-transition:color .25s ease;
}
.top-menu-wrap .float-right>ul>li>a:hover {
	color:#000;
}
.top-menu-wrap .float-right>ul>li .point {
	position:absolute;
	top:23px;
	left:3px;
	width:52px;
	height:21px;
	z-index:1;
}
.top-menu-wrap .float-right>ul>li .count {
	background:#888;
	color:#fff;
	font-size:10px;
	padding:1px 4px;
	border-radius:10px;
}
.top-menu-wrap .float-right>ul>li .ico {
	width:5px;
	height:3px;
	background:url(../img/top_drop_arrow.gif) no-repeat;
	display:inline-block;
	margin:14px 0 0 5px;
	vertical-align:top;
}
.top-menu-wrap .float-right>ul>li .dropdown {
	position:absolute;
	left:50%;
	margin-left:-60px;
	top:20px;
	transition:top .3s ease;
	height:0;
	overflow:hidden;
	visibility:hidden;
	visibility:visible \9;
	opacity:0;
	box-shadow:2px 2px 4px rgba(0,0,0,0.1);
	z-index:99;
	width:90px;
	background:#fff;
	position:absolute;
	left:50%;
	margin-left:-60px;
}
.top-menu-wrap .float-right>ul>li:hover .dropdown {
	height:auto;
	opacity:1;
	top:30px;
	visibility:visible;
	padding:8px 10px;
	border:1px solid #ddd;
}
.top-menu-wrap .float-right>ul>li .dropdown p,.top-menu-wrap .float-right>ul>li .dropdown p a {
	font-size:11px;
	padding:1px 0;
	margin:0;
	color:#7d7d7d;
	letter-spacing:-0.5px;
	display:block;
}
.top-menu-wrap .float-right>ul>li .dropdown p a:hover {
	color:#111;
}
.top-menu-wrap .float-right>ul>li .dropdown .bg {
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.8
}
.top-menu-wrap .float-right>ul>li .dropdown .nologin {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	font-weight:bold;
	padding:35px 0 0;
	color:#777;
}
.top-menu-wrap .menu-logo {
	position:absolute;
	display:table;
	width:100%;
	height:100%;
	text-align:center;
	top:-10px;
	visibility:hidden;
	opacity:0;
	transition:all .6s ease;
	-webkit-transition:all .6s ease;
}
.top-menu-wrap .menu-logo.on {
	opacity:1;
	top:0;
	visibility:visible;
}
.top-menu-wrap .menu-logo .vertical {
	display:table-cell;
	vertical-align:middle;
}
.top-menu-wrap .menu-logo img {
	height:18px;
}
.logo-wrap {
	height:110px;
	background:#fff;
}
.logo-wrap .site-wrap {
	height:100%;
}
.logo-wrap .logo {
	position:absolute;
	display:table;
	text-align:left;
	/*width:100%;*/
	height:100%;
	left:480px;
}
.logo-wrap .logo .vertical {
	display:table-cell;
	vertical-align:middle;
}
.logo-wrap .logo .vertical a {
	display:inline;
	padding:15px 0;
}
.logo-wrap .top-banner {
	visibility:hidden;
	width:260px;
	height:80px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-41px;
}
.logo-wrap .top-banner .banner {
	z-index:1;
}
.logo-wrap .top-banner .banner>li {
	text-align:center;
}
.logo-wrap .top-banner .bx-wrapper img {
	display:inline !important;
}
.logo-wrap .top-banner .bx-wrapper .bx-pager,.logo-wrap .top-banner .bx-wrapper .bx-controls-auto {
	top:0;
	bottom:auto;
	z-index:30;
	text-align:right;
	font-size:0;
}
.logo-wrap .top-banner .bx-wrapper .bx-prev {
	left:50%;
	margin-left:-135px;
	background:url(../img/tb_arrow_prev.png) no-repeat center;
}
.logo-wrap .top-banner .bx-wrapper .bx-next {
	right:50%;
	margin-right:-135px;
	background:url(../img/tb_arrow_next.png) no-repeat center;
}
.logo-wrap .top-banner .bx-wrapper .bx-prev,.logo-wrap .top-banner .bx-wrapper .bx-next {
	transition:opacity .3s ease;
	-webkit-transition:opacity .3s ease;
	opacity:0;
}
.logo-wrap .top-banner .bx-wrapper .bx-controls-direction a {
	width:12px;
	height:19px;
}
.logo-wrap .top-banner .bx-controls-direction a {
	margin-top:-7px;
	width:15px;
	height:15px;
}
.logo-wrap .top-banner .bx-pager.bx-default-pager {
	transition:opacity .3s ease;
	-webkit-transition:opacity .3s ease;
}
.logo-wrap .top-banner .bx-pager.bx-default-pager a {
	width:8px;
	height:8px;
	border-radius:30px;
	background-color:#aaa;
	border:0;
}


.site-wrap .search {
	position:absolute;
	right:0;
	height:100%;
	display:table;
	margin-top:6px;
}
.site-wrap .search .dp-search {
	position:relative;
	display:table-cell;
	vertical-align:middle;
}
.site-wrap .search .dp-search .keyword {
	max-width:100px;
	float:left;
	line-height:26px;
	height:26px;
	margin:0 10px 0;
	text-align:center;
}
.site-wrap .search .dp-search .keyword ul {
	visibility:hidden;
	min-width:80px;
	max-width:100px;
}
.site-wrap .search .dp-search .keyword ul li {
	height:26px;
}
.site-wrap .search .dp-search .keyword a {
	color:#7d7d7d;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.site-wrap .search .dp-search .keyword .bx-wrapper .bx-controls-direction {
	height:26px;
}
.site-wrap .search .dp-search .keyword .bx-wrapper .bx-prev {
	top:-10px;
	left:50%;
	margin-left:-7px;
	width:15px;
	height:10px;
	background:url(../img/top_keyword_top.jpg) no-repeat center;
}
.site-wrap .search .dp-search .keyword .bx-wrapper .bx-next {
	bottom:-10px;
	right:50%;
	margin-right:-7px;
	width:15px;
	height:10px;
	background:url(../img/top_keyword_btm.jpg) no-repeat center;
}
.site-wrap .search .dp-search .keyword .bx-wrapper .bx-prev:hover,.logo-wrap .search .dp-search .keyword .bx-wrapper .bx-next:hover {
	opacity:1
}
.site-wrap .search .dp-search form {
	display:inline;
}
.site-wrap .search .dp-search .xans-layout-searchheader {
	position:relative;
	float:right;
	margin-top:1px;
}
.site-wrap .search .dp-search .icon {
	position:absolute;
	right:5px;
	top:8px;
	width:30px;
	text-align:center;
	background:none;
}
.site-wrap .search .dp-search .inputTypeText {
	width: 220px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
    background: #f0f0f0;
    border-radius: 3px;
    color: #000;
    outline: none;
    letter-spacing: 0.5px;
    padding-right: 35px;

}


.ad-banner {
	position:absolute;
	left:50%;
	margin-left:-760px;
	top:100px;
	z-index:5;
}
.ad-banner .close {
	width:8px;
	height:8px;
	cursor:pointer;
	position:absolute;
	right:15px;
	top:15px;
	padding:8px;
	background:#eee;
	border-radius:20px;
	overflow:hidden;
}
.ad-banner .close img {
	width:100%;
	margin-top: -8px;
}
.cate-wrap {
	background:#fff;
	/*position:relative;*/
	z-index:97;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #3e3233;
	height:45px;
}
.cate-wrap.fixed .inner {
	position:fixed;
	top:30px;
	width:100%;
	z-index:10000;
	box-shadow:0 2px 4px rgba(0,0,0,0.15);
	background:#ffffff;
	border-bottom:1px solid #3e3233;
	background-color:rgba( 255,255,255,0.95 );
}
.cate-wrap .all-menu-box {
	position:absolute;
	width:1198px;
	min-height:480px;
	max-height:650px;
	top:45px;
	left:50%;
	margin-left:-600px;
	box-shadow:0 2px 4px rgba(0,0,0,0.15);
	border:1px solid #666;
	z-index:1;
	display:none;
	background:#fff;
}
.cate-wrap .all-menu-box .top-box {
	position:absolute;
	top:-51px;
	left:0;
}
.cate-wrap .all-menu-box .top-box .all-menu {
	position:absolute;
	left:-1px;
	top:6px;
	height:45px;
	cursor:pointer;
	border:1px solid #666;
	border-bottom-color:#fff;
}
.cate-wrap .all-menu-box .top-box .close {
	position:absolute;
	right:20px;
	top:55px;
	width:30px;
	height:45px;
	z-index:10;
	background:url(../img/top_cate_close.png) no-repeat center center;
	cursor:pointer;
}
.cate-wrap .all-menu-box .conts-box {
	box-sizing:border-box;
	background:#fefffe;
	max-height:650px;
	overflow-y:auto;
	overflow-x:hidden;
}
.cate-wrap .all-menu-box .conts-box .cate-list {
	width:100%;
	box-sizing:border-box;
	padding:10px;
}
.cate-wrap .all-menu-box .conts-box .cate-list dl {
	display:inline-block;
	width:16.4%;
	margin-bottom:20px;
	vertical-align:top;
	min-height:100px;
}
.cate-wrap .all-menu-box .conts-box .box {
	width:190px;
}
.cate-wrap .all-menu-box .conts-box dl:first-child dt {
	border-left:0
}
.cate-wrap .all-menu-box .conts-box .box .catename {
	padding:10px 10px 10px;
	border-bottom:1px solid #eee;
}
.cate-wrap .all-menu-box .conts-box .box .catename a {
	font-size:13px;
	color:#555;
	font-weight:bold;
}
.cate-wrap .all-menu-box .conts-box .conts {
	display:table-cell;
	padding:8px 0;
}
.cate-wrap .all-menu-box .conts-box .conts li {
	padding:2px 10px;
}
.cate-wrap .all-menu-box .conts-box .conts li a {
	color:#999;
}
.cate-wrap .inner .menu-box {
	display:none;
}
.cate-wrap .all-toggle {
	width:40px;
	font-size:14px;
	height:45px;
	line-height:45px;
	position:absolute;
	box-sizing:border-box;
	left:0;
	cursor:pointer;
}
.cate-wrap .all-toggle img {
	margin-left:12px;
}
.cate-wrap .menu-toggle {
	position:relative;
	cursor:pointer;
	float:left;
	margin-left:55px;
	height:45px;
	line-height:45px;
	font-size:14px;
	width:136px;
}
.cate-wrap .menu-toggle .ss-arrow {
	position:absolute;
	top:17px;
	right:8px;
	background:url(../img/top_icon_up.gif) no-repeat center;
	width:16px;
	height:16px;
	z-index:10;
	transition:all .3s ease;
}
.cate-wrap .menu-toggle.on .ss-arrow {
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.cate-wrap .top-menu {
	float:left;
	width:760px;
}
.cate-wrap .top-menu li {
	height:46px;
	line-height:46px;
	float:left;
	text-align:center;
}
.cate-wrap .top-menu li:before {
	content:' | ';
	color:#eee;
}
.cate-wrap .top-menu li:first-child:before {
	padding-left:0;
	content:'';
}
.cate-wrap .top-menu li.red,.cate-wrap .top-menu li.red a {
	color:red
}
.cate-wrap .top-menu li a {
	text-decoration:none;
	font-size:14px;
	width:145px;
	display:inline-block;
}
.cate-wrap .top-menu li a:hover {
	font-weight:bold;
}
.cate-wrap .brand-search {
	width:110px;
	font-size:14px;
	height:45px;
	line-height:45px;
	text-align:center;
	position:absolute;
	box-sizing:border-box;
	right:0;
	cursor:pointer;
	z-index:1;
	color:#4c4c4c;
	font-weight:bold;
}
.cate-wrap .brand-search.on {
	background:#fff;
	border:1px solid #333;
	border-bottom:0;
	height:45px;
	font-weight:bold;
	margin-top:1px;
	line-height:41px;
}
.brand-box {
	position:absolute;
	width:1200px;
	border:1px solid #333;
	box-shadow:0 2px 4px rgba(0,0,0,0.15);
	padding:10px;
	box-sizing:border-box;
	left:0px;
	top:45px;
	background:#fff;
	text-align:left;
	display:none;
}
.brand-box .chosung {
	margin-top:10px
}
.brand-box .chosung>li {
	min-width:19px;
	height:19px;
	line-height:17px;
	text-align:center;
	font-size:11px;
	border:1px solid #ddd;
	border-radius:3px;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	margin-left:1px;
	transition:background 0.15s ease;
	cursor:pointer;
}
.brand-box .chosung>li:hover {
	color:#fff;
	background:#000;
}
.brand-box .chosung>li.active {
	background:#000;
	color:#fff;
}
.brand-box .chosung>li.en,.brand-box .chosung>li.etc {
	margin-left:10px;
}
.brand-box .chosung>li.etc {
	width:30px;
}
.brand-box .chosung li:first-child {
	width:40px;
	margin-right:10px;
}
.brand-box .item-list {
	padding:10px;
	background:#eee;
	box-sizing:border-box;
	margin-top:20px;
	border-radius:3px;
	overflow-y:auto;
	max-height:400px;
}
.brand-box .item-list li {
	display:inline-block;
	margin-left:-5px;
}
.brand-box .item-list li a {
	text-decoration:none;
	display:block;
	width:140px;
	margin:6px 0;
	font-size:12px;
	padding-left:20px;
	box-sizing:border-box;
	color:#000;
}
.brand-box .item-list>li.no-data {
	text-align:center;
	padding:10px 0;
	width:100%;
	letter-spacing:1px;
}
.brand-box .item-list>li.success {
	display:block;
	margin-left:10px;
	height:30px;
	color:#000;
}
.brand-box .demo {
	position:absolute;
	top:10px;
	right:10px;
	background:#fff;
	border:1px solid #000;
	box-sizing:border-box;
	padding:5px 10px;
}
.brand-box .demo p {
	line-height:25px;
	font-weight:bold;
}
.brand-box .demo .close {
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	padding:2px 5px;
	background:#888;
	color:#fff;
}
.brand-box .demo .close:hover {
	background:#555;
}
.cate {
	position:absolute;
	left:50%;
	margin-left:-600px;
	width:190px;
	text-align:left;
	background:#333333 \0/IE8;
	background:rgba(51,51,51,0.85);
	-webkit-box-shadow:inset 0px 0px 15px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0px 0px 15px 2px rgba(0,0,0,0.4);
	box-shadow:inset 0px 0px 15px 2px rgba(0,0,0,0.4);
}
.menu-box .cate {
	top:46px;
}
.cate>li {
	position:relative;
}
.cate>li:first-child {
	margin-top:2px;
}
.cate>li>a {
	color:#fff;
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
	padding:7px 15px;
	display:block;
	min-height:17px;
	line-height:17px;
}
.cate>li:hover {
	background:#ff8800;
	z-index:1000;
}
.cate>li:hover>a {
	color:#000;
}
.sub-category {
	display:none;
	background:#ffffff;
	border:2px solid #3e3232;
	position:absolute;
	width:240px;
	left:100%;
	top:-2px;
	z-index:20;
}
.cate>li:hover .sub-category {
	display:block;
}
.sub-category a {
	color:#333;
	font-size:14px;
	text-decoration:none;
}
.sub-category a:hover {
	text-decoration:none;
}
.sub-category .sub02>li {
	text-align:left;
}
.sub-category .sub02>li>a {
	padding:8px 10px;
	display:block;
}
.sub-category .sub02>li.arrow>a,.sub-category .sub03>li.arrow>a {
	background:url(../img/top_cate_arrow.gif) no-repeat right center;
	display:block;
}
.sub-category .sub02>li,.sub-category .sub03>li,.sub-category .sub04>li {
	position:relative;
}
.sub-category .sub03>li,.sub-category .sub04>li {
	min-width:170px;
	background:#fff;
}
.sub-category .sub02>li:hover,.sub-category .sub03>li:hover,.sub-category .sub04>li:hover {
	background:#eee;
}
.sub-category .sub02>li:hover .sub03 {
	display:block;
	position:absolute;
	left:100%;
	top:-2px;
	width:240px;
	border:2px solid #3e3232;
	z-index:1;
}
.sub-category .sub03>li:hover .sub04 {
	display:block;
	position:absolute;
	left:100%;
	top:-2px;
	border:2px solid #3e3232;
	z-index:2;
}
.sub-category .sub03,.sub-category .sub04 {
	display:none;
}
.sub-category .sub03>li a {
	padding:8px 10px;
	display:block;
}
.sub-category .sub04>li a {
	padding:4px 10px;
	display:block;
}
#main #dp-footer {
	margin-top:0;
}
#dp-footer {
	border-top:2px solid #ddd;
	line-height:16px;
	font-size:12px;
	background:#fff;
	margin-top:50px;
}
#dp-footer .dp-commu-wrap {
	overflow:hidden;
}
#dp-footer .dp-commu-wrap .dp-box {
	float:left;
	height:220px;
	border-left:1px solid #dcdcdc;
	padding:30px;
}
#dp-footer .dp-commu-wrap .dp-box h5 {
	margin:0 0 10px;
	color:#333;
	font-weight:bold;
}
#dp-footer .dp-commu-wrap .dp-box img {
	vertical-align:middle;
}
#dp-footer .dp-commu-wrap .dp-box * {
	color:#777;
	font-size:13px;
}
#dp-footer .dp-commu-wrap .dp-box a {
	color:#555;
	font-size:13px;
}
#dp-footer .dp-commu-wrap .topbl {
	height:100px;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:20px;
}
#dp-footer .dp-commu-wrap .dp-box-1 {
	width:330px;
	border-left:0;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.callcenter {
	background:url(../img/footer_cs_img.gif) no-repeat 0px 10px;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.callcenter li {
	margin-left:79px;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.callcenter li.phone {
	color:#d00000;
	font-size:21px;
	font-weight:bold;
	font-family:'tahoma';
	line-height:21px;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.callcenter li.runtime {
	margin-top:5px;
	margin-bottom:5px;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.bankinfo {
	padding-top:20px;
}
#dp-footer .dp-commu-wrap .dp-box-1 ul.bankinfo li * {
	font-size:13px;
}
#dp-footer .dp-commu-wrap .dp-box-2 {
	width:380px;
	position:relative;
}
#dp-footer .dp-commu-wrap .dp-box-2 .more {
	position:absolute;
	top:30px;
	right:30px;
}
#dp-footer .dp-commu-wrap .dp-box-2 .iconbl ul {
	overflow:hidden;
}
#dp-footer .dp-commu-wrap .dp-box-2 .iconbl ul li {
	float:left;
}
#dp-footer .dp-commu-wrap .dp-box-2 .iconbl ul li a {
	margin:15px 14px;
	text-align:center;
	display:block;
	font-size:11px;
}
#dp-footer .dp-commu-wrap .dp-box-3 {
	width:288px;
}
#dp-footer .dp-commu-wrap .dp-box-3 .topbl h5 {
	background:#736b5e;
	padding:6px 10px;
}
#dp-footer .dp-commu-wrap .dp-box-3 .topbl {
	height:125px;
}
#dp-footer .dp-commu-wrap .dp-box-3 li .dp-subject {
	background:url(../img/main_board_bullet.jpg) no-repeat left;
	width:190px;
	float:left;
	text-align:left;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	padding:2px 0 2px 10px;
}
#dp-footer .dp-commu-wrap .dp-box-3 li .dp-subject a {
	font-size:12px;
}
#dp-footer .dp-commu-wrap .dp-box-3 li .dp-date {
	float:right;
	margin-right:10px;
	color:#888;
	padding:2px 0;
	font-size:12px;
}
#dp-footer .dp-commu-wrap .dp-box-3 .qna {
	padding-top:20px;
}
#dp-footer .dp-commu-wrap .dp-box-3 .qna .leftarea {
	float:left;
	letter-spacing:-0.5px;
	font-size:11px;
}
#dp-footer .dp-commu-wrap .dp-box-3 .qna .rightarea {
	float:right;
}
#dp-footer .dp-commu-wrap .dp-box-3 .qna .rightarea a {
	display:block;
	border:1px solid #ddd;
	background:#fff;
	border-radius:5px;
	padding:3px 5px;
	text-decoration:none;
	font-size:11px;
	transition:background .15s;
}
#dp-footer .dp-commu-wrap .dp-box-3 .qna .rightarea a:hover {
	background:#444;
	color:#fff;
	border:1px solid #111;
}
#dp-footer .dp-info-wrap {
	margin-top:30px;
	line-height:18px;
	font-size:12px;
	background:#232a32;
	text-align:left;
	padding:20px 0;
	overflow:hidden;
}
#dp-footer .dp-info-wrap .util_menu {
	overflow:hidden;
	margin:0 auto
}
#dp-footer .dp-info-wrap .util_menu li {
	padding:0 5px;
	float:left;
	font-weight:bold;
	border-left:1px solid #808080;
	height:13px;
	line-height:13px;
}
#dp-footer .dp-info-wrap .util_menu li:first-child {
	border-left:0;
	margin-left:-5px;
}
#dp-footer .dp-info-wrap .util_menu li a {
	color:#eee;
}
#dp-footer .dp-info-wrap .info {
	padding-top:10px;
	width:800px;
	float:left;
}
#dp-footer .dp-info-wrap .info,#dp-footer .dp-info-wrap .info a {
	color:#969696;
}
#dp-footer .dp-info-wrap .copyright {
	color:#969696;
	padding-top:10px;
}
#dp-footer .dp-info-wrap .company {
	overflow:hidden;
}
#dp-footer .dp-info-wrap .company li {
	float:left;
	padding:40px 0;
	padding-left:20px;
}
#dp-footer .btm_icon {
	text-align:center;
	padding:20px 0 40px;
	width:300px;
	float:right;
}
#dp-footer .copyright {
	color:#b1b1b1;
	padding-top:10px;
	font-size:10px;
	letter-spacing:0.4px;
}
#dp-footer .copyright>a {
	margin-left:6px;
	border:1px solid #444;
	padding:3px 5px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.06);
	text-decoration:none;
	color:#aaa;
}
#quick {
	position:absolute;
	/*top:188px;*/
	top:235px;
	right:50%;
	margin-right:-710px;
	width:85px;
	z-index:5;
}
#quick.fixed {
	position:fixed;
	top:90px;
}
#quick .recent_view {
	border:1px solid #DADADA;
	background:#fff;
	padding:10px 5px;
}
#quick .recent_view .title {
	text-align:center;
}
#quick .recent_view .prev,#quick .recent_view .next {
	text-align:center;
	padding:10px 0 0px 0;
}
#quick .recent_view ul li {
	padding:8px 0 0 0;
	text-align:center;
}
#quick .recent_view ul li:first-child {
	border:0;
}
#quick .recent_view ul li img {
	width:55px;
	height:55px;
}
#quick .recent_view ul li a {
	display:block;
}
#quick .banner {
	margin:5px 0;
}
#quick .banner img {
	margin:1px 0 0;
}
#quick .pageTop {
	text-align:center;
	background:#333;
	margin:4px 0 0;
	padding:5px;
}
#quick .pageTop,#quick .pageTop a {
	color:#fff;
	text-decoration:none;
	display:block;
}
.orderStep {
	display:none;
}
.bx-wrapper {
	position:relative;
	margin:0 auto;
	padding:0;
	*zoom:1;
}
.bx-wrapper .bx-viewport {
	left:0px;
	background:#fff;
	-webkit-transform:translatez(0);
	-moz-transform:translatez(0);
	-ms-transform:translatez(0);
	-o-transform:translatez(0);
	transform:translatez(0);
}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
	position:absolute;
	bottom:-30px;
	width:100%;
	z-index:30;

}
.bx-wrapper .bx-loading {
	min-height:50px;
	background:url(../img/bxslider/bx_loader.gif) center center no-repeat #fff;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2000;
}
.bx-wrapper .bx-pager {
	text-align:center;
	font-size:.85em;
	font-family:Arial;
	font-weight:bold;
	color:#666;
	padding-top:20px;
}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display:inline-block;
	*zoom:1;
	*display:inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background:none;
	text-indent:-9999px;
	display:block;
	width:8px;
	height:8px;
	margin:0 3px;
	outline:0;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #555;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active {
	background:#555;
}
.bx-wrapper .bx-prev {
}
.bx-wrapper .bx-next {
}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover {
	opacity:0.6
}
.bx-wrapper .bx-controls-direction a {
	position:absolute;
	top:50%;
	outline:0;
	text-indent:-9999px;
	z-index:79;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display:none;
}
.bx-wrapper .bx-controls-auto {
	text-align:center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display:block;
	text-indent:-9999px;
	width:10px;
	height:11px;
	outline:0;
	background:url(../img/bxslider/controls.png) -86px -11px no-repeat;
	margin:0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position:-86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	display:block;
	text-indent:-9999px;
	width:9px;
	height:11px;
	outline:0;
	background:url(../img/bxslider/controls.png) -86px -44px no-repeat;
	margin:0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position:-86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align:left;
	width:80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right:0;
	width:35px;
}
.bx-wrapper .bx-caption {
	position:absolute;
	bottom:0;
	left:0;
	/* background:#666\9; */
	background:rgba(80,80,80,0.75);
	width:100%;
}
.bx-wrapper .bx-caption span {
	color:#fff;
	font-family:Arial;
	display:block;
	font-size:.85em;
	padding:10px;
}
li {
	list-style:none;
}
table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}
caption {
	display:none;
}
h1,h3 {
	margin:0;
}
.ec-base-layer {
	position:absolute;
	z-index:100;
	border:1px solid #757575;
	background:#fff;
}
.ec-base-layer .header {
	padding:7px 35px 7px 19px;
	color:#fff;
	background:#444444;
}
.ec-base-layer .header>h1,.ec-base-layer .header>h3 {
	font-size:14px;
	line-height:1.5;
}
.ec-base-layer .content {
	padding:20px;
	font-size:12px;
}
.ec-base-layer div.ec-base-help {
	margin-top:0;
}
.ec-base-layer .ec-base-button {
	padding:9px;
	border-top:1px solid #d7d5d5;
	text-align:center;
	background:#fbfafa;
}
.ec-base-layer .close {
	position:absolute;
	right:0;
	top:0;
	padding:11px 20px;
	cursor:pointer;
}
#popup .ec-base-layer {
	position:relative;
	border:0;
}
#popup .ec-base-layer .header {
	padding:12px 35px 12px 19px;
}
#popup .ec-base-layer .close {
	top:5px;
}
.ec-base-layer .content>.ec-base-table table:first-child {
	margin-top:0;
}
.ec-base-layer .ec-base-table table {
	line-height:1.4;
}
.ec-base-layer .ec-base-table thead th {
	padding:9px 0 8px;
}
.ec-base-layer .ec-base-table tbody th {
	padding:9px 0 8px 10px;
}
.ec-base-layer .ec-base-table td {
	padding:9px 10px 8px;
}
.ec-base-layer .ec-base-table.typeWrite td {
	padding:5px 10px 4px;
}
.ec-base-layer .ec-base-table.typeList tfoot td {
	padding:10px 10px 12px;
}
.ec-base-layer .ec-base-table.typeBorder tfoot td {
	padding:10px 10px 12px;
}

.sct_img {
	margin:-1px;
    border: 1px solid rgba(153,153,153,0.1);
}
.sct_img:hover {
    border: 1px solid rgba(153,153,153,0.6);
}
.xans-product-menupackage {
    border-bottom: 1px solid #ddd;

}
.xans-product-menupackage  h2 {
    color: #444444;
    font-size: 16px;
    line-height: 17px;
    margin: 24px 0 14px;
    padding-left: 8px;
    border-left: 3px solid #a5a5a5;
}
.xans-product-menupackage h2{
    display: inline-block;
    vertical-align: middle;
}



.xans-record- .sct_incen {
    display: block;
    color: #999;
    font-size: 12px;
	margin-top: 3px;
}
.xans-record- .sct_price {
    color: #000;
    font-size: 13px;
	font-weight: bold;
	/*letter-spacing: -1px;
    font-family: verdana;*/
}
.xans-record- .sct_desc {
    color: #999;
    font-size: 0.92em;
}
.xans-record- .sct_price_won {
   vertical-align:top;
}

.cstop {
    display: block !important;
}
.cstop {
    background: #f9f9f9;
    padding: 0 0 25px;
    display: none;
    border-bottom: 1px solid #eee;
}

.cstop .board {
    overflow: hidden;
    text-align: center;
    width: 1260px;
    margin: 0 auto;
}

.cstop .board dt {
    padding-top: 20px;
    color: #C3C3C3;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 5px;
}


.cstop .board dd {
    display: inline-block;
    margin: 0 4px;
}

.cstop .board dd a {
    background: #fff;
    min-width: 60px;
    font-size: 13px;
    /*padding: 8px 12px;*/
	 border: 1px solid #d9d9d9;
}
.cstop .board dd a:hover {
    background: #999;
}
/*
.btn {
    border: 1px solid #d9d9d9;
    min-width: 90px;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background .15s;
    text-decoration: none;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: #000;
}
*/

.xans-board-title .title {
    min-height: 30px;
    margin: 10px 0 10px;
}
.xans-board-title .title h2 {
    display: inline-block;
    color: #2e2e2e;
    font-size: 16px;
}
.xans-board-title .title p {
    display: inline-block;
    margin: 0 0 0 6px;
    padding: 0 0 0 10px;
    color: #939393;
    vertical-align: bottom;
    background: url(//img.echosting.cafe24.com/skin/base/layout/ico_bar.gif) no-repeat 0 0;
}
.free_trans {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:70px;
	background:#ed2e35;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}

.free_trans_new {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:15px;
	background:#ed2e35;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
.free_trans_md {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:68px;
	background:#ed2e35;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
/*다중배송 외 아무것도 안달린상태*/
.multi_trans {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:66px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
/*무배나 할인,다배 중 하나 붙을 때 */
.multi_trans_0 {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:15px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}

/*무배나 할인 중 하나가 이미 붙었을 때 */
.multi_trans_1 {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:66px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
/*할인,무배,다중 다 붙을 때*/
.multi_trans_2 {
	font-size:10px;
	width:45px;
	height:45px;
	line-height:45px;
	display:inline;
	z-index:100;
	position:absolute;
	top:9px;
	right:120px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}

/* 오늘 본 상품 */
#stv{position:relative}
#stv_pg {display:block;;text-align:center;margin:10px 0 0;line-height:20px}
.stv_item {display:none;padding:0 9px;word-break:break-all}
#up{position:absolute;bottom:0;left:0;background:url(/skin/shop/basic/img/btn_sb_prev.png) no-repeat 50% 50%;width:24px;height:20px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}
#down{position:absolute;bottom:0;right:0;background:url(/skin/shop/basic/img/btn_sb_next.png) no-repeat 50% 50%;width:24px;height:20px;text-indent:-999px;overflow:hidden;border:1px solid #ccc;}

/*가로세로 기본*/
.w100 {width:100px;}
.w120 {width:120px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w160 {width:160px;}
.w180 {width:180px;}
.w200 {width:200px;}
.w220 {width:220px;}
.w240 {width:240px;}
.w250 {width:250px;}

.h100 {height:100px;}
.h120 {height:120px;}
.h140 {height:140px;}
.h150 {height:150px;}
.h160 {height:160px;}
.h180 {height:180px;}
.h200 {height:200px;}