/* spoqa Han Sans */

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Bold.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    src: local('Spoqa Han Sans Medium'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Medium.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}


@font-face { 
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Regular.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('./font/sqoqaHanSans/Spoqa\ Han\ Sans\ Neo\ Light.woff2') format('woff2'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('./font/sqoqaHanSans/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

  

.displaynone {
    display: none !important;
}
body.eMobilePopup {
    overflow: hidden;
    position: fixed;
}
.ec-base-label {
    display: inline-block;
    margin-right: 5px;
}
.ec-base-label img {
    vertical-align: middle;
}
.ec-solution-box {
    padding: 20px;
    border: 5px solid #e8e8e8;
    color: #404040;
}
.ec-solution-box.gHalf {
    position: relative;
    padding: 20px 0;
}
.ec-solution-box.gHalf:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e6e6e6;
}
.ec-solution-box.typeBg {
    background-color: #fbfafa;
}
.ec-solution-box.typeThin {
    border-width: 1px;
    border-color: #d7d5d5;
}
.ec-solution-box.typeThinBg {
    border-width: 1px;
    border-color: #d7d5d5;
    background-color: #fbfafa;
}
.ec-solution-box.typeThinBg > .agree {
    padding: 20px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.ec-solution-box.typeThinBg > .agree p {
    padding: 0 0 17px;
}
.ec-solution-box.typeMember {
    padding: 0;
}
.ec-solution-box.typeMember .information {
    display: table;
    table-layout: fixed;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
.ec-solution-box.typeMember .information > .thumbnail,
.ec-solution-box.typeMember .information > .title {
    display: table-cell;
    padding: 0 15px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}
.ec-solution-box.typeMember .information > .title {
    vertical-align: middle;
}
.ec-solution-box.typeMember .information > .thumbnail img {
    max-width: 70px;
}
.ec-solution-box.typeMember .information .description {
    display: table-cell;
    padding: 0 10px;
    width: auto;
    line-height: 1.5em;
    border-left: 1px solid #e8e8e8;
    vertical-align: middle;
}
.ec-solution-box.typeMember.gMessage {
    border-width: 1px;
    border-color: #d7d5d5;
}
.ec-solution-box .message {
    display: block;
    padding: 10px 0 10px 35px;
    border-bottom: 1px solid #e8e7e7;
    background: #fbfbfb url("../img/mobile/ico_info.gif") no-repeat 10px center;
}
.ec-solution-box.typeProduct {
    display: table;
    table-layout: fixed;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}
.ec-solution-box.typeProduct .information,
.ec-solution-box.typeProduct .thumbnail {
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
}
.ec-solution-box.typeProduct .thumbnail {
    width: 100px;
}
.ec-solution-box.typeProduct .thumbnail img {
    max-width: 90px;
    border: 1px solid #d7d5d5;
}
.ec-solution-box.typeProduct .information {
    padding-left: 0;
}
.ec-solution-button {
    padding: 10px 0;
    text-align: center;
}
.ec-solution-button.justify {
    position: relative;
}
.ec-solution-button:after {
    display: block;
    content: "";
    clear: both;
}
.ec-solution-button .gLeft {
    float: left;
    text-align: left;
}
.ec-solution-button .gRight {
    float: right;
    text-align: right;
}
.ec-solution-button.justify .gLeft {
    position: absolute;
    left: 0;
}
.ec-solution-button.justify .gRight {
    position: absolute;
    right: 0;
}
.ec-solution-button .text {
    margin: 0 6px 0 10px;
    color: #353535;
    line-height: 24px;
}
.ec-solution-button.typeBorder {
    margin-top: -1px;
    padding: 10px 20px;
    border: 1px solid #d7d5d5;
}
.ec-solution-button.typeBG {
    padding: 10px 20px;
    border: 1px solid #d7d5d5;
    background: #fbfafa;
}
.ec-solution-layer li {
    list-style: none;
}
.ec-solution-layer table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.ec-solution-layer caption {
    display: none;
}
.ec-solution-layer h1,
.ec-solution-layer h3 {
    margin: 0;
}
.ec-solution-layer {
    position: absolute;
    z-index: 100;
    border: 1px solid #757575;
    background: #fff;
}
.ec-solution-layer .header {
    padding: 7px 35px 7px 19px;
    color: #fff;
    background: #495164;
}
.ec-solution-layer .header > h1,
.ec-solution-layer .header > h3 {
    font-size: 14px;
    line-height: 1.5;
}
.ec-solution-layer .content {
    padding: 20px;
    font-size: 12px;
}
.ec-solution-layer div.ec-solution-help {
    margin-top: 0;
}
.ec-solution-layer .ec-solution-button {
    padding: 9px;
    border-top: 1px solid #d7d5d5;
    text-align: center;
    background: #fbfafa;
}
.ec-solution-layer .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 20px;
    cursor: pointer;
}
#popup .ec-solution-layer {
    position: relative;
    border: 0;
}
#popup .ec-solution-layer .header {
    padding: 12px 35px 12px 19px;
}
#popup .ec-solution-layer .close {
    top: 5px;
}
.ec-solution-layer .content > .ec-solution-table table:first-child {
    margin-top: 0;
}
.ec-solution-layer .ec-solution-table table {
    line-height: 1.4;
}
.ec-solution-layer .ec-solution-table thead th {
    padding: 9px 0 8px;
}
.ec-solution-layer .ec-solution-table tbody th {
    padding: 9px 0 8px 10px;
}
.ec-solution-layer .ec-solution-table td {
    padding: 9px 10px 8px;
}
.ec-solution-layer .ec-solution-table.typeWrite td {
    padding: 5px 10px 4px;
}
.ec-solution-layer .ec-solution-table.typeList tfoot td {
    padding: 10px 10px 12px;
}
.ec-solution-layer .ec-solution-table.typeBorder tfoot td {
    padding: 10px 10px 12px;
}
.ec-solution-table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #d7d5d5;
    border-top-color: #fff;
    color: #fff;
    line-height: 1.5;
}
.ec-solution-table.gLayoutFixed table {
    table-layout: fixed;
}
.ec-solution-table.gLayoutFixed .gLayoutAuto table {
    table-layout: auto;
}
.ec-solution-table table:before {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #d7d5d5;
}
.ec-solution-table thead th {
    padding: 11px 0 10px;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    font-weight: normal;
    background: #fbfafa;
}
.ec-solution-table tbody th {
    padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
}
.ec-solution-table th:first-child {
    border-left: 0;
}
.ec-solution-table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
}
.ec-solution-table td.clear {
    padding: 0 !important;
    border: 0 !important;
}
.ec-solution-table.typeWrite td {
    padding: 8px 10px 7px;
}
.ec-solution-table.typeList table {
    border-top-color: #d7d5d5;
}
.ec-solution-table.typeList table:before {
    display: none;
}
.ec-solution-table.typeList td {
    padding: 8px 10px 7px;
}
.ec-solution-table.typeList tfoot td {
    padding: 15px 10px 17px;
    background: #fbfafa;
}
.ec-solution-table .message {
    border: 1px solid #d7d5d5;
    padding: 50px 0;
    text-align: center;
    color: #757575;
    font-weight: bold;
}
.ec-solution-table table + .message {
    margin: -1px 0 0;
}
.ec-solution-table table td.message {
    padding: 50px 0;
}
.ec-solution-table .scroll .message {
    border: 0;
}
.ec-solution-table.typeList .head td {
    padding: 11px 0 10px;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    text-align: center;
    background: #fbfafa;
}
.ec-solution-table.typeList .head td:first-child {
    border-left: 0;
}
.ec-solution-table.typeList .scroll {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 185px;
    min-height: 100px;
    border: 1px solid #d7d5d5;
    border-top-width: 0;
    margin-top: -1px;
}
.ec-solution-table.typeList .scroll table {
    border: 0;
    margin: 0;
}
.ec-solution-table.typeList .scroll table:before {
    display: none;
}
.ec-solution-table.typeList .scroll .message {
    border: 0;
}
.ec-solution-table thead.blind,
.ec-solution-table thead.blind th {
    display: none;
}
.ec-solution-table thead.blind + tbody tr:first-child td,
.ec-solution-table thead.blind + tbody tr:first-child th {
    border-top-width: 0;
}
.ec-solution-table.typeList.gLine table {
    border-width: 0;
    border-bottom-width: 1px;
}
.ec-solution-table.typeClear table:before {
    display: none;
}
.ec-solution-table.typeClear table,
.ec-solution-table.typeClear td,
.ec-solution-table.typeClear th {
    border: 0 none;
    background: none;
}
.ec-solution-table.typeClear th {
    font-weight: bold;
}
.ec-solution-table.gBorder td {
    border-left: 1px solid #dfdfdf;
}
.ec-solution-table.gBorder td:first-child {
    border-left: 0;
}
.ec-solution-table .left {
    text-align: left;
}
.ec-solution-table .center {
    text-align: center;
}
.ec-solution-table .right {
    text-align: right;
}
.ec-solution-table.typeList .center td,
.ec-solution-table.typeList td.center {
    padding-left: 0;
    padding-right: 0;
}
.ec-solution-table.typeList .center td.left {
    padding-left: 10px;
}
.ec-solution-table.typeList .center td.right {
    padding-right: 10px;
}
.ec-solution-table .top td,
.ec-solution-table .top th,
.ec-solution-table td.top,
.ec-solution-table th.top {
    vertical-align: top;
}
.ec-solution-table .middle td,
.ec-solution-table .middle th,
.ec-solution-table td.middle,
.ec-solution-table th.middle {
    vertical-align: middle;
}
.ec-solution-table img {
    vertical-align: middle;
}
@media print {
    .ec-solution-table table:before {
        display: none;
    }
}
.xans-layout-attendbanner {
    display: block;
    padding: 30px 14px 40px;
    background-color: #fff;
}
.xans-layout-attendbanner img {
    width: 100%;
}
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    width: 100%;
    height: 100%;
}
body,
code {
    /* font-family: 'Lato','Nanum Gothic','Malgun Gothic','dotum','Gulim','Apple Gothic'; */
    font-family: 'Spoqa Han Sans','Malgun Gothic','dotum','Gulim','Apple Gothic';
    min-width: 320px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.2em;
    color: #1b1b1b;
    background: #fff;
    -webkit-text-size-adjust: none;
}
code {
    background: none;
    display: block;
}
ul li {
    list-style: none;
}
ol {
    list-style-position: inside;
}
fieldset,
img {
    border: none;
}
img {
    vertical-align: middle;
}
hr.layout {
    display: none;
}
address,
em {
    font-style: normal;
}
ins {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #000;
}
a:active {
    text-decoration: none;
}
table {
    width: 100%;
    table-layout: fixed;
    border: 0 none;
    border-spacing: 0;
    border-collapse: collapse;
}
table caption {
    display: none;
}
td,
th {
    border: 0;
    line-height: 18px;
}
legend {
    height: 0;
    width: 0;
    display: block;
    text-indent: -9999em;
}
label {
    cursor: pointer;
}
del,
object,
sub,
var {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
textarea {
    padding: 7px;
    font-weight: inherit;
    border: 1px solid #cccccc;
    border-radius: 0px;
    outline-style: none;
    line-height: 13px;
    color: #353535;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="file"] {
    overflow: hidden;
    max-width: 100%;
}/*
input[type=number],
input[type=password],
input[type=tel],
input[type=text] {
    height: 29px;
}*/
input,
select,
textarea {
    vertical-align: middle;
}
textarea {
    resize: none;
    line-height: 1.2em;
}
select {

    height: 29px;

}
select.disabled {
    color: #bfbfbf;

}
input[type="button"],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="image"],
textarea {
    -webkit-appearance: none;
}
input:checked[type="checkbox"] {
    background-color: #fff;
    -webkit-appearance: checkbox;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    margin: 0;
    display: inline-block;
    min-height: 29px;
    line-height: 29px;
    vertical-align: middle;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 0 0;
}
textarea.disabled {
    background-color: #ffffff;
    color: #bfbfbf;
}
/* @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("./font/nanumgothic/nanum-gothic-regular.eot");
    src: local('NanumGothic'),url('./font/nanumgothic/nanum-gothic-regular.eot?#iefix') format('embedded-opentype'),url('./font/nanumgothic/nanum-gothic-regular.woff2') format('woff2'),url('./font/nanumgothic/nanum-gothic-regular.woff') format('woff'),url('./font/nanumgothic/nanum-gothic-regular.ttf') format('truetype'),url('./font/nanumgothic/nanum-gothic-regular.svg#NanumGothic') format('svg');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url("./font/nanumgothic/nanum-gothic-700.eot");
    src: local('NanumGothic Bold'),local('NanumGothic-Bold'),url('./font/nanumgothic/nanum-gothic-700.eot?#iefix') format('embedded-opentype'),url('./font/nanumgothic/nanum-gothic-700.woff2') format('woff2'),url('./font/nanumgothic/nanum-gothic-700.woff') format('woff'),url('./font/nanumgothic/nanum-gothic-700.ttf') format('truetype'),url('./font/nanumgothic/nanum-gothic-700.svg#NanumGothic') format('svg');
} */
#contents {
    position: relative;
}
.btnTop {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    margin: 0 0 0 -36px;
    border: 1px solid #d6d6d7;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    opacity: 0.9;
    background: #616161 url("../img/mobile/bg_btntop.png") no-repeat 90% 7px;
    background-size: 12px 12px;
}
.btnTop a {
    display: inline-block;
    height: 29px;
    padding: 0 26px 0 10px;
    line-height: 29px;
    color: #fff;
}
#mobileQuickLink {
    z-index: 301 !important;
}
#mobileBtnQuickLink {
    z-index: 100 !important;
}
.dimmed {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    background: rgba(0,0,0,0.7);
}
#dimmedSlider {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background: rgba(0,0,0,0.7);
}
#main .searchWrap {
    position: relative;
    height: 38px;
    padding: 5px 41px 0 47px;
}
#main .searchWrap .searchForm {
    position: relative;
    padding: 0 28px 0 33px;
    border: 1px solid #ccc;
    background: url("../img/mobile/bg_search.png") no-repeat 5px 5px;
    background-size: 20px 20px;
}
#main .searchWrap .btnDelete {
    position: absolute;
    right: 3px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    font-size: 0;
    white-space: nowrap;
    background: url("../img/mobile/btn_delete.png") no-repeat 0 0;
    background-size: 20px 20px;
}
#main .searchWrap #keyword {
    width: 100%;
    height: 29px;
    padding: 0;
    border: 0;
}
#main #header #topArea .xans-layout-mobilemaincategory {
    position: relative;
    height: 43px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
}
#main #header #topArea .xans-layout-mobilemaincategory ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: left;
    font-size: 0;
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#main #header #topArea .xans-layout-mobilemaincategory ul li {
    display: inline-block;
    width: 33.3%;
    font-size: 13px;
    text-align: center;
}
#main #header #topArea .xans-layout-mobilemaincategory .afterNone {
    display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul {
    display: table;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li {
    width: 100%;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul {
    padding: 0 40px;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li {
    border-bottom: 3px solid #fff;
    width: 33%;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li.selected {
    border-bottom-color: #217bdb;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 22px 0 18px;
    font-weight: bold;
    color: #9a9a9a;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li.selected a {
    color: #217bdb;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a img {
    max-height: 40px;
}
#main #header #topArea .xans-layout-mobilemaincategory p {
    position: absolute;
    top: 0;
    background-color: #fff;
}
#main #header #topArea .xans-layout-mobilemaincategory p.btnPrev {
    left: 0;
    display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory p.btnNext {
    right: 0;
    display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory p a {
    display: inline-block;
    padding: 13px 14px;
}
#main .mainBanner {
    position: relative;
}
#main .mainBanner a img {
    max-height: 290px;
}
#main .mainBanner .paginate {
    position: absolute;
    bottom: 8px;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
}
#main .mainBanner .afterNone {
    display: none;
}
.xans-popup-mobile .mainLayerArea {
    position: relative;
    z-index: 120;
    height: 0;
}
.xans-popup-mobile .mMainLayer {
    position: absolute;
    left: 7px;
    top: 7px;
    right: 7px;
    border: 1px solid #9d9db0;
}
.xans-popup-mobile .mMainLayer .banner {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.xans-popup-mobile .mMainLayer ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}
.xans-popup-mobile .mMainLayer ul img {
    width: 100%;
}
.xans-popup-mobile .mMainLayer li {
    display: inline;
}
.xans-popup-mobile .mMainLayer .pagenate {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.xans-popup-mobile .mMainLayer .pagenate button {
    overflow: hidden;
    width: 9px;
    height: 9px;
    margin: 0 5px 0 0;
    border: 0;
    background: url("../img/mobile/ico_notice_paginate.png") no-repeat 0 0;
    background-size: 8px 8px;
}
.xans-popup-mobile .mMainLayer .pagenate button.selected {
    background-image: url("../img/mobile/ico_notice_paginate_selected.png");
}
.xans-popup-mobile .mMainLayer .pagenate button span {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}
.xans-popup-mobile .mMainLayer .option {
    padding: 5px;
    color: #fff;
    background-color: #434447;
    text-align: right;
}
.xans-popup-mobile .mMainLayer .option label {
    font-size: 12px;
}
.xans-popup-mobile .mMainLayer .option button {
    padding: 0 12px 0 4px;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: url("../img/mobile/btn_close_notice.png") no-repeat right 2px;
    background-size: 10px 9px;
}
#titleArea {
    position: relative;
    background-color: #fff;
}
#titleArea h2 {
    padding: 0 61px;
    line-height: 43px;
    font-size: 15px;
    color: #2e2e2e;
    text-align: center;
}
#titleArea span {
    position: absolute;
    top: 6px;
}
.help {
    margin: 0;
    padding: 0 0 0 22px;
    color: #757575;
    background: url("../img/mobile/ico_help.png") 0 2px no-repeat;
    background-size: 14px;
}
.help p {
    margin: 0 0 8px;
}
.myshopMain {
    padding: 14px 7px;
    font-size: 13px;
}
.paginate.typeSwipe .next,
.paginate.typeSwipe .prev {
    display: none;
}
.gBlank5 {
    display: block;
    margin-top: 5px;
}
.gBlank10 {
    display: block;
    margin-top: 10px;
}
.gBlank20 {
    display: block;
    margin-top: 20px;
}
.gBlank30 {
    display: block;
    margin-top: 30px;
}
.gIndent10 {
    margin-left: 10px;
}
.gIndent20 {
    margin-left: 20px;
}
.gSpace10 {
    margin-right: 10px;
}
.gSpace20 {
    margin-right: 20px;
}
.gMerge {
    position: relative;
    z-index: 1;
    margin-top: -1px;
}
.paginate {
    text-align: center;
    padding-bottom: 20px;
}
.paginate.typeMoreview {
    margin: 0 auto 30px;
    width: 100%;
}
.paginate.typeMoreview a {
    display: block;
    padding: 12px 0;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #d5d5d5;
    color: #757575;
    font-weight: bold;
    background: #fff;
    letter-spacing: 2px;
}
.paginate.typeMoreview span.icoMore {
    display: inline-block;
    margin: 0 0 0 8px;
    width: 13px;
    height: 8px;
    font-size: 0;
    line-height: 0;
    vertical-align: baseline;
    background: url("../img/mobile/btn_more.png") no-repeat 0 50%;
    background-size: 13px auto;
}
.paginate.typeSwipe {
    color: #757575;
}
.paginate.typeSwipe button.circle {
    margin: 0 3px 0 4px;
    width: 11px;
    height: 11px;
    border: 0;
    cursor: pointer;
    background: url("../img/mobile/btn_swipe.png") no-repeat 0 0;
    background-size: 11px 11px;
}
.paginate.typeSwipe button.circle.selected {
    background: url("../img/mobile/btn_swipe_on.png") no-repeat 0 0;
    background-size: 11px 11px;
}
.paginate.typeSwipe span {
    color: #fff;
    font-size: 0;
    line-height: 0;
}
.paginate.typeSwipe button.next,
.paginate.typeSwipe button.prev {
    width: 31px;
    font-size: 15px;
    line-height: 1.2em;
    border: 0;
    cursor: pointer;
    background: url("../img/mobile/btn_prev.png") no-repeat 50% 50%;
    background-size: 7px auto;
}
.paginate.typeSwipe button.next {
    background: url("../img/mobile/btn_next.png") no-repeat 50% 50%;
    background-size: 7px auto;
}
.paginate.typeTotal {
    color: #696969;
}
.paginate.typeTotal > span {
    margin: 0 8px;
    font-weight: bold;
}
.paginate.typeTotal p {
    display: inline-block;
    vertical-align: middle;
}
.paginate.typeTotal .next,
.paginate.typeTotal .prev {
    width: 7px;
    height: 13px;
    font-size: 15px;
    line-height: 1.2em;
    background: url("../img/mobile/btn_prev.png") no-repeat 50% 50%;
    background-size: 7px auto;
}
.paginate.typeTotal .next {
    background: url("../img/mobile/btn_next.png") no-repeat 50% 50%;
    background-size: 7px auto;
}
.paginate.typeTotal p span {
    overflow: hidden;
    display: block;
    width: 29px;
    text-indent: -999px;
}
.paginate.typeTotal strong {
    color: #555555;
}
.paginate.typeList {
    padding: 7px 0;
    color: #1b1b1b;
}
.paginate.typeList ol {
    margin: 0 8px;
}
.paginate.typeList ol,
.paginate.typeList ol li,
.paginate.typeList ol li a,
.paginate.typeList p,
.paginate.typeList p a {
    display: inline-block;
    vertical-align: middle;
}
.paginate.typeList ol li {
    margin: 0 1px 5px;
    list-style: none;
    background: #fff;
}
.paginate.typeList ol li a,
.paginate.typeList p {
    padding: 7px 0 2px;
    width: 31px;
    height: 19px;
    border-radius: 2px;
}
.paginate.typeList ol li .other,
.paginate.typeList ol li a,
.paginate.typeList p {
    border: 1px solid #d9d9d9;
}
.paginate.typeList ol li .this {
    border: 1px solid #555555;
}
.paginate.typeList .this {
    color: #555555;
}
.paginate.typeList .next,
.paginate.typeList .prev {
    margin: 0 0 5px;
    width: 31px;
    font-size: 15px;
    line-height: 1.2em;
    background: #fff url("../img/mobile/btn_prev.png") no-repeat 50% 50%;
    background-size: 7px auto;
}
.paginate.typeList .next {
    background-image: url("../img/mobile/btn_next.png");
}
.paginate.typeList p span {
    overflow: hidden;
    display: block;
    width: 29px;
    text-indent: -999px;
}
.paginate.typeList p a {
    padding: 7px 0 2px;
    width: 31px;
    height: 19px;
    color: #fff;
}
p.ec-base-help,
ul.ec-base-help li {
    margin: 8px 4px;
    padding: 0 0 0 18px;
    font-size: 12px;
    line-height: 1.5;
    color: #757575;
    text-align: left;
    background: url("../img/mobile/ico_help.png") no-repeat 0 3px;
    background-size: 14px auto;
}
.ec-base-product {
    padding: 15px 0;
    position: relative;
}
.ec-base-product h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-image: none !important;
}
.ec-base-product h2 span {
    display: block;
    font-size: 11px;
    color: #777;
    font-weight: normal;
    padding: 0 0 14px;
}
.ec-base-product h3 {
    margin-bottom: 14px;
}
.ec-base-product img {
    max-width: 100%;
}
.ec-base-product li {
    position: relative;
    vertical-align: top;
}
.ec-base-product [class*="grid"] {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    padding: 3px;
}
.ec-base-product [class*="grid"] > li {
    display: inline-block;
    margin: 0 0 14px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 3px;
}
.ec-base-product [class*="grid1"] > li {
    padding: 3px 20px;
}
.ec-base-product .thumbnail {
    position: relative;
    /*margin: 0 0 10px;*/
}
.ec-base-product .thumbnail a {
    display: block;
}
.ec-base-product .thumbnail a img {
    display: block;
    width: 100%;
    vertical-align: top;
}
.ec-base-product .thumbnail .prdIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.ec-base-product .description {
    display: table;
    min-height: 10px;
    margin: 0 auto;
}
.ec-base-product .description .name {
    line-height: 1.3em;
    word-wrap: break-word;
    margin: 0 0 15px;
    display: block;
}
.ec-base-product .description .name a {
    font-size: 11px;
    color: #1b1b1b;
    font-weight: bold;
}
.ec-base-product .description .spec {
    display: table-row;
}
.ec-base-product .description .spec li {
    padding: 0 0 2px;
    font-size: 11px;
}
.ec-base-product .description .spec li.price {
    font-size: 12px;
    font-weight: bold;
}
.ec-base-product .description .color {
    overflow: hidden;
    margin: 5px 0 7px;
}
.ec-base-product .description .color .chips {
    display: inline-block;
    width: 12px;
    height: 4px;
    margin: 0 3px 2px 0;
    border-radius: 1px;
    font-size: 0;
    line-height: 0;
}
.ec-base-product .description .color .chips:first-child {
    margin-right: 1px;
}
.ec-base-product .description .custom {
    text-decoration: line-through;
    color: #888;
    display: none;
}
.ec-base-product .description .strike {
    text-decoration: line-through;
}
.ec-base-product .description .desc {
    color: #888;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
}
.ec-base-product .description .desc2 {
    color: #888;
    margin-top: 3px;
}
.ec-base-product .description .icon {
    margin: 3px 0;
}
.ec-base-product .description .icon img {
    max-width: 40px;
}
.ec-base-product .description .button {
    opacity: 0.6;
}
.ec-base-product .more_view {
    margin: 7px 4px 0;
}
.ec-base-product .more_view a {
    display: block;
    padding: 0;
    background: #d4d4d6;
}
.ec-base-product .more_view a span {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 30px;
    text-indent: 120%;
    background: url("../img/mobile/bg_togglebar_show.png") no-repeat 50% 50%;
    background-size: 12px 12px;
}
.ec-base-product .likeButton {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: -2px;
    border: 1px solid #ddd;
    background: #fff;
}
.ec-base-product .likeButton img {
    max-height: 12px;
}
.ec-base-product .likeButton button {
    font-size: 10px;
    border: 0;
    background: none;
    padding: 0 3px;
}
.ec-base-product .likeButton button strong {
    font-size: 11px;
    line-height: 17px;
    color: #757575;
    padding-left: 2px;
}
.ec-base-product .likeButton.selected button strong {
    line-height: 17px;
    color: #ea5757;
}
.ec-base-product.typeDesc {
    margin: 0;
    background: #fff;
}
.ec-base-product.typeDesc .prdList:after {
    display: block;
    content: "";
    clear: both;
}
.ec-base-product.typeDesc .prdList > li {
    margin: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 14px;
    box-sizing: border-box;
}
.ec-base-product.typeDesc .prdList > li:first-child {
    padding: 0 14px 14px;
    border-top: 0;
}
.ec-base-product.typeDesc .prdList > li:after {
    display: block;
    content: "";
    clear: both;
}
.ec-base-product.typeDesc .thumbnail {
    float: left;
    margin: 0;
    padding: 0;
    width: 87px;
}
.ec-base-product.typeDesc .description .spec li {
    padding: 0 0 3px;
}
.ec-base-product.typeDesc .description {
    padding: 0 0 0 103px;
}
.ec-base-product.typeDesc .description .price {
    color: #494949;
    font-size: 12px;
}
.ec-base-product.typeDesc .description .price.sale {
    color: #000;
    font-size: 13px;
}
.ec-base-product.typeDesc .description .color {
    margin: 0 0 10px;
}
.ec-base-product.typeDesc .description .summary {
    font-size: 11px;
    color: #757575;
    margin: 0 0 10px;
}
.ec-base-product.typeDesc .description .icon {
    margin: 3px 0;
}
.ec-base-product.typeGallery {
    margin: 0;
}
.ec-base-product.typeGallery ul {
    display: table;
    table-layout: fixed;
    padding: 0 14px 0 12px;
    font-size: 0;
    line-height: 0;
}
.ec-base-product.typeGallery li {
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 0 0 2px;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.2em;
}
.ec-base-product.typeGallery .thumbnail {
    margin: 0 2px;
}
.ec-base-product.typeGallery .description {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0 0 0 2px;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ec-base-product.typeGallery .description a {
    overflow: hidden;
    display: block;
    padding: 5px 38px 5px 5px;
    width: 100%;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
.ec-base-product.typeGallery .description:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
    height: 100%;
    background: url("../img/mobile/ico_arrow_white.png") 0 center no-repeat;
    background-size: 20px 20px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}
.ec-base-product.typeGallery .description a .name {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.ec-base-product.typeGallery .description a .name,
.ec-base-product.typeGallery .description a p {
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ec-base-product.typeGallery .description a .price {
    margin: 4px 0 0;
    font-weight: bold;
}
.ec-base-product.typeGallery .description a .price span {
    display: none;
}
.ec-base-product.typeGallery .description .likeButton {
    position: absolute;
    bottom: 0;
    right: 5px;
    background: rgba(255,255,255,0.8);
}
.ec-base-product .layerDiscountPeriod {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 11px 7px;
    box-sizing: border-box;
}
.ec-base-product .layerDiscountPeriod .inner {
    border: 1px solid #353535;
    background: #f1f1f1;
    border-radius: 4px;
}
.ec-base-product .layerDiscountPeriod .inner .title {
    display: block;
    padding: 10px 14px;
    font-size: 14px;
    background-color: #353535;
    color: #fff;
}
.ec-base-product .layerDiscountPeriod .inner .timeleft {
    padding: 14px;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.ec-base-product .layerDiscountPeriod ul {
    margin: 0 7px 14px;
    padding: 0;
    border: 1px solid #d5d5d5;
    background: #fff;
}
.ec-base-product .layerDiscountPeriod ul li {
    position: relative;
    padding: 14px 13px 14px 100px;
    border-top: 1px solid #ececec;
    color: #353535;
}
.ec-base-product .layerDiscountPeriod ul li:first-child {
    border-top: 0;
}
.ec-base-product .layerDiscountPeriod ul li span {
    position: absolute;
    top: 14px;
    left: 13px;
    color: #757575;
}
.ec-base-product .layerDiscountPeriod .btnClose {
    position: absolute;
    top: 8px;
    right: 4px;
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    font-size: 0;
    background: url("../img/mobile/ico_close_white.png") center center no-repeat;
    background-size: 50% 50%;
}
.ec-product-bgLT {
    background-position: left top;
}
.ec-product-bgLC {
    background-position: left center;
}
.ec-product-bgLB {
    background-position: left bottom;
}
.ec-product-bgRT {
    background-position: right top;
}
.ec-product-bgRC {
    background-position: right center;
}
.ec-product-bgRB {
    background-position: right bottom;
}
.ec-product-bgCT {
    background-position: center top;
}
.ec-product-bgCC {
    background-position: center center;
}
.ec-product-bgCB {
    background-position: center bottom;
}
.ec-base-product .grid1 > li {
    width: 100%;
}
.ec-base-product .grid2 > li {
    width: 50%;
}
.ec-base-product .grid3 > li {
    width: 33.333%;
}
.ec-base-product .grid4 > li {
    width: 25%;
}
.ec-base-product .grid5 > li {
    width: 20%;
}
.btnBasic,
.btnEm,
.btnNormal,
.btnStrong,
.btnSubmit {
    display: inline-block;
    letter-spacing: 0;
    text-align: center;
    font-family: Verdana,"맑은 고딕",Malgun Gothic,"돋움",Dotum;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btnBasic,
.btnNormal,
.btnStrong {
    height: 29px;
    line-height: 27px;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 13px;
}
.btnNormal {
    color: #1b1b1b;
    border: 1px solid #cfcfcf;
    border-bottom-color: #b5b5b5;
    background: #fff;
}
.btnStrong {
    color: #fff;
    border: 1px solid #444;
    border-bottom-color: #333;
    background: #444;
}
.btnSubmit {
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid #444;
    background: #444;
}
.btnEm {
    height: 36px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    background: #fff;
}
.btnBasic {
    color: #1b1b1b;
    border: 1px solid #bcbcbc;
    background: #f0f0f0;
}
[class*="btn"].mini {
    height: 26px;
    line-height: 24px;
    font-size: 11px;
}
.ec-base-button .soldout {
    cursor: default;
}
.btnIcon {
    max-width: 12px;
    max-height: 12px;
    background-size: 100% 100%;
}
.ec-base-button {
    margin: 10px auto;
    text-align: right;
}
.ec-base-button:after {
    content: "";
    display: block;
    clear: both;
}
.ec-base-button.typeMulti {
    margin: 0 auto;
    padding: 7px;
}
.ec-base-button.typeMulti .gBottom:after,
.ec-base-button.typeMulti .gTop:after {
    content: "";
    display: block;
    clear: both;
}
.ec-base-button.typeMulti .gBottom {
    margin: 7px 0 0;
    padding: 7px 0 0;
    border-top: 1px solid #d5d5d5;
    clear: both;
}
.ec-base-button.gLeft {
    text-align: left;
}
.ec-base-button.gCenter {
    text-align: center;
}
.ec-base-button.gRight {
    text-align: right;
}
.ec-base-button .gLeft {
    float: left;
    text-align: left;
}
.ec-base-button .gRight {
    float: right;
}
.ec-base-button[class*="gColumn"] {
    display: flex;
    margin: 10px 0 10px -4px;
}
.ec-base-button[class*="gColumn"]:after {
    content: none;
}
.ec-base-button[class*="gColumn"] a,
.ec-base-button[class*="gColumn"] button {
    flex: 1;
    margin: 0 0 0 4px;
    padding: 0 3px;
    white-space: nowrap;
}
.ec-base-button[class*="gColumn"] .gFlex2 {
    flex: 2;
}
.ec-base-button[class*="gColumn"] .gFlex3 {
    flex: 3;
}
.ec-base-button[class*="gColumn"] .gFlex4 {
    flex: 4;
}
.ec-base-button.gFull {
    margin-bottom: 3px;
}
.ec-base-button.gFull [class*="btn"],
[class*="btn"].gFull {
    width: 100%;
}
.ec-base-button.gFull [class*="btn"] {
    margin: 0 0 7px;
}
.ec-base-button.gFixed {
    position: fixed;
    z-index: 120;
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 7px;
    box-sizing: border-box;
    background-color: #dbdbdb;
    -webkit-box-shadow: 0 -4px 4px 0 rgba(120,120,120,0.5);
    -moz-box-shadow: 0 -4px 4px 0 rgba(120,120,120,0.5);
    box-shadow: 0 -4px 4px 0 rgba(120,120,120,0.5);
}
.ec-base-button.gFixed .state + .ec-base-button {
    margin-top: 3px;
}
.ec-base-button.gFixed .state {
    overflow: hidden;
    margin: 0 auto;
    font-size: 11px;
}
.ec-base-button.gFixed .state .count {
    float: left;
    padding: 7px 0;
}
.ec-base-button.gFixed .state .price {
    float: right;
    padding: 7px 0;
}
.ec-base-button.gFixed .price strong {
    font-weight: normal;
}
.ec-base-button.gFixed .count strong,
.ec-base-button.gFixed .price em {
    color: #508bed;
    font-weight: bold;
}
@media all and (min-width:768px) {
    .btnSubmit {
        height: 46px;
        line-height: 44px;
        font-size: 16px;
    }
    .btnEm {
        height: 46px;
        line-height: 44px;
        font-size: 16px;
    }
}
.ec-base-layer .ec-base-button {
    margin: 0;
    padding: 7px 14px 7px 10px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background: #f1f1f1;
}
.ec-base-layer .ec-base-button.gFull {
    padding: 7px 14px 0;
}
.ec-base-layer .ec-base-button.gFixed .ec-base-button {
    padding: 0;
    border-top: 0;
}
.ec-base-layer .wrap + .ec-base-button {
    border-top: 0;
}
#main .swiper-container-horizontal > .swiper-pagination-bullets,
#main .swiper-pagination-custom,
#main .swiper-pagination-fraction {
    bottom: 5px !important;
}
#main .typeGallery .prdList {
    margin: 0 0 10px;
}
#main .product-b {
    background: #eaeced;
}
#main .tabProd {
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    margin: 30px 10px;
}
#main .tabProd .tab {
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
}
/* 탭 변경 (기존 사용거)
#main .tabProd .tab li {
    width: 33.3333%;
    float: left;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background: #f1f1f1;
}*/
/* 변경한 것 */
#main .tabProd .tab li {
    text-align: center;
    font-size: 11px;
    color: #888;
	
}
#main .tabProd .tab li > p {
	/*background-color:#e2e2e2;*/
    box-sizing: border-box;
    color: #555;
    padding: 10px 0;
}
#main .tabProd .tab .description .name{
    height:55px;
    vertical-align: middle;
/*    display: table-cell;*/
}
/*
#main .tabProd .tab li.tab_on > p {
    background: #fff;
    border-top: 1px solid #888;
}*/
/* 변경한 것 */
#main .tabProd .tab li.tab_on > p {
    background: #e2e2e2;
	width:100%;
    border-top: 1px solid #e2e2e2;
}
#main .dp-block2 {
    margin: 30px 0;
}
#main .dp-block2 img {
    width: 100%;
}
#main .dp-block3 {
    margin: 0 10px 30px;
}
#main .dp-block3 .box_top .bx-controls-auto,
#main .dp-block3 .box_top .bx-pager {
    width: 100%;
    z-index: 30;
    font-size: 0;
    text-align: center;
    left: 0;
}
#main .dp-block3 .box_top .bx-pager {
    /*bottom: 10px;*/ /*이미지 안에 동그라미 넣기위해 주석처리*/
}
#main .dp-block3 .box_top .item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
}
#main .dp-block3 .box_top .item a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 0;
}
#main .dp-block3 .box_top .item a img {
    width: 100%;
}
#main .dp-block3 .box_top .bx-controls .bx-pager .bx-pager-item {
    display: inline-block;
    margin-top: 7px;
}
#main .dp-block3 .box_top .bx-controls .bx-pager .bx-pager-item a {
    width: 6px;
    height: 6px;
    border: 1px solid #999;
    opacity: 0.9;
    background: none;
}
#main .dp-block3 .box_top .bx-controls .bx-pager .bx-pager-item a.active {
    background: none !important;
    border: 1px solid #111;
}
#main .dp-block3 .box_top .bx-controls-direction {
    display: none;
}
#main .dp-block3 .box_btm ul {
    text-align: center;
    overflow: hidden;
}
#main .dp-block3 .box_btm ul li {
    float: left;
    width: 50%;
}
#main .dp-block3 .box_btm ul li a {
    display: block;
    margin: 2px 1px 0;
}
#main .dp-block3 .box_btm ul li img {
    width: 100%;
}
#main .dp-block4 .item a img {
    width: 100%;
}
#main .dp-block4 .bx-wrapper .bx-controls-direction a {
    width: 25px;
    height: 20px;
}
#main .dp-block4 .bx-wrapper .bx-controls-direction a.bx-prev {
    background: url("../img/mobile/btn_prev.png") no-repeat 50% 50%;
    background-size: 7px auto;
    left: 0;
}
#main .dp-block4 .bx-wrapper .bx-controls-direction a.bx-next {
    background: url("../img/mobile/btn_next.png") no-repeat 50% 50%;
    background-size: 7px auto;
    right: 0;
}
@media all and (min-width:768px) {
    .content_left {
        width: 50%;
        float: left;
    }
    .content_right {
        width: 50%;
        float: right;
    }
    #footer .footerMenu {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    #footer .util {
        width: 50%;
        float: right;
        box-sizing: border-box;
    }
    #footer .policy {
        clear: both;
    }
}
.ec-base-product .discount_rate {
    display: none;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
    z-index: 10;
    background: #de3636;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 11px;
    border-radius: 50px;
    opacity: 0.8;
}
.ec-base-product [class*="grid1"] > li .discount_rate {
    right: 26px;
    top: 9px;
}
.best_label {
    position: absolute;
    top: 3px;
    right: 3px;
    color: #fff;
    text-align: center;
    z-index: 10;
    width: 30px;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    background-color: rgba(27,27,27,0.7);
}
#topBanner {
    position: relative;
    overflow: hidden;
    /*height: 0;*/
}
#topBanner .close {
    position: absolute;
    top: 10%;
    right: 10px;
    z-index: 999;
    height:200px;
    width:10%;
}
#topBanner .close > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 1px;
    background: rgba(17,17,17,0.55);
}
#topBanner .close > .line1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
#topBanner .close > .line2 {
    transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
}
#topBanner .swiper-pagination {
    bottom: 3px;
}
#topBanner .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
#header .header {
    z-index: 300;
    position: relative;
    text-align: center;
    vertical-align: top;
    text-align: left;
}
#header .xans-layout-mobilenavigation ul {
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}
#header .xans-layout-mobilenavigation ul li {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    z-index: 10;
}
#header .xans-layout-mobilenavigation ul li a {
    height: 31px;
    line-height: 31px;
    font-size: 11px;
    color: #777;
    text-align: center;
}
#header .xans-layout-mobilenavigation ul li .point {
    position: absolute;
    top: 27px;
    left: 2px;
    width: 50px;
    height: 21px;
}
#header .xans-layout-mobilenavigation ul li .point img {
    width: 100%;
}
#header .headerWrap {
    height: 70px;
    background: #fff;
}
#header .headerWrap .inner {
    position: relative;
    display: table;
    width: 100%;
    height: 70px;
    transition: all 0.5s ease;
}
#header .headerWrap.fixed .inner {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.75);
    height: 50px;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#header .headerWrap h1 {
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    display: table-cell;
}
#header .headerWrap h1 img {
    width: 40%;
    max-width: 200px;
    vertical-align: middle;
    font-size: 12px;
}
#header .headerWrap .basket,
#header .headerWrap .bookmark,
#header .headerWrap .category,
#header .headerWrap .search {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
#header .headerWrap .category {
    left: 0;
}
#header .headerWrap .category a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    background: url("../img/mobile/btn_category.png") no-repeat center;
    background-size: 20px;
}
#header .headerWrap .bookmark {
    left: 30px;
}
#header .headerWrap .bookmark a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    background: url("../img/mobile/btn_bookmark.png") no-repeat center;
    background-size: 20px;
}
#header .headerWrap .search {
    right: 0;
}
#header .headerWrap .search button {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    text-indent: 100%;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    border: 0;
    background: url("../img/mobile/btn_search.png") no-repeat center;
    background-size: 20px;
}
#header .headerWrap .basket {
    right: 30px;
}
#header .headerWrap .basket a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    background: url("../img/mobile/btn_cart.png") no-repeat center;
    background-size: 20px;
}
#header .headerWrap .basket a .count {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 41px;
    border-radius: 7px;
    padding: 1px 4px;
    text-indent: 0;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background-color: #888;
    margin-left: 3px;
}
.nav {
    border-top: 1px solid #ddd;
}
.nav ul {
    background-color: #fff;
}
.nav ul.grid3 li {
    width: 33.33%;
}
.nav ul.grid4 li {
    width: 25%;
}
.nav ul.grid5 li {
    width: 20%;
}
.nav ul.grid6 li {
    width: 16.66%;
}
.nav ul.bg {
    background-color: #f5f5f5;
}
.nav ul {
    overflow: hidden;
    margin-left: -1px;
}
.nav ul li {
    float: left;
}
.nav ul li.color a {
    color: red;
}
.nav ul li a {
    display: block;
    text-align: center;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #eee;
}
.nav ul li img {
    width: 16px;
}
#footer {
    border-top: 1px solid #ddd;
    display: block;
    clear: both;
}
#footer .footerMenu {
    background: #fff;
    overflow: hidden;
    display: table;
    width: 100%;
}
#footer .footerMenu h5 {
    font-size: 13px;
    color: #655c5b;
    padding: 15px 0 8px;
}
#footer .footerMenu .btn {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#footer .footerMenu .btn a {
    background: #fff;
    border: 1px solid #ddd;
    color: #555;
    margin: 10px 5px;
    letter-spacing: -1px;
    border-radius: 2px;
    font-size: 11px;
    padding: 8px 0;
    display: block;
    font-weight: bold;
}
#footer .footerMenu .btn a img {
    width: 12px;
    vertical-align: top;
}
#footer .footerMenu .left,
#footer .footerMenu .right {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding-bottom: 60px;
    border: 0;
    margin: 0;
    text-align: center;
}
#footer .footerMenu .left .tel {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #111;
    padding-bottom: 3px;
}
#footer .footerMenu .left .tel img {
    max-width: 13px;
    vertical-align: -1px;
}
#footer .footerMenu .left .runtime {
    color: #2f2f2f;
    font-size: 11px;
    line-height: 13px;
    color: #777;
}
#footer .footerMenu .right .banknum {
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    color: #2f2f2f;
}
#footer .footerMenu .right .name {
    color: #777;
    margin-top: 3px;
    font-size: 11px;
    line-height: 13px;
}
#footer .util {
    background: #f9f9f9;
    padding: 10px;
}
#footer .util ul {
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    margin-top: -1px;
}
#footer .util ul li {
    width: 25%;
    float: left;
}
#footer .util ul li a {
    border-right: 1px dotted #eee;
    font-size: 10.5px;
    color: #7d7d7d;
    text-align: center;
    display: block;
    padding: 10px 0;
}
#footer .util ul li:last-child a {
    border-right: 0;
}
#footer .util ul li img {
    width: 26px;
}
#footer .policy {
    padding: 7px 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #424952;
    padding: 12px 0;
    background: #232a32;
}
#footer .policy li {
    position: relative;
    display: inline-block;
    padding: 0 6px 0 7px;
    line-height: 13px;
    font-size: 11px;
}
#footer .policy li:before {
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 11px;
}
#footer .policy li:first-child:before {
    display: none;
}
#footer .policy a {
    color: #eee;
}
#footer address .footerInfo {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #232a32;
}
#footer address .footerInfo .info {
    text-align: center;
}
#footer address .footerInfo .info,
#footer address .footerInfo .info a {
    font-size: 11px;
    color: #aaa;
}
#footer .copyright {
    text-align: center;
    background-color: #232a32;
    padding: 8px 0;
}
#footer .copyright,
#footer .copyright a {
    color: #777777;
    font-size: 9px;
}
.side_banner {
    position: fixed;
    bottom: 25px;
    left: 10px;
    width: 52px;
    z-index: 100;
}
.side_banner p {
    overflow: hidden;
    border-radius: 40px;
    margin: 3px 0 0;
}
.side_banner p img {
    width: 100%;
}
.go-top {
    position: fixed;
    bottom: -35px;
    right: 20px;
    z-index: 100;
    background: rgba(0,0,0,0.4);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 39px;
    text-align: center;
    transition: bottom 0.5s ease;
}
.go-top.show {
    bottom: 20px;
}
.go-top a {
    display: block;
}
.xans-product-normalmenu .gridType {
    float: right;
    font-size: 0;
}
.xans-product-normalmenu .gridType li {
    display: inline-block;
    width: 30px;
    height: 26px;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
}
.xans-product-normalmenu .gridType li.selected {
    border: 1px solid #1b1b1b;
}
.xans-product-normalmenu .gridType li a {
    display: block;
    height: 100%;
}
.xans-product-normalmenu .gridType li.g1 {
    background-image: url("../img/mobile/list_g1.png");
}
.xans-product-normalmenu .gridType li.g2 {
    background-image: url("../img/mobile/list_g2.png");
}
.xans-product-normalmenu .gridType li.g3 {
    background-image: url("../img/mobile/list_g3.png");
}
.xans-product-normalmenu .gridType li.g4 {
    background-image: url("../img/mobile/list_g4.png");
}
.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {}
.bx-wrapper .bx-viewport {
    left: 0;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("../img/mobile/bxslider/bx_loader.gif") center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: 0.85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
	/*padding-top: 20px;*/ /*이미지 안에 동그라미 넣기위해 주석처리*/
    padding-bottom: 35px;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    outline: 0;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #555;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #555;
}
.bx-wrapper .bx-prev {}
.bx-wrapper .bx-next {}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-prev:hover {
    opacity: 0.6;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    text-indent: -9999px;
    z-index: 79;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url("../img/mobile/bxslider/controls.png") -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url("../img/mobile/bxslider/controls.png") -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px;
}
/*
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}*/
/*변경후*/
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    width: 100%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(80,80,80,0.75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: 0.85em;
    padding: 10px;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
    float: left;
}
.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translate3d(0px,0,0);
    -o-transform: translate(0px,0px);
    -ms-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}
.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform,height;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}
button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #555;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px,-50%,0);
    -moz-transform: translate3d(0px,-50%,0);
    -o-transform: translate(0px,-50%);
    -ms-transform: translate3d(0px,-50%,0);
    transform: translate3d(0px,-50%,0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
}
.swiper-pagination-progress {
    background: rgba(0,0,0,0.25);
    position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255,255,255,0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000;
}
.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(right,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(right,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,0.5),rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px;
}
.swiper-container-cube,
.swiper-container-flip {
    overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter:blur(50px);
    filter:blur(50px);
    z-index: 0;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}
.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}
.swiper-scrollbar-cursor-drag {
    cursor: move;
}
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    animation: swiper-preloader-spin 1s steps(12,end) infinite;
}
.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}
.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
}
.xans-layout-multishopshipping {
    display: none;
}
.xans-layout-multishopshipping .worldshipLayer {
    z-index: 1000;
    position: fixed;
    top: 200px;
    left: 50%;
    width: 306px;
    margin: 0 0 0 -153px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);
}
.xans-layout-multishopshipping .worldshipLayer h2 {
    margin: 0;
    padding: 0 14px;
    font-size: 13px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    background: #f1f1f1;
    .xans-layout-multishopshipping border-radius: 5px 5px 0 0;
}
.xans-layout-multishopshipping .worldshipLayer .content {
    padding: 20px 14px 14px;
    text-align: center;
    line-height: 1.5em;
}
.xans-layout-multishopshipping .worldshipLayer .select {
    margin: 14px 0 0;
}
.xans-layout-multishopshipping .worldshipLayer .select select {
    width: 100%;
}
.xans-layout-multishopshipping .worldshipLayer .btnArea.type2 {
    margin: 0;
    padding: 6px 14px 7px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background: #f1f1f1;
}
.xans-layout-multishopshipping .worldshipLayer .btnClose {
    position: absolute;
    top: 12px;
    right: 14px;
}
body {
    position: relative;
}
#wrap {
    min-height: 100%;
}
html.expand body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden !important;
}
html.expand #container {
    -webkit-transform: translate(87%,0);
    -moz-transform: translate(87%,0);
    -ms-transform: translate(87%,0);
    -o-transform: translate(87%,0);
    transform: translate(87%,0);
}
html.expand #btnFoldLayout {
    z-index: 405;
}
html.expand #aside {
    z-index: 0;
    overflow-x: hidden;
}
#aside {
    z-index: -1;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    min-width: 225px;
    width: 87%;
    font-size: 11px;
    background-color: #f9f9f9;
    padding: 15px;
    box-sizing: border-box;
}
#aside .btnClose {
    position: absolute;
    top: 0;
    right: 0;
}
#aside .btnClose {
    display: block;
    padding: 13px;
}
#aside .toparea .block {
    height: 20px;
    padding: 10px 0;
}
#aside .btnarea .btnBasic,
#aside .btnarea .btnStrong {
    width: 49%;
    text-align: center;
    height: 32px;
    line-height: 31px;
    border-radius: 30px;
}
#aside .btnarea .btnBasic {
    background: #f9f9f9;
    border: 1px solid #444;
    color: #444;
}
#aside .myshop_ico {
    border: 0;
    background: none;
    margin: 10px 0 0;
}
#aside .myshop_ico a {
    float: left;
    width: 25%;
    padding: 40px 0 8px;
    color: #444;
    text-align: center;
    border-right: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-sizing: border-box;
    -o-sizing: border-box;
    box-sizing: border-box;
}
#aside .myshop_ico a span {
    display: inline-block;
    min-width: 12px;
    height: 12px;
    background: #555;
    font-size: 10px;
    border-radius: 20px;
    line-height: 13px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
}
#aside .myshop_ico a:first-child {
    border-left: 0;
}
#aside .myshop_ico:after {
    content: "";
    display: block;
    clear: both;
}
#aside .myshop_ico a.wishList {
    background: url("../img/mobile/side_wish_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.recentList {
    background: url("../img/mobile/side_recent_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.orderList {
    background: url("../img/mobile/side_order_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.basketList {
    background: url("../img/mobile/side_basket_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.noticeList {
    background: url("../img/mobile/side_notice_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.qnaList {
    background: url("../img/mobile/side_qna_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.reviewList {
    background: url("../img/mobile/side_review_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .myshop_ico a.myshopList {
    background: url("../img/mobile/side_my_list.png") no-repeat 50% 15px;
    background-size: 18px;
}
#aside .tab {
    margin: 20px 0 0;
    overflow: hidden;
}
#aside .tab a {
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-bottom: 1px solid #555555;
    background: #eee;
    float: left;
    text-align: center;
    padding: 10px 0;
    border-left: 0;
}
#aside .tab a:first-child {
    border-left: 1px solid #ddd;
}
#aside .tab a.selected,
#aside .tab a.selected:first-child {
    border: 1px solid #555;
    border-bottom: 0;
    background: none;
    padding-bottom: 11px;
}
#aside #slideBoardList {
    display: none;
}
#aside #slideBoardList ul li {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    line-height: 35px;
    height: 35px;
    border-top: 1px solid #fff;
}
#aside #slideBoardList ul li:first-child {
    border-top: 0;
}
#aside #slideBoardList ul li a {
    display: block;
    font-size: 12px;
    letter-spacing: -0.5px;
}
#aside #slideMyShop {
    display: none;
}
#aside #slideMyShop ul li {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    line-height: 35px;
    height: 35px;
    border-top: 1px solid #fff;
}
#aside #slideMyShop ul li:first-child {
    border-top: 0;
}
#aside #slideMyShop ul li a {
    display: block;
    font-size: 12px;
    letter-spacing: -0.5px;
}
#slideCateList h2 {
    position: relative;
    padding: 0 34px 0 14px;
    border: 1px solid #e3e3e3;
    line-height: 28px;
    color: #555555;
    font-weight: bold;
    background: #ececec;
    font-size: 11px;
    margin-top: 15px;
    cursor: pointer;
}
#slideCateList h2.selected .icoCategory {
    background-image: url("../img/mobile/side_snb_1depth_on.gif");
}
#slideCateList h2 .icoCategory {
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 0;
    width: 30px;
    height: 29px;
    padding: 0;
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    background: url("../img/mobile/bg_snb_1depth.gif") no-repeat 7px 50%;
    background-size: 13px 8px;
}
#aside .categoryList {
    font-size: 12px;
}
#aside .categoryList ul {
    display: none;
}
#aside .categoryList li {
    position: relative;
}
#aside .categoryList li.selected > ul {
    display: block;
}
#aside .categoryList li.selected > a.cate {
    color: #555555;
}
#aside .categoryList li.noChild:first-child > a.cate {
    border-top: 0;
}
#aside .categoryList > li {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #fff;
}
#aside .categoryList > li:first-child {
    border-top: 0;
}
#aside .categoryList > li > a.cate {
    background: url("../img/mobile/bg_snb_1depth.gif") no-repeat 10px 50%;
    background-size: 9px;
}
#aside .categoryList > li.selected > a.cate {
    background-image: url("../img/mobile/side_snb_1depth_on.gif");
}
#aside .categoryList > li > ul > li > a.cate {
    padding-left: 35px;
    border-top: 1px solid #ebebeb;
    background: url("../img/mobile/bg_snb_2depth.gif") no-repeat 23px 50%;
    background-size: 9px;
    font-size: 12px;
    font-weight: normal;
}
#aside .categoryList > li > ul > li.selected > a.cate {
    border-bottom: 1px solid #ebebeb;
    background-image: url("../img/mobile/side_snb_2depth_on.gif");
    background-size: 9px;
}
#aside .categoryList > li > ul > li > ul > li > a.cate {
    padding-left: 49px;
    background: url("../img/mobile/bg_snb_2depth.gif") no-repeat 29px 50%;
    background-size: 9px;
}
#aside .categoryList > li > ul > li > ul > li.selected > a.cate {
    border-bottom: 1px solid #ebebeb;
    background-image: url("../img/mobile/side_snb_2depth_on.gif");
    background-size: 9px;
}
#aside .categoryList > li > ul > li > ul > li > ul > li a.cate {
    padding-left: 56px;
}
#aside .categoryList a.cate {
    display: block;
    padding: 10px 40px 9px 25px;
    word-wrap: break-word;
}
#aside .categoryList a.view {
    position: absolute;
    right: 10px;
    top: 10px;
}
#aside .categoryList a.view img {
    width: 5px;
}
#aside .categoryList li.noChild > a.view {
    display: none;
}
#aside .bookmarkCategory {
    font-size: 13px;
}
#aside .bookmarkCategory li {
    position: relative;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #fff;
}
#aside .bookmarkCategory li:first-child {
    border-top: 0;
}
#aside .bookmarkCategory li.selected {
    background-color: #555555;
}
#aside .bookmarkCategory li a {
    display: block;
    margin-right: 35px;
    padding: 11px 10px 11px 17px;
    word-wrap: break-word;
}
#aside .bookmarkEmpty {
    padding: 8px 0 6px 12px;
    border-bottom: 1px solid #cccccc;
    color: #798490;
    font-size: 11px;
    line-height: 16px;
    background: #f1f1f1;
}
#aside .bookmarkEmpty img {
    width: 11px;
    height: 11px;
    vertical-align: -1px;
}
#aside .bookmarkCategory li .icoBookmark,
#aside .xans-layout-category li .icoBookmark {
    overflow: hidden;
    position: absolute;
    right: 1px;
    top: 0;
    width: 30px;
    height: 41px;
    padding: 0;
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    background: url("/theme/onk/img/mobile/ico_bookmark.png") no-repeat 5px 14px;
    background-size: 13px 13px;
    cursor: pointer;
}
#aside .bookmarkCategory li .icoBookmark.selected,
#aside .xans-layout-category li .icoBookmark.selected {
    background-image: url("/theme/onk/img/mobile/ico_bookmark_on.png");
}
#aside .multishop .xans-layout-multishoplistmultioptioncountry li a {
    padding: 9px 10px 11px 17px;
    font-size: 13px;
}
#aside .xans-multishop-listitem li {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}
#aside .xans-multishop-listitem li:first-child {
    border-top: 0;
}
#aside .xans-multishop-listitem li a {
    display: block;
    padding: 6px 10px 6px 14px;
    word-wrap: break-word;
}
#aside .xans-multishop-listitem li a .name {
    margin: 0 0 0 5px;
    font-size: 13px;
    vertical-align: middle;
}
#container {
    z-index: 100;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #fff;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
#btnFoldLayout {
    display: none;
    position: absolute;
    left: 87%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    and -webkit-focus-ring-color: rgba(0,0,0,0);
}
.xans-layout-searchheader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 1px;
}
.xans-layout-searchheader .searchForm {
    position: relative;
    margin: 7px 115px 7px 14px;
    padding: 0 34px 0 13px;
    border: 1px solid #ccc;
}
.xans-layout-searchheader .btnDelete {
    position: absolute;
    right: 7px;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    font-size: 0;
    white-space: nowrap;
    background: url("/theme/onk/img/mobile/btn_delete.png") no-repeat 0 0;
    background-size: 20px 20px;
}
.xans-layout-searchheader #keyword {
    width: 100%;
    height: 29px;
    padding: 0;
    border: 0;
}
.xans-layout-searchheader .btnClose {
    position: absolute;
    right: 14px;
    top: 7px;
    width: 40px;
    height: 31px;
    margin: 0;
    padding: 0;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    outline-style: none;
    cursor: pointer;
    background: #f0f0f0;
    font-size: 11px;
    text-align: center;
}
.xans-layout-searchheader .btnSearch {
    position: absolute;
    right: 60px;
    top: 7px;
    width: 50px;
    height: 31px;
    margin: 0;
    padding: 0;
    border: 1px solid #666;
    border-radius: 4px;
    outline-style: none;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    background: #777777;
    color: #fff;
}
.xans-layout-searchheader .tab {
    font-size: 13px;
    background: #fff;
}
.xans-layout-searchheader .tab ul {
    height: 36px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #777777;
    font-size: 0;
}
.xans-layout-searchheader .tab ul:after {
    content: "";
    display: block;
    clear: both;
}
.xans-layout-searchheader .tab li.selected {
    background: #777777;
}
.xans-layout-searchheader .tab li {
    float: left;
    width: 50%;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
}
.xans-layout-searchheader .tab li.selected a {
    border-top: 1px solid #777777;
    margin: -1px 0 0;
    color: #fff;
    font-weight: bold;
}
.xans-layout-searchheader .tab li a {
    display: inline-block;
    width: 100%;
    color: #1b1b1b;
    font-size: 13px;
    line-height: 35px;
}
.xans-layout-searchheader .xans-search-hotkeyword {
    background: #f8f8f8;
}
.xans-layout-searchheader .xans-search-hotkeyword ul {
    overflow-y: auto;
    max-height: 278px;
    padding: 7px 14px 7px 0;
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
    font-size: 0;
}
.xans-layout-searchheader .xans-search-hotkeyword li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.xans-layout-searchheader .xans-search-hotkeyword li a {
    display: inline-block;
    padding: 4px 8px;
    color: #1b1b1b;
    font-size: 11px;
}
.xans-layout-searchheader .xans-search-hotkeyword li a:before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 1px;
    height: 13px;
    background: #757575;
}
.xans-layout-searchheader .xans-search-hotkeyword li:last-child a:before {
    display: none;
}
.xans-layout-searchheader .xans-search-recentkeyword {
    background: #f8f8f8;
}
.xans-layout-searchheader .xans-search-recentkeyword p {
    padding: 12px 14px 11px;
    border-bottom: 1px solid #d5d5d5;
    color: #787878;
    font-size: 13px;
    text-align: left;
}
.xans-layout-searchheader .xans-search-recentkeyword ul {
    overflow-y: auto;
    max-height: 252px;
    text-align: left;
}
.xans-layout-searchheader .xans-search-recentkeyword li {
    position: relative;
    padding: 0 39px 0 0;
    border-bottom: 1px solid #d5d5d5;
}
.xans-layout-searchheader .xans-search-recentkeyword li a {
    display: block;
    padding: 12px 0 11px 14px;
    color: #1b1b1b;
    font-size: 13px;
    min-height: 13px;
}
.xans-layout-searchheader .xans-search-recentkeyword li .btnSearchDelete {
    position: absolute;
    right: 14px;
    top: 10px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    background: url("/theme/onk/img/mobile/btn_delete.png") no-repeat 0 0;
    background-size: 20px 20px;
}
.xans-layout-searchheader .xans-search-recentkeyword .button {
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    background: #f1f1f1;
}
.xans-layout-searchheader .xans-search-recentkeyword .button .btnDeleteAll {
    display: inline-block;
    height: 29px;
    line-height: 29px;
    margin: 0;
    padding: 0 18px;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    cursor: pointer;
    vertical-align: middle;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.xans-board-mainpackage {
	margin:14px 7px 0;
	border:1px solid #d5d5d5;
	border-bottom:none;
	background:#fff;
}
.xans-board-mainpackage a {
	display:block;
	padding:12px 35px 11px 32px;
	line-height:1.5em;
	color:#1b1b1b;
	background:url("/theme/onk/img/mobile/btn_more_board.png") no-repeat scroll 97% 50%;
	background-size:8px 13px;
}
.xans-board-mainpackage li {
	border-bottom:1px solid #d5d5d5;
}
.xans-board-mainpackage div.xans-layout-boardinfo li {
	background:url("/theme/onk/img/mobile/ico_borad.png") no-repeat 14px 50%;
	background-size:11px 13px;
}
.xans-board-mainpackage div.xans-layout-opdiarybanner li {
	background:url("/theme/onk/img/mobile/ico_opdiary.png") no-repeat 14px 50%;
	background-size:12px 13px;
}
.xans-board-title .title {
    min-height: 30px;
    margin: 10px;
}
.xans-board-title .title h2 {
    display: inline-block;
    color: #2e2e2e;
    font-size: 16px;
}
.xans-board-title .title p {
    display: inline-block;
    margin: 0 0 0 6px;
    padding: 0 0 0 10px;
    color: #939393;
    vertical-align: bottom;
    background: url(http://img.echosting.cafe24.com/skin/base/layout/ico_bar.gif) no-repeat 0 0;
}
.free_trans_new {
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:10px;
	background:#de3636;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	opacity:0.8;
}
.free_trans { 
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:44px;
	background:#de3636;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	opacity:0.8;
}
.free_trans_md {
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:45px;
	background:#de3636;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	opacity:0.8;
}

/*무배나 할인,다배 중 하나 붙을 때 */
.multi_trans_0 {
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:15px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}

/*무배나 할인 중 하나가 이미 붙었을 때 */
.multi_trans_1 {
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:44px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}
/*할인,무배,다중 다 붙을 때*/
.multi_trans_2 {
	font-size:10px;
	width:30px;
	height:30px;
	line-height:14px;
	display:inline;
	z-index:100;
	position:absolute;
	top:10px;
	right:79px;
	background:#035398;
	color:#fff;
	text-align:center;
	border-radius:50px;
	font-weight:bold;
	letter-spacing:1px;
	box-sizing:border-box;
	box-shadow:inset 0px 0px 2px 0px rgba(189,189,189,1);
}

.desc_content {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*가로세로 기본*/
.w100 {width:100px;}
.w120 {width:120px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w160 {width:160px;}
.w180 {width:180px;}
.w200 {width:200px;}
.w220 {width:220px;}
.w240 {width:240px;}
.w250 {width:250px;}

.h100 {height:100px;}
.h120 {height:120px;}
.h140 {height:140px;}
.h150 {height:150px;}
.h160 {height:160px;}
.h180 {height:180px;}
.h200 {height:200px;}


