<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>오더스테이션 2021 05월 News Letter</title>
<style type="text/css">
    body {
        margin: 0px;
    }
    table, td {
        margin: 0px;
        padding: 0px;
        border-collapse: collapse;
    }
    img {
        display: block;
    }
</style>


<div align="center">
    <table width="900" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td><img src="https://www.orderstation.co.kr/newsletter/202105/img/1.jpg?ver=2" width="" height="" style="display: block;"></td>
        </tr>
        <tr>
            <td>
                <a href="https://www.orderstation.co.kr/shop/event.php?ev_id=1617932745&utm_source=msg&utm_medium=2105msg&utm_campaign=2105_newsletter" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202105/img/2.jpg" width="" height="" style="display: block;"></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://mb2.taejeongroup.com/mobile_app.html" target="_blank">
                    <img src="https://www.orderstation.co.kr/newsletter/202105/img/3.jpg" width="" height="" style="display: block;"></a>
            </td>
        </tr>
        <tr>
            <td><img src="https://www.orderstation.co.kr/newsletter/202105/img/4.jpg" width="" height="" style="display: block;"></td>
        </tr>
        </tbody>
    </table>
</div>


